.menu-button, .profile-info, .follow-men > a, .post-form button, .attachments > ul li:hover, .share-options > ul > li a:hover, .share-options > ul > li a.active, .main-btn, .album > figure span, .main-title::before, .profile-pic > a, .event-timing .postdate, .event-meta > a, ul.tabs li.active a, ul.tabs li.active a:hover, input[type=checkbox]:checked + label:before, .search-area > form button, .form2 button, .paginations > a:hover, .paginations > a.active, .more-attachments.active, .chat-head, .owl-dot.active::before {
    background: #1877f2;
}

ul.menu li a i, .main-title > a, .video > a i, ul.menu-left > li a, ul.menu-right > li a, .group-meta > h5 a:hover, .blog-meta > h5 a:hover, .blog-meta > span a, .close-btn, .user-options > a, .side-slide > ul li a:hover i, .side-slide > ul li a:hover, .more-options > ul li:hover, .comments-area > ul > li > a, .stat-tools > a.active, .logo-place > a, .user-name > h5, .follow-meta > a, .post-by > h5 > a, .news-meta .prv:hover, .news-meta .next:hover, .event-timing > h5, .group-detail > li > a, .event-item > a, .nearby-user .main-btn, .search-result > span, .commenter > a, .history-meta > h5 a:hover, .chat-desc > li > span, .price, .popular-box > a:hover, a.main-btn2, .main-btn2, .additional-info > ul li i, .attach-options > a i, .attach-options > a:hover, .user-short-mesg > p i, .search-area > form button:hover, .party-meta > h5 a:hover, .total-area > ul > li.order-total > i, .total-area > ul > li.order-total, .coupon-code > button, .new-post > i {
    color: #1877f2;
}

.logo-place {
    display: inline-block;
    width: unset;
    position: relative;
    left: 0;
}

.ac-settings {
    float: right;
    margin: 0;
}

.top-search {
    z-index: 999;
    float: right;
}

ul.menu-left i {
    font-size: 21px;
}

ul.menu-left li {
    width: 33.33%;
    margin: 0;
    float: left;
}

ul.menu-left li a {
    padding: 6px;
    width: 100%;
}

.bottom-header > ul > li span {
    right: 18px;
    top: 4px;
}

ul.menu-left i {
    color: #000;
}

ul.menu-left li.active {
    border-top: 2px solid #1877f2;
}

ul.menu-left li.active i {
    color: #1877f2;
}

ul.menu-left li.active a {
    color: #1877f2;
}

.login-area ul.tabs li.active a::before, .topbar {
    border-bottom-color: #1877f2;
}

.topbar.stick {
    position: relative !important;
}

header.topbar i {
    font-size: 20px;
}

ul.menu-left li a {
    font-size: 10px;
    display: grid;
}

ul.menu-left i {
    margin-bottom: 3px;
}

.topbar.jquery-stickit-spacer {
    display: none !important;
}

.select-do-kho {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #737373;
    border-radius: 30px;
    color: inherit;
    padding: 15px 50px 13px 20px;
    width: 100%;
    margin-bottom: 10px;
}

.user-post-content .post-meta strong {
    display: inline-block;
    margin: 5px 0px;
}

.user-post-content .user-name h5 {
    color: #000;
}

ul.menu-left li a {
    color: #000;
}

.redish:before {
    background: #1877f2;
}

.bottom-header {
    border-top: 1px solid #ccc;
    background: #fff;
}

.channel_follow_count {
    display: inline-block;
    width: unset !important;
}

.post-meta {
    color: #000;
}

.ac-settings {
    display: none;
}
.div-load-more img {
    max-width: 50px;
}
@media(max-width: 768px) {
    .big-ad img {
        max-height: 100px;
    }
}
.hide {
    display: none;
}
.full-width {
    width: 100% !important;
}
.user-name h5 {
    max-width: 238px;
}
.heart.happy {
    color: #b3b1c5;
}
.channel-intro {
    font-style: italic;
}
#input-search-mb {
    padding-right: 21px;
}