.like-page {
    float: left;
}
a.btn_like_action {
    display: block;
}

a.btn_like_action i {
    margin-right: 2px;
    color: #aaa;
}

a.btn_like_action {
    line-height: 18px;
    padding: 3px 13px;
    border-radius: 4px;
}

a.btn_like_action:hover span, a.btn_like_action:hover i {
    color: #1877f2;
}

a.btn_like_action.liked:hover i {
    color: #1877f2;
}
a.btn_like_action.liked span,a.btn_like_action.liked i {
    color: #1877f2;
}
span.count_like {
    margin-left: 2px;
}
.box-cmt textarea {
    padding: 0px;
    border: 0px;
    background: #edf2f6;
    border-radius: 17px;
    padding: 5px 7px;
}
.box-avatar {
    float: left;
    width: 8%;
    margin-right: 1%;
}

.box-input-cmt {
    overflow: hidden;
}

.box-input-cmt .box-cmt {
    float: left;
    width: 91%;
}
a.name_author {
    font-weight: bold;
}

.content_comment {
    background: #edf2f6;
    padding: 6px 10px;
    border-radius: 11px;
    width: max-content;
}

.item-comment {
    overflow: hidden;
}

p.content_comment_body {
    margin: 0px;
}
.box_comment {
    float: left;
    width: 91%;
}
.item-comment {
    margin: 8px 0px;
}
a.comment-btn {
    margin: 0px;
}
.coment-area textarea {
    width: 90%;
}
a.btn-send-cmt {
    width: 8%;
    display: inline-block;
    transform: translateY(-5px);
}

a.btn-send-cmt i {
    color: #1877f2;
    font-size: 16px;
}
.box-cmt a.btn-send-cmt{
    display:none
}
#tags-mb li.active.item {
    background: #005ca9;
    color: #ffff;
}
.overlow-post {
    overflow: hidden;
}
.post-content_html{
    overflow: hidden;
}