.top-area > ul {
    padding-left: 10px;
}

footer ul.location li {
    padding: 0;
    margin: 0;
}

.user-profile figure img {
    max-height: 300px;
}

img.lazy {
    opacity: 0;
}

.profile-menu > li {
    margin: 0 9px;
}

.profile-menu > li > a {
    padding: 0px 7px;
}

.top-search form input::-webkit-input-placeholder { /* Edge */
    color: rgb(5, 5, 5);
}

.top-search form input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(5, 5, 5);
}

.top-search form input::placeholder {
    color: rgb(5, 5, 5);
}

.user-post .post-meta {
    margin-top: 10px;
}

.user-post .post-meta strong {
    margin-bottom: 5px;
    display: inline-block;
}

@media (max-width: 768px) {
    #page-contents .user-profile {
        display: block;
    }

}

@media (min-width: 768px) {
    .top-search {
        margin-left: 30px;
    }


    .logo {
        float: left;
        width: unset;
    }

    .top-area {
        float: right;
        width: unset;
    }

    .cot-2 {
        width: 680px;
        max-width: unset;
        flex: unset;
    }

    .cot-1, .cot-3 {
        width: 295px !important;
        max-width: unset;
        flex: unset;
    }

    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1280px;
    }

    .top-search .chosen-container {
        display: none;
    }

    .top-search .select-do-kho {
        display: inline-block !important;
        width: 26%;
        padding: 7.7px;
        border-radius: 30px;
        border: 0;
        background: #f0f2f5;
        border-right: 1px solid #ccc;
    }

    .top-search {
        width: 50.7%;
    }

    .top-search .tim-kiem {
        width: 72%;
        display: inline-block;
        margin-left: 5px;
    }
}

.banner-kenh {
    max-height: 150px;
    overflow: hidden;
}

.we-video-info > ul li {
    margin-right: 4px;
}

#nprogress .bar, .timeline-info > ul li a::before, .add-btn > a, .activitiez > li::before, form button, a.underline:before, .setting-row input:checked + label, .user-avatar:hover .edit-phto, .add-butn, .nav.nav-tabs.likes-btn > li a.active, a.dislike-btn, .drop > a:hover, .btn-view.btn-load-more:hover, .accordion .card h5 button[aria-expanded="true"], .f-page > figure em, .inbox-panel-head > ul > li > a, footer .widget-title h4::before, #topcontrol, .sidebar .widget-title::before, .g-post-classic > figure > i::after, .purify > a, .open-position::before, .info > a, a.main-btn, .section-heading::before, .more-branches > h4::before, .is-helpful > a, .cart-optionz > li > a:hover, .paginationz > li a:hover, .paginationz > li a.active, .shopping-cart, a.btn2:hover, .form-submit > input[type="submit"], button.submit-checkout, .delete-cart:hover, .proceed .button, .amount-area .update-cart, a.addnewforum, .attachments li.preview-btn button:hover, .new-postbox .post-btn:hover, .weather-date > span, a.learnmore, .banermeta > a:hover, .add-remove-frnd > li a:hover, .profile-controls > li > a:hover, .edit-seting:hover, .edit-phto:hover, .account-delete > div > button:hover, .radio .check-box::after, .eror::after, .eror::before, .big-font, .event-time .main-btn:hover, .group-box > button:hover, .dropcap-head > .dropcap, .checkbox .check-box::after, .checkbox .check-box::before, .main-btn2:hover, .main-btn3:hover, .jalendar .jalendar-container .jalendar-pages .add-event .close-button, .jalendar .jalendar-container .jalendar-pages .days .day.have-event span::before, .user-log > i:hover, .total > i, .login-frm .main-btn, .search-tab .nav-tabs .nav-item > a.active::after, .mh-head, .job-tgs > a:hover, .owl-prev:hover:before, .owl-next:hover:before, .help-list > a, .title2::before, .fun-box > i, .list-style > li a:hover:before, .postbox .we-video-info > button:hover, .postbox .we-video-info > button.main-btn.color, .copy-email > ul li a:hover, .post-status > ul li:hover, .tags_ > a:hover, .policy .nav-link.active::before, a.circle-btn:hover, .mega-menu > li:hover > a > span, .pit-tags > a:hover, .create-post::before, .amount-select > li:hover, .amount-select > li.active, .pay-methods > li:hover, .pay-methods > li.active, .msg-pepl-list .nav-item.unread::before, .menu .btn:hover, .menu-item-has-children ul.submenu > li a::before {
    background: #1877f2;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.top-search {
    max-width: 659px;
}

.widget ul.company-posts {
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
}

#people-list figure img, .new-postbox > figure img, .friend-info > figure img, .comet-avatar > img, .followers > li figure img, .invition figure img, .nearly-pepls > figure img, .peoples > li figure img, .conversation-head > figure img, .peoples-mesg-box > ul li > figure img, .your-page > figure img, .notification-box > ul li figure img {
    vertical-align: middle !important;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
    object-fit: cover;

}

.pittop-meta > figure img {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

p {
    line-height: 24px;
    color: #151414;
}

.company-posts > li figure img {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}


.box-cau-hoi {
    width: 100%;
}

#page-contents {
    min-height: 800px;
}

.list-channel .likes.heart:hover {
    color: red;
}

.user-img > h5 {
    color: #000;
}

.user-setting {
    left: unset;
}

.channel_follow_count {
    display: inline-block;
    width: unset !important;
}
.div-load-more img {
    max-width: 70px;
}
.hide {
    display: none;
}
.full-width {
    width: 100% !important;
}
.heart.happy {
    color: #b3b1c5;
}
.position-meta .channel-intro {
    display: inline-block;
    margin-top: 5px;
    color: #000;
    font-style: italic;
    text-transform: inherit;
}