@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

/* ================ 1, Reset ==============  */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
    font-size: 14px;
	font-family: 'Montserrat', sans-serif;
}
ul li{
	list-style: none;
}
a{
	text-decoration: none;
}
a:hover{
    text-decoration: none !important;
}
/* ================ 2, section banner ==============  */
.bg_cont {
    position: relative;
    text-align: center;
}
main, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
.logo{
    position: absolute;
    top: 50px;
    margin: 0 auto;
    /* left: 0;
    right: 0; */
    background: url(http://vantage-logistics.com.vn/imgs/layout/bg_pa.png) repeat center center;
    width: 174px;
    height: 124px;
    display: block;
    top: 0;
    left: 50%;
    z-index: 100;
    transform: translateX(-50%);
    box-shadow: 0 0 9px rgba(0,0,0,0.6);
}
.logo img {
    display: block;
    width: 100%;
    height: 100%;
}
@media only screen and (max-width: 991px){
    .logo{
        width: 84px;
        height: 60px;
    }
}
.img_bg_cont {
    display: block;
    width: 100%;
    height: auto;
}
.item__img img {
    display: block;
    width: 100%;
    height: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.img_object_fit {
    object-fit: cover;
}
.t_cont {
    color: #000;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 50px;
    background: #FED002;
    padding: 0 30px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: inline-block;
    position: relative;
    top: -26px;
    margin: 0 auto;
    font-weight: 500;
    user-select: none;
}
.t_cont::before {
    content: "";
    border-bottom: 26px solid #507095;
    border-left: 7px solid transparent;
    cursor: pointer;
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: -7px;
    z-index: 1;
}
.t_cont::after {
    content: "";
    border-bottom: 26px solid #507095;
    border-right: 7px solid transparent;
    cursor: pointer;
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    right: -7px;
    z-index: 1;
}

/* ================ 3, section breadcumb ==============  */
.ul_breacrum {
    max-width: 1130px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.ul_breacrum > li {
    display: inline-block;
}
.ul_breacrum > li:hover a{
    color: #FED002;
}
.ul_breacrum > li i{
    opacity: 0.3;
    margin: 0 5px;
    position: relative;
    top: 1px;
}
.ul_breacrum > li > a {
    font-size: 12px;
    color: #333;
    text-transform: capitalize;
    opacity: 0.6;
}

/* ================ 3, section content ==============  */

.content{
    padding-bottom: 50px;
}

.content .content-category{
    margin: 0 0 30px;
}

.content .content-category .category-items{
    margin-bottom: 30px;
    position: relative;
}

.content .content-category .category-items .item{
    margin-bottom: 10px;
}

.content .content-category .category-items .item .item-link{
    width: 100%;
    display: inline-block;
    font-size: 14px;
    color: #000;
    background: #fff;
    border: 1px solid #ccc;
    padding: 15px 20px;
    border-left: 3.5px solid #000;
    transition: color .2s ease 0s;
}

.content .content-category .category-items .item .item-link.active,
.content .content-category .category-items .item .item-link:hover{
    color: #FED002;
    border: 1px solid #FED002;
    border-left: 3.5px solid #FED002;
}

.category-related .related-box{
    margin-top: 20px;
    padding: 0;
}

.category-related .related-box .box-img{
    position: relative;
    cursor: pointer;
}

.category-related .related-box .box-img img{
    width: 100%;
    display: block;
}

.category-related .related-box .box-img .box-title{
    position: absolute;
    top: 15px;
    left: 15px;
    background: #FED002;
    font-size: 13px;
    color: #000;
    font-weight: 400;
    padding: 3px 8px;
    cursor: pointer;
}

.category-related .related-box .box-content{
    border: 1px solid #ccc;
    padding: 15px;
    border-top: none;
    transition: all .25s;
    cursor: pointer;
}

.category-related .related-box .box-content .box-description{
    font-size: 13px;
    line-height: 22px;
    font-weight: 400;
    color: #000;
    text-transform: uppercase;
}

.category-related .related-box:hover .box-content{
    border: 1px solid #FED002;
    background:#FED002;
    border-top: none;
}

.content-main{
    background: #FAFAFA;
    padding: 15px;
    border: 1px solid #FAFAFA;
    margin-bottom: 15px;
}

.content-main .content-main-title{
    font-size: 16px;
    font-weight: 600;
    color: #000;
    text-transform:capitalize;
    margin-bottom: 15px;
}

.content-main .content-main-voting{
    display: flex;
    align-items: center;
    margin-bottom: 13px;
}

.content-main .content-main-voting .voting-star{
    display: flex;
}

.content-main .content-main-voting .voting-star .icon{
    margin-right: 5px;
    font-size: 18px;
    color: #ccc;
}

.content-main .content-main-voting .voting-detail{
    display: flex;
    margin-left: 5px;
}

.content-main .content-main-voting .voting-detail p{
    margin-right: 3px;
    font-size: 12px;
    font-weight: 400;
}


.content-main .content-main-date{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.content-main .content-main-date .icon{
    margin-right: 5px;
    font-size: 14px;
}

.content-main .content-main-date .post-date{
    font-size: 13px;
    letter-spacing: 2px;
}

.content-main .content-main-detail .detail-title{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 15px;
}

img{
    width: 100%;
    display: block;
}

.clearfix{
    display: block;
}

.f-detail{
    line-height: 1.7;
}

.f-detail p{
    padding: 0 0 10px 0;
}

.f-detail ul{
    margin: 10px 0;
}

.f-detail ul li{
    list-style: disc;
    margin-left: 30px;
}

.f-detail a {
    color: #1776ce;
}

.f-detail a:hover{
    text-decoration: underline !important;
}

a[href^="tel:"], a[href^="mailto:"] {
    color: #ff6c40;
}

.content-main .content-main-detail .content-prev a{
    color: #1877F2;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
    display: inline-block;
}

.share-social{
    display: flex;
    align-items: center;
}

.btn-submit{
    margin-right: 5px;
    background-color: #1776ce;
    border: 1px solid #1776ce;
    border-radius: 3px;
    padding: 3px 10px;
    color: #fff;
    font-size: 11px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
}

.btn-submit .btn-title{
    margin-left: 2px;
    margin-right: 2px;
}

.share .btn-share{
    color: #fff;
    padding: 3px 10px;
    font-size: 11px;
    font-weight: 600;
    border-radius: 3px;
    display: inline-block;
    background-color: #1776ce;
    margin-left: 5px;
}

.detail-tags{
    margin: 30px 0;
}

.detail-tags .tag-title p{
    padding: 3px 5px;
    background: #E2E2E2;
    font-size: 12px;
    opacity: .8;
    margin-right: 5px;
}

@media (max-width:525px){
    .detail-tags .tag-title p{
        margin-bottom: 5px;
    }
}

.detail-tags .tag-title p i{
    display: inline-block;
    transform: rotate(90deg);
    margin-right: 3px;
}

.detail-tags .tag-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: 5px;
}

.detail-tags .tag-list > li {
    margin-right: 5px;
}

.detail-tags .tag-list > li > a{
    display: inline-block;
    font-size: 12px;
    padding: 3px 5px;
    background: #E2E2E2;
    color: #000;
    transition: all .1s;
}

@media (max-width:525px){
    .detail-tags .tag-list > li > a{
        font-size: 12px;
    }
}

.detail-tags .tag-list > li > a:hover{
    background: rgb(226, 221, 221);
    color: #1877F2;
}

.detail-comment h2{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 30px;
}

.detail-comment .form-comment .vote-radio{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.detail-comment .form-comment .vote-radio h4{
    text-transform: uppercase;
    margin-right: 10px;
}

@media (max-width:525px){
    .detail-comment .form-comment .vote-radio h4{
        margin-bottom: 10px;
    }
}

.detail-comment .form-comment .vote-radio .radio-input .void_in{
    margin: 0 5px;
    position: relative;
    top: 2px;
    cursor: pointer;
}

.detail-comment .form-comment .vote-radio label{
    font-weight: 600;
}

.detail-comment .form-input{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.detail-comment .form-input .input-text{
    display: flex;
    flex-wrap: wrap;
}

.detail-comment .form-input .input-text input{
    border: none;
    outline: none;
}

.detail-comment .form-input .input-text .text-control{
    width: 120px;
    max-width: 100%;
    padding: 5px;
    font-size: 12px;
    margin-right: 10px;
    border: 1px solid #ccc;
    color: #000;
    margin-bottom: 10px;
}

@media (max-width:525px){
    .detail-comment .form-input .input-text .text-control{
        width: 100% !important;
        margin-right: 0;
    }
}

.detail-comment .form-input .input-text .text-control.email{
    width: 210px;
}

.detail-comment .form-input .input-text .btn-get-info{
    display: inline-block;
    color: #fff;
    background: #AEC90A;
    padding: 6px 5px;
    font-size: 11px;
}

@media (max-width:525px){
    .detail-comment .form-input .input-text .btn{
        width: 100%;
        background: #AEC90A;
        text-align: center;
        margin-bottom: 10px;
    }
}

.detail-comment .form-input textarea{
    outline: none;
    border: none;
    resize: none;
}

.detail-comment .form-input .input-message{
    border: 1px solid #ccc;
    width: 100%;
    padding: 8px 6px;
    color: #000;
    font-size: 13px;
}

.detail-comment .btn-comment{
    text-align: right;
    margin: 10px 0;
}

.detail-comment .btn-comment .btn-c{
    display: inline-block;
    padding: 10px 15px;
    background: #1877F2;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    opacity: 1;
}

.detail-comment .btn-comment .btn-c:hover{
    opacity: .8;
}

@media (min-width:769px){
    .content .w-mobile{
        display: none;
    }
}

@media (max-width:768px){
    .content .w-desktop{
        display: none;
    }
}