
/*cuongdc*/
nav#menu-main li{
    margin:0;
    padding:0;
    list-style-type:none;
}
#menu-main li a {
    color: #343a40!important;
}

.btn-search{
    margin:0;
    padding:0;
}

.product_t-shirt{
    float:left;
    max-height:330px;
    overflow: hidden;
}

.floatleft{
    float:left;
}
/*end cuongdc*/