.cke_button__save,
.cke_button__newpage,
.cke_button__preview,
.cke_button__print,
.cke_button__templates,
.cke_button__cut,
.cke_button__copy,
.cke_button__paste,
.cke_button__pastetext,
.cke_button__pastefromword,
.cke_button__undo,
.cke_button__redo,
.cke_button__find,
.cke_button__replace,
.cke_button__selectall,
.cke_button__scayt,
.cke_button__form,
.cke_button__checkbox,
.cke_button__radio,
.cke_button__textfield,
.cke_button__textarea,
.cke_button__select,
.cke_button__button,
.cke_button__imagebutton,
.cke_button__hiddenfield,
.cke_button__creatediv,
.cke_button__language,
.cke_button__showblocks,
.cke_button__about,
span.cke_toolbar_separator,
.cke_button__source,
.cke_button__bidiltr,
.cke_button__bidirtl,
.cke_button__copyformatting
{
    display: none !important;
}

/*ẩn nút đăng ảnh*/
.cke_dialog_tabs a:nth-child(3),
.cke_dialog_tabs a:nth-child(4) {
    display: none;
}