@media only screen and (max-width: 900px) {
    #mobile {
        display: block;
    }

    #desktop {
        display: none !important;
    }

    .mt-mobile {
        text-align: left !important;
        margin-bottom: 15px !important;
    }

    .mt-mobile:last-child {
        margin-bottom: 0px !important;
    }

    .header-bottom {
        display: none !important;
    }

    .header-right {
        display: none !important;
    }

    header#header img#logo {
        width: 100px;
    }

    header#header {
        position: relative;
    }

    .header-mobile a {
        color: #000;
        font-size: 18px;
        margin-left: 20px;
    }

    .header-mobile {
        display: block;
        top: 22px;
        position: absolute;
        right: 30px;
    }

    .mobileNavWrapper ul li > .sub-menu {
        transition: 0.3s ease-in-out;
        padding: 0px 0px 0px 10px !important;
        transform: translateY(-100%);
        display: none;
    }

    .mobileNavWrapper ul li > .sub-menu {
        padding: 0px 0px 0px 10px !important;
    }

    .mobileNavWrapper nav.main-menu ul li a i {
        float: right;
    }

    .mobileNavWrapper nav.main-menu ul li:first-child a i {
        float: left;
    }

    nav.main-menu ul li {
        overflow: hidden;
    }

    nav.main-menu ul li > .sub-menu li {
        overflow: unset !important;
    }

    .mobileNavWrapper ul li > .sub-menu li a {
        padding: 5px 0;
    }

    .mobileNavWrapper ul li > .sub-menu li a {
        padding: 5px 0;
        border: 0px !important;
        color: #009ada;
    }

    section#home-slider .owl-nav button {
        width: 30px;
        height: 30px;
    }

    .product-item.list .product-avatar {
        width: 120px;
        height: 145px;
        float: left;
    }

    .product-item.list .product-content {
        width: calc(100% - 120px);
        float: left;
    }

    .page-question {
        margin-top: 20px;
    }

    .list-cart .cart-item .cart-avatar, .list-cart.cart-1 .cart-item .cart-avatar {
        width: 100%;
        height: 220px;
        float: left;
    }

    .list-cart .cart-item .cart-content {
        width: 100%;
        float: left;
        padding: 10px 0;
    }

    .list-cart .cart-item {
        width: 100%;
        display: inline-block;
        margin-bottom: 10px;
    }

    .list-cart .cart-item .cart-price, .list-cart.cart-1 .cart-item .cart-price {
        line-height: 35px;
        width: 100%;
        text-align: left;
    }

    .tab-product ul li {
        width: 100%;
    }

    .tab-product ul li a {
        text-align: left;
    }

    .profile-list {
        margin-bottom: 20px;
    }

    .order-proccess .order-icon label {
        margin-top: 10px;
        font-family: 'Roboto Light';
        font-size: 12px;
    }
}
