@media (min-width: 768px) {
    #kt_header {
        height: 54px !important;
    }
}

@media (min-width: 1025px) {
    .kt-header--fixed.kt-subheader--fixed.kt-subheader--enabled .kt-wrapper {
        padding-top: 54px;
    }

    .kt-aside--fixed.kt-aside--minimize-hover .kt-aside {
        width: 190px;
    }
}

.modal-body img {
    max-width: 100%;
}

.kt-avatar__holder {
    text-align: center;
}

.kt-avatar__holder img {
    max-width: 100%;
    max-height: 100%;
}

.kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__head .kt-datatable__row > .kt-datatable__cell > span, .kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__foot .kt-datatable__row > .kt-datatable__cell > span {
    font-weight: 600;
}

.color_btd {
    color: #f70000;
    font-size: 13px;
    line-height: 0;
}

.kt-heading {
    font-weight: 600;
}

.view-admins {
    display: none;
}

.kt-aside__brand-logo {
    margin: auto;
}

.kt-aside__brand-logo img {
    max-width: 100px;
    max-height: 59px;
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.handle-delete {
    cursor: pointer;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: auto;
    right: -10px;
    bottom: -5px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #ffffff;
}

.list-filter-item {
    margin-bottom: 10px;
}

span#count_slected {
    position: absolute;
    margin-left: 25px;
}
img.lazy {
    opacity: 0;
}
.kt-avatar__holder {
    cursor: pointer;
}
.file_image_thumb {
    cursor: pointer;
}
div#blank_modal .modal-dialog {
    max-width: 90%;
}
#kt_aside_menu {
    overflow: auto !important;
}