.kt-portlet.kt-portlet--last {
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

.flaticon-edit {
    color: #27abe5;
    font-size: 17px;
    cursor: pointer;
}

.flaticon-delete {
    color: red;
    font-size: 17px;
    cursor: pointer;
}

.flaticon-add {
    color: #469408;
    font-size: 26px !important;
    cursor: pointer;
}

.btn-add {
    padding: 0 10px;
    background: none;
    border: none;
    position: absolute;
    right: 25px;
}

.flaticon2-add-square {
    color: #0b57d5;
    font-size: 26px !important;
    cursor: pointer;
}

.flaticon2-checkmark {
    color: #ff9600;
    font-size: 26px !important;
    cursor: pointer;
}
.accordion-body{
    display: block;
}

/*custom padding*/
.kt-portlet .kt-portlet__body {
    padding: 25px 15px;
}
.form-group-div {
    display: inline-block;
    float: left;
    padding: 0px 10px;
    width: 100%;
}
iframe {
    width: 100%;
    border: 0;
}

.form-group-div .select2-container {
    height: 42.39px !important;
}

.select2-container {
    width: 100% !important;
}
@media(max-width: 768px) {
    .form-group-div {
        padding: 0;
    }
}