thead.kt-datatable__head th > span {
    width: 128px;
}

@media (min-width: 768px) {
    .kt-form.kt-form--fit {
        margin-bottom: 0 !important;
    }
}

td .row-actions {
    font-size: 13px;
    opacity: 0;
}

tr:hover .row-actions {
    opacity: 1;
}

ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

ul.pagination li {
    margin-left: 0.4rem;
}

ul.pagination li a[rel=prev],
ul.pagination li a[rel=next] {
    opacity: 0.6;
    background: #ebe9f2;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 2.25rem;
    min-width: 2.25rem;
    vertical-align: middle;
    padding: 0.5rem;
    text-align: center;
    position: relative;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 400;
    color: #595d6e;
    border: 0;
    outline: none !important;
}

ul.pagination li a {
    color: #595d6e;
    border: 0;
    outline: none !important;
    border-radius: 3px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 2.25rem;
    min-width: 2.25rem;
    vertical-align: middle;
    padding: 0.5rem;
    text-align: center;
    position: relative;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 400;
}

ul.pagination li.active span {
    border-radius: 3px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 2.25rem;
    min-width: 2.25rem;
    vertical-align: middle;
    padding: 0.5rem;
    text-align: center;
    position: relative;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 400;
    background: #2c77f4;
    color: #ffffff;
}

.table-striped tbody tr:nth-of-type(odd) {
    background: none !important;
}

.table-striped tbody tr {
    transition: none;
    border-bottom: 1px solid #f0f3ff;
    box-sizing: border-box;
    border-collapse: collapse;
}

td {
    position: relative;
}

.td-tooltip_info:hover .div-tooltip_info {
    display: block;
}

.div-tooltip_info img {
    max-width: 50px;
}

.div-tooltip_info {
    position: absolute;
    will-change: transform;
    transform: translate3d(0px, -10px, 0px);
    display: none;
    padding: 10px;
}

.tooltip_info_loading {
    margin-left: 34%;
    float: none;
}

table.kt-datatable__table th > span,
table.kt-datatable__table td > span {
    display: inline-block;
}

/*
table.kt-datatable__table th {
    display: inline-block;
}
table.kt-datatable__table td {
    display: inline-block;
    float: left;
}
*/


#form-search .select2.select2-container {
    width: 100% !important;
    padding: 0;
    height: calc(1.5em + 1.3rem + 2px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e2e5ec;
    border-radius: 4px;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.no-padding {
    padding: 0 !important;
}

table th {
    cursor: pointer;
    font-weight: 600 !important;
}

.table label.kt-checkbox {
    margin: 0;
}

table th i {
    display: inline-block;
    position: relative;
    right: -10px;
    line-height: 0;
    vertical-align: middle;
    font-size: 0.6rem;
    opacity: 0;
}

table th:hover > i {
    opacity: 1;
}

.kt-datatable__cell.kt-datatable__cell--sorted {
    color: #2c77f4;
}

.kt-datatable__cell.kt-datatable__cell--sorted i {
    opacity: 1;
}

@media (max-width: 768px) {
    #scrolling_vertical {
        overflow: scroll;
    }
}

table a {
    color: #212529;
}

table a:hover {
    color: #5867dd;
    text-decoration: underline !important;
}


@media (max-width: 768px) {
    .kt-portlet .kt-portlet__head .kt-portlet__head-toolbar .kt-portlet__head-wrapper,
    .kt-portlet .kt-portlet__head.kt-portlet__head--lg {
        display: inline-block;
    }

    .kt-portlet .kt-portlet__head .kt-portlet__head-label {
        width: 100%;
        margin-top: 10px;
        display: none;
        text-align: center;
    }

    h3.kt-portlet__head-title {
        display: inline-block;
        font-weight: bold !important;
    }

    .kt-portlet .kt-portlet__head .kt-portlet__head-toolbar .kt-portlet__head-wrapper{
        margin-bottom: 10px;
    }

    .kt-portlet .kt-portlet__head .kt-portlet__head-toolbar .kt-portlet__head-wrapper > div {
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 10px;
        justify-content: center;
    }

    .kt-portlet__head-actions button{
        padding: 5px 7px !important;
        margin-right: 9px;
    }

    .btn.btn-default i{
        margin-right: -5px;
    }

    .la-plus{
        margin-right: -5px;
    }

    .btn.btn-brand.btn-elevate{
        padding: 5px;
        box-shadow: 1px 1px 0 1px rgba(0,0,0,.4);
    }

    .btn.btn-brand.btn-elevate:hover{
        box-shadow: 1px 1px 0 1px rgba(0,0,0,.4) !important;
    }

    .kt-portlet .kt-portlet__head {
        width: 100%;
        display: inline-block;
    }

    .kt-portlet .kt-portlet__head .kt-portlet__head-label {
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    .kt-portlet .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-title {
        display: inline-block;
        font-size: 16px;
    }

    .list-filter-item {
        padding: 0px 10px;
    }

    input[name=quick_search] {
        margin-bottom: 5px;
        margin-top: 5px;
        padding: 5px;
        height: 30px;
    }

    .kt-portlet .kt-portlet__head .kt-portlet__head-label {
        display: none;
    }

    .kt-nav .kt-nav__item,
    .kt-nav .kt-nav__item a {
        width: 100%;
        display: inline-block;
    }

    .kt-portlet__head-actions > button, .kt-portlet__head-actions a, .kt-portlet__head-actions .dropdown {
        width: 32%;
        float: left;
        display: inline-block;
    }
}

table th {
    position: relative;
}

table th i {
    position: absolute;
    right: 2px;
    top: 46%;
}

.table thead th {
    vertical-align: middle;
}