.luan-test {
    margin-bottom:10px;
}
@media (max-width: 767.98px) {
    .remove {
        float: right;
        top: 4.2rem !important;
        bottom: 0 !important;
        color: blue;
    }

}
.luan-button {
    background-color: blueviolet;
}

.luan-test .btn-add-dynamic{
    margin-top: 0 !important;
}


.luan-test .fieldwrapper{
    border-radius: 4px;
    margin-bottom: 15px !important;
}

.luan-test .fieldwrapper .fieldname{
    margin-bottom: 5px;
    margin-top: 0 !important;
}