.flex-column {
    -webkit-box-orient: vertical!important;
    -webkit-box-direction: normal!important;
    -ms-flex-direction: column!important;
    flex-direction: column!important;
}
.d-flex {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}
.font-size-h4 {
    font-size: 1.35rem!important;
}
.text-dark {
    color: #181c32!important;
}
.font-weight-bold {
    font-weight: 500!important;
}
.mb-0, .my-0 {
    margin-bottom: 0!important;
}
a, button {
    outline: 0!important;
}
.mb-7, .my-7 {
    margin-bottom: 1.75rem!important;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.text-primary {
    color: #3699ff !important;
}
.pr-1, .px-1 {
    padding-right: .25rem!important;
}

.text-dark-75 {
    color: #3f4254!important;
}
.font-weight-bolder {
    font-weight: 600!important;
}
.mr-2, .mx-2 {
    margin-right: .5rem!important;
}
.box_mr{
    margin-right: 5px;
}
@media (max-width: 676.98px){
    .box_mt{
        margin-top: 16px;
    }
}
@media (max-width: 991.98px){
    .box_mb{
        margin-bottom: 16px;
    }
}
.text-muted {
    color: #74788d !important;
}
.kt-portlet .kt-portlet__head{
    border-bottom: none;
}
.list-filter-item{
    padding: 0 25px;
}
.search_group{
    padding: 5px 25px 15px 25px;
    display: flex;
}
@media (max-width: 676.98px){
    .search_group{
        align-items: center;
        justify-content: center;
    }
}
.card.card-custom.card-stretch.gutter-b {
    height: calc(100% - 25px);
}
.card.card-custom.card-stretch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch!important;
    -ms-flex-align: stretch!important;
    align-items: stretch!important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
}
.card.card-custom {
    -webkit-box-shadow: 0 0 30px 0 rgba(82,63,105,.05);
    box-shadow: 0 0 30px 0 rgba(82,63,105,.05);
    border: 0;
}
.gutter-b{
    margin-bottom: 16px !important;
}
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #ebedf3;
    border-radius: .42rem;
}
.align-items-end {
    -webkit-box-align: end!important;
    -ms-flex-align: end!important;
    align-items: flex-end!important;
}
.align-items-center {
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
}
.d-flex {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}
.symbol.symbol-circle {
    border-radius: 50%;
}
.symbol.symbol-circle>img {
    border-radius: 50%;
}
.symbol>img {
    width: 100%;
    max-width: 50px;
    height: 50px;
}
.symbol>img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: .42rem;
}
img {
    vertical-align: middle;
    border-style: none;
}
.symbol {
    display: inline-block;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
    border-radius: .42rem;
}
@media (max-width: 991.98px){
    body{
        font-size: 12px !important;
    }
}

@media (max-width: 991.98px){
    .kt-portlet__head-wrapper{
        width: 100%;
    }
}

.btn_detail{
    padding: 10px 10px;
    background: #5578eb;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}
.btn_detail a{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

