@font-face {
    font-family: 'Muli';
    src: url("../font/Muli/Muli.ttf") format("truetype");
}

@font-face {
    font-family: 'Font Awesome 5 Brands';
    src: url("../font/FontAwesome/fa-solid-900.ttf") format("truetype");
}

html, body {
    font-family: Muli;
}

.banner_home {
    padding-left: 0px;
    padding-right: 0px;
}
.banner_home .img-banner img {
    padding-top: 20px;
    width: 100%;
    height: auto;
}

.product-title {
    margin-top: 80px;
}
.product-title h4 {
    font-size: 26px;
}
.product-title .row .col-sm .card {
    border: none;
}
.product-title .row .col-sm .card a {
    text-decoration: none;
}
.product-title .row .col-sm .card a img {
    width: 100%;
    height: auto;
}
.product-title .row .col-sm .card a p {
    margin-top: 30px;
    text-align: center;
    color: #282364;
    font-size: 22px;
    font-weight: bold;
}
.product-sale {
    margin-top: 80px;
}
.product-sale h4 {
    font-size: 26px;
    color: #282364;
}
.selling {
    position: relative;
}
.sale_price {
    top: 0px;
    position: absolute;
    right: 0px;
    background-image: url("Subtraction 1.png");
}
.price_sale {
    position: relative;
    width: 37px;
    height: 55px;
}
.price_sale p {
    color: white;
    font-size: 12px;
    text-align: center;
}
.product-sale .row .col-sm {
    padding-left: 0;
    padding-right: 0;
}
.product-sale .row .col-sm .card {
    border: none;
}
.product-sale .row .col-sm .card a {
    text-decoration: none;
}
.product-sale .row .col-sm .card a img {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}
.product-sale .row .col-sm .card a {
    font-size: 14px;
    text-align: center;
    margin-bottom: 0;
}
.product-sale .row .col-sm .card a h5 {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 12px;
}
.price {
    font-size: 12px;
}
.price span {
    color: #2DCF48;
}

.product-new {
    margin-top: 80px;
    margin-bottom: 80px;
}
.product-new h4 {
    font-size: 26px;
    color: #282364;
}
.color-282364{
    color: #282364;
}
.product-new .row .col-sm .card {
    border: none;
}
.product-new .row .col-sm .card a {
    text-decoration: none;
}
.product-new .row .col-sm .card a img {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}
.product-new .row .col-sm .card a p {
    font-size: 14px;
    text-align: center;
    margin-bottom: 0;
    color: #282364;
}
.product-new .row .col-sm .card a h5 {
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
    color: #282364;
}
.price span {
    color: #2DCF48;
}
.custom-card-home{
    border: none;
    font-weight: bold;
    font-size: 22px;
}
.product_mug_home .card, ._title-content-mobie .card {
    border: none;
}
.product_mug_home .card a, ._title-content-mobie .card a {
    text-decoration: none;
}
.product_mug_home .card a img, ._title-content-mobie .card a img {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}
.product_mug_home .card a p, ._title-content-mobie .card a p {
    font-size: 14px;
    text-align: center;
    margin-bottom: 0;
    color: #282364;
}
.product_mug_home .card a h5, ._title-content-mobie .card a h5 {
    text-align: center;
    font-size: 12px;
    color: #282364;
}
.product_mug_home .card a .price, ._title-content-mobie .card a .price{
    font-size: 12px;
}
.product_mug_home .card a .price span, ._title-content-mobie .card a .price span {
    color: #2DCF48;
}
.banner_mug_home img {
    width: 100%;
    height: 100%;
}

.shirt_home {
    margin-top: 80px;
}
.product_t-shirt {
    padding-left: 0;
    padding-right: 0;
}
.product_t-shirt .card {
    border: none;
}
.product_t-shirt .card a {
    text-decoration: none;
}
.product_t-shirt .card a img {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}
.product_t-shirt .card a p {
    font-size: 14px;
    text-align: center;
    margin-bottom: 0;
    color: #282364;
}
.product_t-shirt .card a h5 {
    text-align: center;
    font-size: 12px;
    color: #282364;
}
.price span {
    color: #2DCF48;
}
.shirt_home .row .col-sm-4 img {
    position: relative;
}
.button_shop-home {
    color: #282364;
    position: absolute;
    border: 1px solid #282364;
    padding: 6px 25px;
    border-radius: 17px;
    bottom: 50px;
    text-decoration: none;
    background-color: white;
    display: block;
    left: 40%;
}
.shirt_home .row .col-sm-4 :hover {
    color: #FFB400;
}
.content_review .row .col {
    padding-right: 8px;
    padding-left: 0px;
}
.content_review .row .col .card {
    margin-top: 8px;
    box-shadow: 0 2px 2px 2px lightgrey;
    border: 1px solid lightgrey;
}
.review_content p {
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.review_comment .row .col-sm-3 img {
    width: 100%;
    height: auto;
    margin-left: 20px;
}
.review_comment .row .col-sm-9 {
    font-size: 12px;
}
/*# sourceMappingURL=style.css.map */
/* Duong css zone */
.ml50{
    margin-left: 150px;
}
.pr20{
    padding-right: 20px;
}
.fs12{
    font-size: 12px;
}
.fs22{
    font-size: 22px;
}
.fs32{
    font-size: 32px;
}
.pl20{
    padding-left: 20px;
}
.hover {
    overflow: hidden;
    position: relative;
    padding-bottom: 60%;
}

.hover-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    transition: all 0.4s;
}

.hover img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
}

.hover-noidung {
    position: relative;
    z-index: 99;
}
.hover-1 img {
    width: 105%;
    position: absolute;
    top: 0;
    left: -5%;
    transition: all 0.3s;
}

.hover-1-noidung {
    position: absolute;
    bottom: 25%;
    left: 0;
    z-index: 99;
    transition: all 0.4s;
}

.hover-1 .hover-overlay {
    background: rgba(0, 0, 0, 0.5);
}

.hover-1-trichdan {
    transform: translateY(0.5rem);
    transition: all 0.4s;
    opacity: 0;
}

.hover-1:hover .hover-1-noidung {
    bottom: 2rem;
}

.hover-1:hover .hover-1-trichdan {
    opacity: 1;
    transform: none;
}

.hover-1:hover img {
    left: 0;
}

.hover-1:hover .hover-overlay {
    opacity: 0;
}
.text-orange{
    color: #FF920C;
}
.text-brown{
    color: #8A8A8A;
}
.icon-invoice {
    display: inline-block;
    width: 18px;
    height: 25px;
    background: black;
    mask-size: cover !important;
    mask: url('../img/invoice.svg');
}
.icon-invoice:hover {
    background: #2F80ED;
}
.icon-user {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: black;
    mask-size: cover !important;
    mask: url('../img/user.svg');
}
.icon-user:hover {
    background: #2F80ED;
}
.a-color{
    color: black;
}
.account-sidebar .avatar img {
    display: block;
    width: 100%;
    height: 100%;
}
.account-sidebar .avatar label {
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    padding: 8px 0;
    text-align: center;
    color: #fff;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.account-sidebar .avatar {
    margin: 0 auto 0 auto;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.ul-style{
    list-style: none;
}
.display-none{
    display: none;
}
.pl-0px{
    padding-left: 0px;
}
.ptl{
    padding-top: 30px;
    padding-left: 30px;
}
.ptl2{
    padding-top: 15px;
    padding-left: 20px;
}
.hr-none {

    border: none;
    border-top: 1px dashed black;

}
.btn-green{
    background-color: #70BF54;
}
.checkbox-custom, .radio-custom {
    opacity: 0;
    position: absolute;
}
.radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}
.radio-custom-label {
    position: relative;
}

.radio-custom + .radio-custom-label:before {
    content: '';
    background: #fff;
    border: 2px solid #282364;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}

.radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
    content: "\f00c";
    font-size: 8px;
    font-family: "Font Awesome 5 Brands";
    font-weight: 900;
    color: #70BF54;
    border: 2px solid #70BF54;
}

.radio-custom:focus + .radio-custom-label {
    outline: 0px solid #ddd; /* focus style */
}
/* End Duong css zone */

/* Minh css zone */
.container-cus {
    width: 1225px;
    margin: 0 auto;
    padding: 0 15px;
}
#wp-content-list-product p.path {
    font-size: 14px;
    color: #B7B7B7;
}
#wp-content-list-product p.path span {
    color: #2F80ED;
}
#wp-content-list-product h1.title {
    font-size: 32px;
    color: #282364;
    font-weight: 600;
    margin-bottom: 35px;
    margin-top: 22px;
}
#wp-content-list-product .sidebar h3.title-sub, .main-list-item .sidebar h3.title-sub{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 18px;
}
#wp-content-list-product .sidebar ul, .main-list-item .sidebar ul{
    list-style: none;
    padding-left: 1rem;
}
#wp-content-list-product .sidebar ul li, .main-list-item .sidebar ul li{
    margin-bottom: 23px;
}
#wp-content-list-product .sidebar ul li:last-child, .main-list .sidebar ul li:last-child{
    margin-bottom: 0;
}
#wp-content-list-product .sidebar ul li a , .main-list-item .sidebar ul li a{
    display: block;
    font-size: 14px;
    color: #282364;
    transition: .2s;
}
#wp-content-list-product .sidebar ul li a:hover, .main-list-item .sidebar ul li a:hover{
    text-decoration: none;
    color: #2F80ED;
    transition: .2s;
}
.sale_product .card{
    margin-bottom: 18px;
    border-radius: unset !important;
    box-shadow: #ADB9BA 0px -2px 15px -4px !important;
    border: unset !important;
}
.sale_product .card:last-child{
    margin-bottom: 0;
}
.sale_product .card .card-body p.card-title {
    font-size: 14px;
    font-weight: normal;
}
input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    font-size: 14px;
    padding: 0 !important;
    text-align: center;
}
.__price-btn_sale{
    margin-top: 1rem;
}
p.old,p.new{
    padding: 0 !important;
    margin: 0 !important;
}
p.old{
    font-size: 12px;
    text-decoration: line-through;
}
p.new{
    color: #2DCF48;
}
.btn-sale button{
    width: 113px;
}

.info-page p{
    font-size: 14px;
    margin-right: 33px;
}
.info-page p:first-child {
    line-height: 52.8px;
}
.info-page p:last-child {
    width: 202px;
    height: 37px;
    font-size: 14px;
}
.info-page p span {
    font-size: 14px;
    color: #8A8A8A;
}
.row.view_sort{
    margin-top: 28px;
}
.row.view_sort .sort p{
    font-size: 14px;
    color: #282364;
}
.row.view_sort .number_product_view ul {
    list-style: none;
}
.row.view_sort .number_product_view ul li{
    margin-right: 1rem;
}
.row.view_sort .number_product_view ul li a{
    font-size: 14px;
    display: block;
    color: #282364;
    padding: 4px 7px;
}
.row.view_sort .number_product_view ul li a:hover {
    text-decoration: none;
    background: #2F80ED;
    color: #FFFFFF;
}
.title_active {
    color: #2F80ED !important;
}
.list_product .item{
    flex-basis: 205px;
    margin-right: 20px;
    margin-bottom: 54px;
}
.list_product .item .item_price {
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.list_product .item .item_price p.old, .list_product .item .item_price p.new{
    font-size: 14px;
}
a.item_title {
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    transition: .1s;
    color: #282364;
    text-align: start;
}
a.item_title:hover{
    text-decoration: none;
    color: #DE0101;
    transition: .1s;
}a.item_title_grid {
    padding: 0 6px !important;
 }

.paginate{
    margin-top: 50px;
}
.paginate ul{
    list-style: none;
}
.paginate ul li {
    padding: 4px 12px;
    transition: .2s;
}
.active-paginate {
    background: #2F80ED;
}
.active-paginate a{
    color: #fff !important;
}
.paginate ul li:hover {
    background: #2F80ED;
    transition: .2s;
}
.paginate ul li:hover a{
    text-decoration: none;
    color: #fff;
}
.paginate ul li a{
    color: #282364;
    font-size: 1rem;
    font-weight: bold;
}
.info-product p.desc {
    font-size: 1rem;
    color: #282364;
}
.item-product {
    margin-bottom: 32px;
}
#breadcrumb_reset_pass {
    margin-left: 160px;
}
input#ip-email-reset-pass {
    height: 50px;
    max-width: 585px;
}
input#ip-email-login {
    height: 50px;
    max-width: 585px;
}
input#password-login {
    height: 50px;
    max-width: 585px;
    margin-top: 22px;
}
.row .col-9 input[type=text]::placeholder {
    color: #282364;
    font-size: 15px;
}
.btn-action {
    margin-top: 21px;
    margin-bottom: 300px;
}
.btn-action input, .btn-action a {
    font-size: 15px;
    font-weight: 400;
    color: #282364;
    width: 123px;
    height: 50px;
}
.btn-action a {
    margin-left: 23px;
    line-height: 35px;
}

.login_submit_forget_pass p:first-child {
    font-size: 15px;
    color: #282364;
}
.login_submit_forget_pass span, .login_submit_forget_pass p:last-child  {
    color: #2F80ED !important;
}
#or_login_with {
    font-size: 15px;
    color: #282364;
}
.line-login {
    border-bottom: 1px solid #707070;
}
.login-with a:last-child {
    font-weight: 600;
    color: #282364;
}

.form-login form input{
    height: 50px;
}
.form-login form input[name=first_name] {
    margin-right: 10px;
}
.form-login form input::placeholder {
    font-size: 15px;
    color: #282364;
}
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
    box-shadow: none;
}

a.btn.btn-success {
    width: 209px;
    height: 50px;
    line-height: 38px;
    color: #FFFFFF;
    background: #70BF54 !important;
    font-weight: 600;
}

.wp-item-cart{
    margin-bottom: 32px;
    max-width: 487px;
}
.wp-item-cart .item-cart a img {
    max-width: 97px;
}
.wp-item-cart .qty-price {
    background: #F6F6F9;
    height: 54px;
    padding-right: 10px;
    line-height: 54px;
}
.wp-item-cart .qty-price p{
    font-size: 14px;
    font-weight: 600;
    color: #282364;
}
.title-info-item-cart {
    font-size: 14px;
    color: #282364;
    margin-bottom: 5px;
}
.item-cart .info-item-cart .custom-item-cart ul li{
    font-size: 12px;
    color: #282364;
}
.pay-cart{
    background: #F6F6F9;
    padding: 24px 16px 24px 16px;
    margin-bottom: 54px;
    max-width: 487px;
}
.pay-cart p {
    padding-bottom: 20px;
    border-bottom: dashed 0.1px #B7B7B7;
}
.pay-cart p:nth-child(3n){
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
    color: #70BF54 !important;
}
.pay-cart p:nth-child(3n) span:first-child {
    color: #282364 !important;
}
.color-text {
    color: #282364 !important;
}
.form-info-checkout form input {
    border: .5px solid #B7B7B7;
}
.form-info-checkout form input::placeholder{
    font-size: 14px;
    color: #282364;
}
form .submit-return a{
    color: #2F80ED;
    line-height: 50px;
}
form .submit-return .btn-checkout {
    font-size: 16px;
    color: #FFFFFF;
    padding: 12px 26px;
    border-radius: 0!important;
}
.pay-cart form{
    margin-top: 27px;
    position: relative;
}
.pay-cart form input {
    border: none;
}
.pay-cart form span{
    position: absolute;
    left: 88%;
    bottom: 30%;
    color: #D6D6D6;
    font-size: 14px;
    cursor: pointer;
}
.pay-cart form span:hover{
    color: #282364;
}
.pay-cart form p.apply{
    color: #D6D6D6 !important;
    font-size: 14px;
    cursor: pointer;
}
.pay-cart form p.apply:hover{
    color: #282364 !important;
}
.pay-cart form input::placeholder{
    font-size: 14px;
    color: #D6D6D6;
}
.tbl-checkout{
    border: 1px solid #ccc;
    padding: 12px 13px;
}
.tbl-checkout.info-contact div{
    border-bottom: dashed 0.1px #B7B7B7;
}
.tbl-checkout.info-contact div:last-child{
    border-bottom: none;
}
.tbl-checkout.info-contact div span:first-child{
    flex-basis: 15%;
}
.tbl-checkout.info-contact div span:nth-child(2){
    flex-basis: 80%;
}
.tbl-checkout.shipping-method>div.method{
    border-bottom: dashed 0.1px #B7B7B7;
}
.tbl-checkout.shipping-method>div.method:last-child{
    border-bottom: none;
}
.modal.fade#modal-rate .modal-dialog .modal-content .modal-body .level-like:hover{
    background: #141414;
    cursor: pointer;
}
.modal.fade#modal-rate .modal-dialog .modal-content .modal-body .level-like:hover>p{
    color: #ffffff !important;
}
.para {
    margin-bottom: 60px !important;
}
.para p.title-para {
    font-weight: 600;
}
.modal-dialog .modal-content .modal-body .box-choose-photo {
    max-width: 486px;
    padding: 23px 101px;
    border: 1px solid #707070 !important;
}
.modal-dialog .modal-content .modal-body .box-choose-photo p{
    color: #1B1D1F;
    font-size: 22px;
}
.modal-dialog .modal-content .footer-modal-sale{
    padding: 16px 36px;
}
.modal-dialog .modal-content .footer-modal-sale a{
    color: #1B1D1F;
    font-size: 22px;
}
.modal-dialog .modal-content .footer-modal-sale a:hover{
    text-decoration: none;
}
.modal-dialog .modal-content .modal-body .message-more form textarea{
    border: 1px solid #707070;
    border-radius: unset !important;
}
.modal-dialog .modal-content .modal-body .message-more form input{
    border-radius: unset !important;
    border: 1px solid #707070;
    margin: auto;
}
.modal-dialog .modal-content .modal-body .message-more form input:hover{
    background: #1b1e21;
    color: #ffffff;
}
.modal-dialog .modal-content .modal-body form .form-about-you{
    margin-bottom: 70px;
}
.modal-dialog .modal-content .modal-body form .form-about-you input {
    border: 1px solid #707070;
    font-size: 15px;
    color: #1B1D1F;
    border-radius: unset;
}
.modal-dialog .modal-content .modal-body .form-about-you form input::placeholder{
    font-size: 15px;
    color: #1B1D1F;
}
.modal-dialog .modal-content .modal-body form input[type=submit],#btn-continue {
    border-radius: unset !important;
    border: 1px solid #707070;
    margin: auto;
    max-width: 269px;
}
.modal-dialog .modal-content .modal-body form input[type=submit]:hover{
    background: #1b1e21;
    color: #ffffff;
}
#btn-continue:hover{
    background: #1b1e21;
    color: #ffffff;
}
.modal-backdrop,
.modal-backdrop.fade.in{
    opacity: .5 !important;
    filter: alpha(opacity=100) !important;
    background: #fff;
}
.modal-content {
    border-radius: unset !important;
}
.__qty-pm button, .__qty-pm input, .__qty-pm select {
    border-radius: unset !important;
    border: 0.5px solid #B7B7B7 !important;
}
.__qty-pm button:focus {
    border: 1px solid #00aced !important;
    transform: unset !important;
    box-shadow: unset !important;
}
.form-track-order form input, input.input-my-profile{
    border-radius: unset !important;
    border: 0.5px solid #B7B7B7 !important;
}
.form-track-order form input::placeholder {
    font-size: 14px;
    color: #282364;
}
.form-track-order form button {
    border-radius: unset !important;
    color: #FFFFFF !important;
    font-weight: 400 !important;
    padding: 12px 30px;
}
.bg-grey .detai_order_info {
    padding: 15px 12px;
}
.content {
    margin-bottom: 47px !important;
}
.detai_order_info .preview_thumbnail img{
    border: unset !important;
}
.order-many-info .card, .profile-account .card, .my-order-list .card {
    border-radius: unset ;
    box-shadow: #ADB9BA 0px -2px 7px -4px !important;
}
    /* End Minh css zone */

/* Khai css zone */
.shirt_home .row .col-sm-4 img{
    width: 100%;
    height: 100%;
}
.product-title h4{
    font-weight: bold;
    color: #282364;
}
.post_review {
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, .16);
    border: 1px solid lightgrey;
    margin-bottom: 0;
    padding: 10px 0;
    text-align: center;
}
.post_review a {
    margin-bottom: 0;
    font-size: 14px;
    text-decoration: none;
    color: #8A8A8A;

}
.post_review a:hover {
    color: #FFB400;
}
._bottom {
    margin-top: 5px;
}
.content_review .row .col-sm .card {
    margin-top: 8px;
    box-shadow: 0 2px 2px 2px lightgrey;
    border: 1px solid lightgrey;
}
.review_img img {
    width: 100%;
    height: auto;
}

.review_content p {
    font-size: 12px;
}
.review_content p {
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.review_comment .row .col-3 img {
    width: 100%;
    height: auto;
    margin-left: 20px;
}
.review_comment .row .col-8 {
    font-size: 14px;
}
.button_review {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.button_Show_review {
    display: inline-block;
    border: 0.5px solid #B7B7B7;
    padding: 10px 30px;
    font-size: 20px;
}
.button_Show_review a {
    color: #282364;
    text-decoration: none;
}
.button_Show_review a:hover {
    color: #FFB400;
    text-decoration: none;
}
.Link{
    text-decoration: none;
}

.home_link {
    color: #707070;
    font-size: 14px;
    text-decoration: none;
}
.review_link {
    color: #2F80ED;
    font-size: 14px;
    text-decoration: none;
    padding-left: 10px;
}
.content-modal .col-sm-7{
    padding: 0;
}
.content-modal .col-sm-7 img {
    width: 100%;
    height: auto;
}
._modal-closed {
    float: right;
    margin-right: -20px;
    margin-top: -40px;
    font-size: 37px;
}
.review-modal {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20%;
    padding-right: 20%;
    width: 100%;
    height: 100%;
    display: block;
}
.review-modal {
    z-index: 3;
    display: none;
    position: fixed;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(246,246,246,0.8);
}
.review_comment .row .col-sm-9 {
    font-size: 8px;
}

.title-content-modal {
    float: left;
}
.modal-icon-app {
    float: right;
}
.title-content-modal {
    float: left;
}
.review_content-modal {
    float: left;
}
.modal-comment {
    background-color: white;
    display: inline-block;
    padding: 10px 12px;
    border: 1px solid lightgrey;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, .16);
}
.viewProduct {
    padding-bottom: 10px;
    font-size: 10px;
}
.viewProduct a {
    text-decoration: none;
    border: 1px solid #282364;
    padding: 5px 10px;
    color: #282364;
    margin-bottom: 20px;
}
.mt-15{
    margin-top: 15px;
}
.viewProduct a:hover {
    color: #FFB400;
}
.selling a{
    color: #282364;
    text-align: center;
    margin-bottom: 2px;
    font-size: 16px;
}
.selling a h5 {
    color: #282364;
    text-align: center;
    font-size: 12px;
}
.selling span {
    color: #2DCF48;
}
.price_sale p {
    color: white;
    font-size: 12px;
    text-align: center;
    margin-bottom: 0;
}
._search_page {
    text-align: center;
}
._search_next_page {
    display: inline-block;
    margin-bottom: 10px;
}
.pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}
._search_next_page ul li {
    padding-right: 5px;
}
._search_next_page ul li a:hover{
    background-color: #2F80ED;
    color: white;
}
.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}
._search_next_page ul li a {
    border: none;
    color: #282364;
    font-size: 16px;
}
.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    line-height: 1.25;
    background-color: #fff;
}
.title_home_content a {
    color: #8A8A8A;
    text-decoration: none;
}
._input_search_product{
    text-align: center;
    margin-bottom: 40px;
}
._input_search_product input{
    width: 784px;
    height: 50px;
    padding-left: 30px;
    outline-offset: 0;
    border: #B7B7B7 solid 1px;
}
._input_search_product input:active{
    border: none;
}
._input_search_product button{
    width: 190px;
    height: 50px;
    color: white;
    background-color: #FF920C;
    border: none;
}
.width_i_search{
    width: 100%;
    height: 100%;
}
.selling_search{
    text-align: center;
    border: none;
}
.selling_search img {
    position: relative;
}
.sale_price_search{
    position: absolute;
    background-image: url("Subtraction 1.png");
    width: 38px;
    height: 55px;
    top: 0;
    right: 0;
}
.selling_search{
    margin-bottom: 20px;
}
.selling_search a{
    text-align: center;
    text-decoration: none;
    color: #282364;
}
.selling_search a p{
    margin-bottom: 0;
}
.price span{
    color: #2DCF48;
}
.selling_search a h5{
    font-size: 12px;
}
.img-w100{
    width: 100%;
    height: auto;
}
.img-w60{
    width: 50%;
    height: auto;
}
.mb-15{
    margin-bottom: 15px;
}
.ml-20{
    margin-left: 20px;
}
.f-26{
    font-size: 26px;
}
.shadow-card-review{
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, .16);
}
.Title_Review{
    color: #282364;
}
.review-box-star{
    margin-right: 10px;
}
.review_star_title{
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, .16);
    border: 1px solid lightgrey;
    margin-bottom: 0;
    padding: 10px 0;
    text-align: center;
    padding-left: 50%;
    background-image: url("Group 916.png");
    background-size: 125%;
    background-repeat: no-repeat;
    color: #282364;
}
.review_star_title svg{
    color: yellow;
    font-size: 20px;
}.review_star svg{
    color: yellow;
    font-size: 20px;
}
.fs-26{
    font-size: 26px;
}
.fs-14{
    font-size: 14px;
}
/* End Khai css zone */

/* Nam css zone */
.cart-text {
    position: absolute;
    top: 5px;
    right: 0;
    background-color: #EB5757;
    color: #ffffff;
    border-radius: 3px;
    font-size: 0.625rem;
    padding: 2px 5px 2px 5px;
}

a.nav-link:hover {
    color: #2F80ED !important;
    border-bottom: 2px solid #2F80ED;
}

a.nav-link.cart-icon {
    border-bottom: none;
}

.input-group-text.header-search {
    background-color: #ffffff;
}

.header {
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    font-size: 0.9375rem;
}
.breadcrumb {
    background-color: #ffffff;
}
li.breadcrumb-item a {
    color: #B7B7B7;
}

li.breadcrumb-item.active {
    color: #2F80ED;
}
.footer-list {
    list-style-type: none;
}
.single-product {
    min-height: 65px;
}
.circle-color {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    max-height: 100%;
    max-width: 100%;
    border: 4px solid white;
}
.single-color {
    display: inline-block;
    margin-right: .25rem;
}
.single-size {
    display: inline-block;
    margin-right: 0.25rem;
}
.btn-pick-size {
    background-color: #ffffff;
    border-color: #B7B7B7;
    border-radius: 0;
    width: 50px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Some browsers will not display the caret when using calc, so we put the fallback first */
    background: url("../img/br_down.png") white no-repeat 98.5% !important; /* !important used for overriding all other customisations */
    background: url("../img/br_down.png") white no-repeat calc(100% - 10px) !important; /* Better placement regardless of input width */
}
/*For IE*/
select::-ms-expand { display: none; }
.btn-minus {
    background-color: white;
    border-left: 1px solid #ced4da;
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
}
.btn-plus {
    background-color: white;
    border-right: 1px solid #ced4da;
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
}
.input-number {
    text-align: center;
}
.single-payment {
    display: inline-block;
    margin-right: 1rem;
}
.main-image {
    position: relative;
}
.discount-tag {
    position: absolute;
    right: 30px;
    top: 0px;
}
.discount-text {
    position: absolute;
    top: 7px;
    text-align: center;
    right: 15px;
}
.single-image-item {
    border: 1px solid #B7B7B7;
}
.recent-view-item {
    right: 0px;
}
.review-main {
    background-image: url("../img/review-star.png");
    background-color: white;
    height: 100%;
}
.review-option {
    width: 100%;
    background-color: white;
}
.btn-edit {
    background-color: #ffffff;
    border: 1px solid #B7B7B7;
    color: #D6D6D6;
}
.header-search-input {
    border-radius: 0;
}
.header-search-input:focus.header-search-icon {
    border-color: #80bdff;
}
.header-search-icon {
    position: absolute;
    right: 10px;
    height: 100%;
    z-index: 10;
    top: 3px;
}
.left-menu-responsive {
    padding-left: 35px;
    padding-top: 25px;
}
.right-menu-responsive {
    padding-left: 0px;
    padding-top: 25px;
}
.cart-icon-responsive img {
    width: 25px;
}
.w-250px {
    width: 250px !important;
}
#side-nav-mobile {
    width: 0px;
}
.sidepanel  {
    width: 0;
    position: fixed;
    z-index: 10;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #111;
    transition: 0.5s;
    padding-top: 10px;
    box-shadow: 1px 1px 1px 1px aliceblue;
}
.header-mobile-backdrop {
    position: fixed;
    z-index: 1;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.5;
}
.container-custom.navbar.navbar-expand-lg{
    padding-bottom: 1px;
}
.nav-link {
    padding-bottom: 1.25rem;
}
/* End Nam css zone */