@media (max-width: 480px) {
    html, body {
        font-size: 14px;
    }
    .container-custom {
        max-width: 480px;
    }
    /* Duong css zone */
    /* End Duong css zone */


    /* minh css zone */
    #main-list{margin-left: 8%}
    .list_product .item{
        flex-basis: 30%;
        margin-right: 222px;
        margin-bottom: 54px;
    }
    .info-payment, .info-shipping, .contact-info-customer {
        margin-left: 1rem !important;
    }
    div.login-with a.title-social {
        display: none;
    }
    .more-create-forgot {
        margin-top: 1rem;
    }
    .info-product p.desc{
        font-size: .7rem;
    }
    .cloth-face-mask {
        margin-left: 0!important;
    }
    .item-product .item-card {
        max-width: 23% !important;
    }
    .main-list-item {
        margin-left: 1rem;
    }
    #modal-sale-2 .modal-content .modal-body form .form-about-you div:first-child input:first-child {
        margin-bottom: 24px;
    }
    .box-faq {
        margin-bottom: 1rem;
    }
    .box-faq.box-faq-final {
        margin-bottom: 0 !important;
    }
    .form-track-order {
        margin-bottom: 3rem !important;
    }
    div#map .ifram {
        width: 100% !important;
    }
    /* End minh css zone */


    /* khai css zone */
    .modal-comment .row .col-9{
        font-size: 10px;
    }
    .review_comment .row .col-3 img{
        width: 100%;
    }
    .review_comment .row .col-9 {
        font-size: 10px;
    }
    ._input_search_product input {
        width: 250px;
        height: 35px;
        font-size: 13px;
        padding-left: 15px;
    }
    ._input_search_product button{
        width: 80px;
        height: 35px;
        font-size: 13px;
    }
    .home_mobie_none{
        display: none;
    }
    ._title-content-mobie .card{
        padding-left: 7px;
        padding-right: 7px;
    }
    .review-modal {
        padding-left: 8%;
        padding-right: 8%;
    }
    ._input_search_product input{
        width: 200px;
    }
    .img_viewProduct{
        width: 90%;
    }
    .menu_review_box{
        margin-right: 10px;
    }
    .pc-home{
        display: none;
    }
    .review_star_title{
        margin-right: 0 !important;
        margin-bottom: .25rem;
        background-size: 350px;
    }
    ._bottom_pc a{
        font-size: 10px !important;
    }
    /* End khai css zone */


    /* nam css zone */
    /* End nam css zone */
}



@media (min-width: 480px) {
    .container-custom {
        max-width: 480px;
    }
    /* Duong css zone */
    /* End Duong css zone */

    /* Minh css zone */
    .info-page p.qty-item-current {margin-left: 1rem;}
    .row.view_sort{
        margin-top: 0;
    }
    .form-login form input{
        max-width: unset !important;
    }
    .cloth-face-mask {
        margin-left: 0!important;
    }
    .item-product {
        max-width: 344px;
    }
    .item-product.__item-product{
        max-width: unset !important;
    }
    .item-product .item-card{
        width: 265px !important;
    }
    .main-list-item {
        margin-left: 0;
    }
    .main-list-item .sidebar {
        padding-left: 0;
    }

    .box-faq {
        margin-bottom: 1rem !important;
    }
    .box-faq.box-faq-final {
        margin-bottom: 0 !important;
    }
    div#map .ifram {
        width: 100% !important;
    }
        /* End Minh css zone */

    /* Khai css zone */
    .modal-comment .row .col-9{
        font-size: 10px;
    }
    .review_comment .row .col-3 img{
        width: 100%;
    }
    .review_comment .row .col-9 {
        font-size: 10px;
    }
    ._input_search_product input {
        width: 250px;
        height: 35px;
        font-size: 13px;
        padding-left: 15px;
    }
    ._input_search_product button{
        width: 80px;
        height: 35px;
        font-size: 13px;
    }
    .home_mobie_none{
        display: none;
    }
    ._title-content-mobie .card{
        padding-left: 7px;
        padding-right: 7px;
    }
    .review_comment .row .col-8{
        font-size: 12px;
    }
    .review-modal {
        padding-left: 15%;
        padding-right: 15%;
    }
    .img_viewProduct{
        width: 50%;
    }
    ._input_search_product input{
        width: 280px;
    }
    .menu_review_box{
        margin-right: 10px;
    }
    .pc-home{
        display: none;
    }
    .review_star_title{
        margin-right: 0 !important;
        margin-bottom: .25rem;
        background-size: 400px;
    }
    /* End Khai css zone */

    /* Nam css zone */
    /* End Nam css zone */
}

@media (min-width: 768px) {
    .container-custom {
        max-width: 768px;
    }
    /* Duong css zone */
    /* End Duong css zone */

    /* Minh css zone */
    .list_product {
        text-align: center;
    }
    .form-login form input{
        max-width: 586px !important;
    }
    .cloth-face-mask {
        margin-left: 0!important;
    }
    .item-product {
        max-width: 21%;
    }
    .__item-product {
        max-width: 100% !important;
    }
    .item-product .item-card{
        max-width: unset !important;
        width: unset !important;
    }
    .hover-1-noidung {
        bottom: 8%;
        left: -30px;
    }
    .hover-1-noidung h5 {
        font-size: 12px;
    }
    div#map .ifram {
        width: 100% !important;
    }
    /* End Minh css zone */

    /* Khai css zone */
    .img-w60{
        width: 80%;
    }
    .img_viewProduct{
        width: 140%;
    }
    .review-modal {
        padding-left: 18%;
        padding-right: 18%;
    }
    .img_viewProduct{
        width: 70%;
    }
    .viewProduct{
        font-size: 14px;
    }
    ._input_search_product input{
        width: 350px;
        height: 40px;
        font-size: 14px;
    }
    ._input_search_product button {
        width: 120px;
        height: 40px;
        font-size: 14px;
    }
    .pc-home{
        display: none;
    }
    .review_star_title{
        margin-right: 0 !important;
        margin-bottom: .25rem;
        background-size: 500px;
    }
    /* End Khai css zone */

    /* Nam css zone */
    /* End Nam css zone */
}

@media (min-width: 992px) {
    .container-custom {
        max-width: 992px;
    }
    /* Duong css zone */
    /* End Duong css zone */

    /* Minh css zone */
    .list_product {
        width: unset;
    }
    .list_product .item{
        flex-basis: 205px;
        margin-right: 20px;
        margin-bottom: 54px;
    }
    .list_product .item .item_price, .list_product .item a.item_title{
        width: 100%;
    }
    .item-product{
        max-width: unset !important;
    }
    .hover-1-noidung {
        position: absolute;
        bottom: 25%;
        left: 0;
        z-index: 99;
        transition: all 0.4s;
    }
    .hover-1-noidung h5 {
        font-size: 1.25rem !important;
    }
    div#map .ifram {
        width: 500px !important;
    }
    .wp-detai_order_info {
        height: 99% !important;
    }
    /* End Minh css zone */

    /* Khai css zone */
    ._title-content-mobie{
        display: none;
    }
    .home_mobie_none{
        display: flex;
    }
    .home_menuReview_mobile{
        display: flex;
    }
    .img-w60{
        width: 70%;
    }
    .review-modal {
        padding-left: 16%;
        padding-right: 16%;
    }
    .ml-15{
        margin-left: 15px;
    }
    .viewProduct{
        font-size: 14px;
    }
    .img_viewProduct{
        width: 90%;
    }
    ._input_search_product input{
        width: 450px;
        height: 50px;
        font-size: 16px;
    }
    ._input_search_product button {
        width: 150px;
        height: 50px;
        font-size: 16px;
    }
    .menu_review_box{
        margin-right: 10px;
        margin-left: -14px;
    }
    .button_shop-home{
        left: 28%;
    }
    .fs-26{
        font-size: 20px;
    }
    .review_star svg{
        font-size: 16px;
        margin-bottom: 3px;
    }
    .fs-14{
        font-size: 12px;
        margin-bottom: 3px;
    }
    /* End Khai css zone */

    /* Nam css zone */
    /* End Nam css zone */
}

@media (min-width: 1200px) {
    .container-custom {
        max-width: 1140px;
    }
    /* Duong css zone */
    /* End Duong css zone */

    /* Minh css zone */
    .form-login form .row:first-child div:last-child {
        max-width: 614px;
    }
    .form-login form .row:first-child div:last-child input[type=text] {
        width: 50%;
    }
    div#map .ifram {
        width: 650px !important;
    }
    /* End Minh css zone */

    /* Khai css zone */
    ._input_search_product input {
        width: 500px;
    }
    .home_menuReview_mobile{
        display: none;
    }
    .img-w60{
        width: 70%;
    }
    .img_viewProduct{
        width: 90%;
    }
    .button_shop-home{
        left: 31%;
    }
    .menu_review_box{
        margin-right: 10px;
        margin-left: -14px;
    }
    .viewProduct{
        font-size: 16px;
    }
    .pc-home{
        display: block;
    }
    .review_star_title{
        margin-right: .25rem !important;
    }
    .review_star_title svg {
        font-size: 20px;
    }
    ._icon-star{
        margin-bottom: 10px !important;
    }
    .fs-26{
        font-size: 26px;
        margin-bottom: 10px !important;
    }
    .fs-14{
        font-size: 14px;
        margin-bottom: 13px;
    }
    /* End Khai css zone */

    /* Nam css zone */
    /* End Nam css zone */
}

@media (min-width: 1600px) {
    .container-custom {
        max-width: 1600px;
    }

    /* start Khai css zone */
    .button_shop-home{
        left: 39%;
    }
    /* End Khai css zone */s


}