@font-face {
    font-family: 'Muli';
    src: url("../font/Muli/Muli.ttf") format("truetype");
}

@font-face {
    font-family: 'Font Awesome 5 Brands';
    src: url("../font/FontAwesome/fa-solid-900.ttf") format("truetype");
}

html, body {
    font-family: Muli;
}

.banner_home {
    padding-left: 0px;
    padding-right: 0px;
}

.banner_home .img-banner img {
    margin-top: 20px;
    width: 100%;
    height: auto;
}

.product-title {
    margin-top: 80px;
}

.product-title h4 {
    font-size: 26px;
}

.product-title .row .col .card {
    border: none;
}

.product-title .row .col .card a {
    text-decoration: none;
}

.product-title .row .col .card a img {
    width: 100%;
    height: auto;
}

.product-title .row .col .card a p {
    margin-top: 30px;
    text-align: center;
}

.product-title .row .img_product_right {
    padding-right: 0;
}

.product-title .row .img_product_left {
    padding-left: 0;
}

.product-sale {
    margin-top: 80px;
}

.product-sale h4 {
    font-size: 26px;
}

.product-sale .row .selling {
    position: relative;
}

.product-sale .row .selling a .sale_price {
    top: 0px;
    position: absolute;
    right: 0px;
    background-image: url("Subtraction 1.png");
}

.product-sale .row .selling a .sale_price .price_sale {
    position: relative;
    width: 37px;
    height: 55px;
}

.product-sale .row .selling a .sale_price .price_sale p {
    color: white;
    font-size: 12px;
    text-align: center;
}

.product-sale .row .col {
    padding-left: 0;
    padding-right: 0;
}

.product-sale .row .col .card {
    border: none;
}

.product-sale .row .col .card a {
    text-decoration: none;
}

.product-sale .row .col .card a img {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}

.product-sale .row .col .card a p {
    font-size: 14px;
    text-align: center;
    margin-bottom: 0;
}

.product-sale .row .col .card a h5 {
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
}

.product-sale .row .col .card a .price {
    font-size: 12px;
}

.product-sale .row .col .card a .price span {
    color: #2DCF48;
}

.product-new {
    margin-top: 80px;
    margin-bottom: 80px;
}

.product-new h4 {
    font-size: 26px;
}

.product-new .row .col {
    padding-left: 0;
    padding-right: 0;
}

.product-new .row .col .card {
    border: none;
}

.product-new .row .col .card a {
    text-decoration: none;
}

.product-new .row .col .card a img {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}

.product-new .row .col .card a .price_sale {
    position: absolute;
}

.product-new .row .col .card a p {
    font-size: 14px;
    text-align: center;
    margin-bottom: 0;
}

.product-new .row .col .card a h5 {
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
}

.product-new .row .col .card a .price {
    font-size: 12px;
}

.product-new .row .col .card a .price span {
    color: #2DCF48;
}

.Mug_news .row .product_mug_home {
    padding-left: 0;
    padding-right: 0;
}

.Mug_news .row .product_mug_home .card {
    border: none;
}

.Mug_news .row .product_mug_home .card a {
    text-decoration: none;
}

.Mug_news .row .product_mug_home .card a img {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}

.Mug_news .row .product_mug_home .card a p {
    font-size: 14px;
    text-align: center;
    margin-bottom: 0;
}

.Mug_news .row .product_mug_home .card a h5 {
    text-align: center;
    font-size: 12px;
}

.Mug_news .row .product_mug_home .card a .price {
    font-size: 12px;
}

.Mug_news .row .product_mug_home .card a .price span {
    color: #2DCF48;
}

.Mug_news .row .banner_mug_home img {
    width: 100%;
    height: auto;
}

.T-shirt_home {
    margin-top: 80px;
}

.T-shirt_home .row .product_t-shirt {
    padding-left: 0;
    padding-right: 0;
}

.T-shirt_home .row .product_t-shirt .card {
    border: none;
}

.T-shirt_home .row .product_t-shirt .card a {
    text-decoration: none;
}

.T-shirt_home .row .product_t-shirt .card a img {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}

.T-shirt_home .row .product_t-shirt .card a p {
    font-size: 14px;
    text-align: center;
    margin-bottom: 0;
}

.T-shirt_home .row .product_t-shirt .card a h5 {
    text-align: center;
    font-size: 12px;
}

.T-shirt_home .row .product_t-shirt .card a .price {
    font-size: 12px;
}

.T-shirt_home .row .product_t-shirt .card a .price span {
    color: #2DCF48;
}

.T-shirt_home .row .col-sm-4 img {
    position: relative;
}

.T-shirt_home .row .col-sm-4 .button_shop-home {
    color: #282364;
    position: absolute;
    border: 1px solid #282364;
    padding: 6px 25px;
    border-radius: 17px;
    bottom: 50px;
    right: 120px;
    text-decoration: none;
    background-color: white;
}

.T-shirt_home .row .col-sm-4 :hover {
    color: #FFB400;
}

.review_star {
    margin-bottom: 10px;
}

.review_star .row .col-sm-4 {
    padding-left: 155px;
    text-align: center;
    background-image: url("Group 916.png");
    border: 1px solid lightgrey;
    box-shadow: 0 2px 2px 2px lightgrey;
}

.review_star .row .col-sm-4 p {
    margin-bottom: 0;
    font-size: 25px;
}

.review_star .row .col-sm-4 p i {
    color: yellow;
    font-size: 25px;
}

.review_star .row .col-sm-4 #tunrs_review {
    font-size: 15px;
}

.review_star .row .col-sm-2 {
    padding: 0 0 0 8px;
}

.review_star .row .col-sm-2 .post_review {
    box-shadow: 0 1px 1px 1px lightgrey;
    border: 1px solid lightgrey;
    margin-bottom: 0;
    padding: 16px 0;
    text-align: center;
}

.review_star .row .col-sm-2 .post_review a {
    margin-bottom: 0;
    font-size: 15px;
    text-decoration: none;
    color: #282364;
}

.review_star .row .col-sm-2 .post_review :hover {
    color: #FFB400;
}

.content_review .row .col {
    padding-right: 8px;
    padding-left: 0px;
}

.content_review .row .col .card {
    margin-top: 8px;
    box-shadow: 0 2px 2px 2px lightgrey;
    border: 1px solid lightgrey;
}

.content_review .row .col .card .review_img img {
    width: 100%;
    height: auto;
}

.content_review .row .col .card .review_star {
    padding-left: 20px;
}

.content_review .row .col .card .review_star p {
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.content_review .row .col .card .review_star p span {
    color: #2DCF48;
}

.content_review .row .col .card .review_star p i {
    color: yellow;
    font-size: 17px;
}

.content_review .row .col .card .review_content p {
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.content_review .row .col .card .review_comment .row .col-sm-3 img {
    width: 100%;
    height: auto;
    margin-left: 20px;
}

.content_review .row .col .card .review_comment .row .col-sm-9 {
    font-size: 12px;
}

.button_Show_review {
    display: inline-block;
    border: 2px solid #282364;
    padding: 10px 30px;
    font-size: 20px;
}

.button_Show_review a {
    color: #282364;
    text-decoration: none;
}

.button_Show_review :hover {
    color: #FFB400;
    text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
/* Duong css zone */
.ml50{
    margin-left: 150px;
}
.pr20{
    padding-right: 20px;
}
.fs12{
    font-size: 14px;
}
.fs22{
    font-size: 22px;
}
.fs32{
    font-size: 32px;
}
.pl20{
    padding-left: 20px;
}
.hover {
    overflow: hidden;
    position: relative;
    padding-bottom: 60%;
}

.hover-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    transition: all 0.4s;
}

.hover img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
}

.hover-noidung {
    position: relative;
    z-index: 99;
}
.hover-1 img {
    width: 105%;
    position: absolute;
    top: 0;
    left: -5%;
    transition: all 0.3s;
}

.hover-1-noidung {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 99;
    transition: all 0.4s;
}

.hover-1 .hover-overlay {
    background: rgba(0, 0, 0, 0.5);
}

.hover-1-trichdan {
    transform: translateY(0.5rem);
    transition: all 0.4s;
    opacity: 0;
}

.hover-1:hover .hover-1-noidung {
    bottom: 2rem;
}

.hover-1:hover .hover-1-trichdan {
    opacity: 1;
    transform: none;
}

.hover-1:hover img {
    left: 0;
}

.hover-1:hover .hover-overlay {
    opacity: 0;
}
.text-orange{
    color: #FF920C;
}
/* End Duong css zone */

/* Minh css zone */
#wp-content-list-product .container-cus {
    width: 1180px;
    margin: 0 auto;
}
#wp-content-list-product p.path {
    font-size: 14px;
    color: #B7B7B7;
}
#wp-content-list-product p.path span {
    color: #2F80ED;
}
#wp-content-list-product h1.title {
    font-size: 2rem;
    color: #282364;
    font-weight: bold;
    margin-bottom: 35px;
    margin-top: 22px;
}
#wp-content-list-product .sidebar h3.title-sub, .main-list-item .sidebar h3.title-sub{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 18px;
}
#wp-content-list-product .sidebar ul, .main-list-item .sidebar ul{
    list-style: none;
    padding-left: 1rem;
}
#wp-content-list-product .sidebar ul li, .main-list-item .sidebar ul li{
    margin-bottom: 23px;
}
#wp-content-list-product .sidebar ul li:last-child, .main-list .sidebar ul li:last-child{
    margin-bottom: 0;
}
#wp-content-list-product .sidebar ul li a , .main-list-item .sidebar ul li a{
    display: block;
    font-size: 14px;
    color: #000000;
    transition: .2s;
}
#wp-content-list-product .sidebar ul li a:hover, .main-list-item .sidebar ul li a:hover{
    text-decoration: none;
    color: #2F80ED;
    transition: .2s;
}
.sale_product .card{
    margin-bottom: 18px;
}
.sale_product .card:last-child{
    margin-bottom: 0;
}
.sale_product .card .card-body p.card-title {
    font-size: 14px;
    font-weight: normal;
}
input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    font-size: 14px;
    padding: 0 !important;
    text-align: center;
}
.__price-btn_sale{
    margin-top: 1rem;
}
p.old,p.new{
    padding: 0 !important;
    margin: 0 !important;
}
p.old{
    font-size: 12px;
    text-decoration: line-through;
}
p.new{
    color: #2DCF48;
}
.btn-sale button{
    width: 113px;
}

.info-page p{
    font-size: 14px;
    margin-right: 33px;
}
.info-page p:first-child {
    line-height: 52.8px;
}
.info-page p:last-child {
    width: 202px;
    height: 37px;
    font-size: 14px;
}
.info-page p span {
    font-size: 14px;
    color: #8A8A8A;
}
.row.view_sort{
    margin-top: 28px;
}
.row.view_sort .sort p{
    font-size: 14px;
    color: #282364;
}
.row.view_sort .number_product_view ul {
    list-style: none;
}
.row.view_sort .number_product_view ul li{
    margin-right: 1rem;
}
.row.view_sort .number_product_view ul li a{
    font-size: 14px;
    display: block;
    color: #282364;
    padding: 4px 7px;
    transition: .3s;
}
.row.view_sort .number_product_view ul li a:hover {
    text-decoration: none;
    background: #2F80ED;
    transition: .3s;
}
.title_active {
    color: #2F80ED !important;
}
.list_product .item{
    flex-basis: 205px;
    margin-right: 20px;
    margin-bottom: 54px;
}
.list_product .item .item_price {
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.list_product .item .item_price p.old, .list_product .item .item_price p.new{
    font-size: 14px;
}
a.item_title {
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    transition: .1s;
    color: #000;
}
a.item_title:hover{
    text-decoration: none;
    color: #DE0101;
    transition: .1s;
}
.paginate{
    margin-top: 50px;
}
.paginate ul{
    list-style: none;
}
.paginate ul li {
    padding: 4px 12px;
    transition: .2s;
}
.paginate ul li:hover {
    background: #2F80ED;
    transition: .2s;
}
.paginate ul li:hover a{
    text-decoration: none;
    color: #fff;
}
.paginate ul li a{
    color: #282364;
    font-size: 1rem;
    font-weight: bold;
}
.info-product p.desc {
    font-size: 1rem;
    color: #282364;
}
/*list_product CSS*/
#item-product {
    margin-bottom: 32px;
}

/*Reset your password*/
#breadcrumb_reset_pass {
    margin-left: 160px;
}
input#ip-email-reset-pass {
    height: 50px;
    max-width: 585px;
}
input#ip-email-login {
    height: 50px;
    max-width: 585px;
}
input#password-login {
    height: 50px;
    max-width: 585px;
    margin-top: 22px;
}
.row .col-9 input[type=text]::placeholder {
    color: #282364;
    font-size: 15px;
}
.btn-action {
    margin-top: 21px;
    margin-bottom: 300px;
}
.btn-action input, .btn-action a {
    font-size: 15px;
    font-weight: bold;
    color: #282364;
    width: 123px;
    height: 50px;
}
.btn-action a {
    margin-left: 23px;
    line-height: 35px;
}

.login_submit_forget_pass p:first-child {
    font-size: 15px;
    color: #282364;
}
.login_submit_forget_pass span, .login_submit_forget_pass p:last-child  {
    color: #2F80ED !important;
}
#or_login_with {
    font-size: 15px;
    color: #282364;
}
.line-login {
    border-bottom: 1px solid #707070;
}
.login-with a:last-child {
    font-weight: 600;
    color: #282364;
}

.form-login form input{
    max-width: 288px;
    height: 50px;
}
.form-login form input[name=first_name] {
    margin-right: 10px;
}
.form-login form input::placeholder {
    font-size: 15px;
    color: #282364;
}
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
    box-shadow: none;
}

a.btn.btn-success {
    width: 209px;
    height: 50px;
    line-height: 38px;
    color: #FFFFFF;
    background: #70BF54 !important;
    font-weight: 600;
}
.wp-item-cart{
    margin-bottom: 32px;
}
.wp-item-cart .qty-price {
    background: #F6F6F9;
    height: 54px;
    padding-right: 10px;
    line-height: 54px;
}
.wp-item-cart .qty-price p{
    font-size: 14px;
    font-weight: 600;
    color: #282364;
}
.title-info-item-cart {
    font-size: 14px;
    color: #282364;
    margin-bottom: 10px;
}
.item-cart .info-item-cart .custom-item-cart ul li{
    font-size: 12px;
    color: #282364;
}
#pay-cart{
    background: #F6F6F9;
    padding: 24px 16px 24px 16px;
    margin-bottom: 54px;
}
#pay-cart p {
    padding-bottom: 20px;
    border-bottom: .5px dotted #B7B7B7;
}
#pay-cart p:last-child{
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}
/* End Minh css zone */

/* Khai css zone */
/* End Khai css zone */

/* Nam css zone */
.cart-text {
    position: absolute;
    top: 5px;
    right: 0;
    background-color: #EB5757;
    color: #ffffff;
    border-radius: 3px;
    font-size: 0.625rem;
    padding: 2px 5px 2px 5px;
}

a.nav-link:hover {
    color: #2F80ED !important;
    border-bottom: 1px solid #2F80ED;
}

a.nav-link.cart-icon {
    border-bottom: none;
}

.input-group-text.header-search {
    background-color: #ffffff;
}

.header {
    border-bottom: 1px solid #777777;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    font-size: 0.9375rem;
}
.breadcrumb {
    background-color: #ffffff;
}
li.breadcrumb-item a {
    color: #B7B7B7;
}

li.breadcrumb-item.active {
    color: #2F80ED;
}
.footer-list {
    list-style-type: none;
}
.single-product {
    min-height: 65px;
}
.circle-color {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    max-height: 100%;
    max-width: 100%;
    border: 4px solid white;
}
.single-color {
    display: inline-block;
    margin-right: .25rem;
}
.single-size {
    display: inline-block;
    margin-right: 0.25rem;
}
.btn-pick-size {
    background-color: #ffffff;
    border-color: #B7B7B7;
    border-radius: 0;
    width: 50px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Some browsers will not display the caret when using calc, so we put the fallback first */
    background: url("../img/br_down.png") white no-repeat 98.5% !important; /* !important used for overriding all other customisations */
    background: url("../img/br_down.png") white no-repeat calc(100% - 10px) !important; /* Better placement regardless of input width */
}
/*For IE*/
select::-ms-expand { display: none; }
.btn-minus {
    background-color: white;
    border-left: 1px solid #ced4da;
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
}
.btn-plus {
    background-color: white;
    border-right: 1px solid #ced4da;
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
}
.input-number {
    text-align: center;
}
.single-payment {
    display: inline-block;
    margin-right: 1rem;
}
.main-image {
    position: relative;
}
.discount-tag {
    position: absolute;
    right: 30px;
    top: 0px;
}
.discount-text {
    position: absolute;
    top: 7px;
    text-align: center;
    right: 15px;
}
.single-image-item {
    border: 1px solid #B7B7B7;
}
.recent-view-item {
    right: 0px;
}
/* End Nam css zone */