@font-face {
    src: url('../fonts/roboto/Roboto-Bold.ttf');
    font-family: "Roboto Bold";
}

@font-face {
    src: url('../fonts/roboto/Roboto-Light.ttf');
    font-family: "Roboto Light";
}

@font-face {
    src: url('../fonts/roboto/Roboto-Medium.ttf');
    font-family: "Roboto Medium";
}

@font-face {
    src: url('../fonts/roboto/Roboto-Regular.ttf');
    font-family: "Roboto Regular";
}

.row-5 {
    padding: 0px 7px !important;
}

.pd-5 {
    padding: 0px 8px 16px 8px !important;
}

a {
    text-decoration: none !important;
}

ul {
    list-style: none;
    padding: 0px !important;
}

body {
    font-family: "Roboto Regular";
}


/**header**/

header#header {
    width: 100%;
    display: block;
    padding: 10px 0;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

header#header img#logo {
    width: 150px;
}

header#header div#form-search {
    display: flex;
    align-items: center;
    align-self: center;
    margin: 0px;
    padding: 20px 0;
}

header#header input.form-control.input-s {
    width: 100%;
    display: inline-block;
    font-size: 15px;
    border-radius: 3px !important;
    box-shadow: unset !important;
    margin: 0px !important;
}

header#header button#btn-s {
    border: 0px !important;
    background: transparent !important;
    position: absolute;
    top: 25px;
    right: 5px;
    font-size: 18px;
}

header#header .header-right {
    width: 100%;
    display: inline-block;
}

header#header .header-right ul {
    text-align: right;
}

header#header .header-right ul li {
    display: inline-block;
    padding: 25px 10px;
}

header#header .header-right ul li a {
    color: #000;
    font-size: 15px;
    font-family: "Roboto Light";
}

header#header li.cart-icon {
    position: relative;
}

header#header li.cart-icon i {
    font-size: 18px;
}

header#header li.cart-icon span.cart-count {
    height: 15px;
    width: 15px;
    background: #e80000;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 20px;
    text-align: center;
    line-height: 15px;
    color: #fff;
    font-size: 13px;
    right: 0px;
}


/**menu**/

header#header .header-bottom {
    width: 100%;
    display: block;
}

header#header .header-bottom nav#menu-main ul li a {
    color: #000;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 30px;
    display: block;
    font-family: "Roboto Regular";
}

header#header .header-bottom nav#menu-main ul li {
    float: left;
    height: 30px;
    padding: 0px 15px;
}

header#header .header-bottom nav#menu-main ul li:first-child {
    padding: 0px;
}

header#header .header-bottom .header-action {
    width: 100%;
    display: block;
    text-align: right;
}

header#header .select-redirect {
    float: left;
}

header#header select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #e80000;
    background-image: none;
}


/* Remove IE arrow */

header#header select::-ms-expand {
    display: none;
}


/* Custom Select */

header#header .select {
    position: relative;
    display: flex;
    width: 120px;
    height: 30px;
    background: #e80000;
    overflow: hidden;
    border-radius: 3px;
}

header#header select {
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
}


/* Arrow */

header#header .select::after {
    content: '\f107';
    font-family: "FontAwesome";
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 0.5em;
    background: #e80000;
    color: #fff;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}

header#header .select.curency {
    border: 1px solid #ddd;
    width: 80px;
    background: #fff !important;
    color: #000 !important;
}

header#header .select.curency select {
    background: #fff !important;
    color: #000 !important;
}

.curency .select::after {
    background: #fff !important;
    color: #000 !important;
}

nav#menu-main ul li a:hover {
    color: #e80000 !important;
}


/* Transition */

header#header .select:hover::after {
    color: #fff;
}

.header-action ul li a {
    display: block;
    line-height: 30px;
    color: #000;
    font-family: "Roboto Regular";
    font-size: 15px;
}

.header-action ul li {
    float: left;
    height: 30px;
    flex-wrap: wrap;
    padding: 0px 10px;
}

.header-action ul li:last-child {
    padding-right: 0px !important;
}


/**slider**/

#home-slider {
    width: 100%;
    position: relative;
}

section#home-slider .owl-nav button {
    width: 50px;
    height: 50px;
    background: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0px !important;
}

section#home-slider .owl-nav button i {
    font-size: 30px;
}

section#home-slider .owl-nav button.owl-next {
    right: 20px
}

section#home-slider .owl-nav button.owl-prev {
    left: 20px
}

section#home-slider .owl-nav button:hover {
    background: #e80000;
}

section#home-slider .owl-nav button:hover i {
    color: #fff;
}

section#home-slider .owl-dots button {
    background: #fff !important;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0px 3px;
    text-align: center;
}

section#home-slider .owl-dots {
    bottom: 10px;
    position: absolute;
    text-align: center;
    display: inline-block;
    width: 100%;
}

section#home-slider .owl-dots button.active {
    background: #e80000 !important;
}


/*8footer**/

footer#footer {
    background-color: #202325;
    position: relative;
    padding: 40px 0;
}

footer#footer .footer-top {
    width: 100%;
    display: inline-block;
}

footer#footer .footer-top .footer-title {
    width: 100%;
    margin-bottom: 20px;
}

footer#footer .footer-top .footer-title h3 {
    font-family: "Roboto Bold";
    margin: 0px !important;
    color: #fff;
    text-transform: uppercase;
    font-size: 17px;
}

footer#footer .footer-top .footer-menu ul li {
    list-style: none;
    padding-bottom: 10px;
}

footer#footer .footer-top .footer-menu ul li a {
    font-size: 14px;
    color: #fff;
    font-family: "Roboto Light";
}

footer#footer .footer-top .footer-menu ul li a:hover {
    color: #e80000
}

footer#footer .footer-top input.form-control.input-email {
    width: 80%;
    display: inline-block;
    margin-bottom: 10px;
    border-radius: 3px !important;
    box-shadow: unset !important;
    border: 0px !important;
    font-size: 15px;
}

footer#footer .footer-top button {
    padding: 5px 20px;
    background: #e80000;
    border: 0px !important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    font-size: 15px;
}

footer#footer .footer-top .footer-address p {
    margin: 0px !important;
    padding-bottom: 10px;
    color: #fff;
    font-size: 15px;
    font-family: "Roboto Light";
}

footer#footer .footer-top .footer-social ul li a {
    color: #fff;
}

footer#footer .footer-top .footer-social ul li a:hover {
    color: #e80000
}

footer#footer .footer-top .footer-social ul li {
    float: left;
    margin-right: 15px;
}

footer#footer .footer-top .footer-social {
    width: 100%;
    margin-top: 10px;
    color: #fff;
    font-size: 18px;
}

footer#footer .footer-absolute {
    width: 100%;
    margin-top: 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 30px 0 0 0;
    text-align: center;
    color: #fff;
    font-family: "Roboto Light";
    font-size: 15px;
}

#home-slider {
    margin-bottom: 20px;
}


/*8product**/

section.product-box {
    display: inline-block;
    width: 100%;
    margin: 20px 0;
}

section.product-box .banner-ad-view {
    display: inline-block;
    width: 100%;
    height: 500px;
}

section.product-box .banner-ad-view img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-item {
    background-color: #fff;
    position: relative;
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    display: inline-block;
    width: 100%;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}

.product-item .product-avatar {
    position: relative;
    overflow: hidden;
}

.product-item .product-avatar:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: all 0.5s ease-in-out;
    z-index: 1;
}

.product-item .product-avatar img {
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.product-item.small .product-avatar img {
    height: 220px;
}

.product-item .product-avatar img {
    width: 100%;
    height: 280px;
}

.product-item .product-content {
    padding: 15px;
}

.product-item .product-content h3 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-transform: capitalize;
    color: #292b2c;
    font-size: 14px;
    font-family: "Roboto Bold";
}

.product-item .product_price {
    margin-bottom: 5px;
    font-family: "Roboto Regular";
}

.product-item .price {
    color: #FF324D;
    font-weight: 600;
}

.product-item .product_price del {
    font-size: 14px;
    margin-right: 5px;
    margin-left: 3px;
}

.product-item .on_sale {
    display: inline-block;
    color: #388e3c;
    font-size: 14px;
}

.product-item .rating_wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.product-item .rating_wrap .rating {
    overflow: hidden;
    position: relative;
    height: 20px;
    font-size: 12px;
    width: 55px;
    font-family: "FontAwesome";
    display: inline-block;
    vertical-align: middle;
}

.product-item .rating::before {
    font-size: 12px;
    content: "\f005\f005\f005\f005\f005";
    top: 0;
    position: absolute;
    left: 0;
    float: left;
    color: #F6BC3E;
}

.product-item .product_rate {
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5em;
    color: #F6BC3E;
}

.product-item .product_rate:before {
    font-size: 12px;
    content: "\f005\f005\f005\f005\f005";
    top: 0;
    position: absolute;
    left: 0;
    font-weight: 900;
}

.product-item .rating_num {
    font-size: 12px;
    margin-left: 5px;
    color: #687188;
    font-family: "Roboto Light";
    vertical-align: middle;
    display: inline-block;
}

.product-item .pr_switch_wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 7px 15px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
}

.product-item .product_color_switch span:first-child {
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

.product-item.product_color_switch span {
    -webkit-transform: translateY(15px);
    -ms-transform: translateY(15px);
    -o-transform: translateY(15px);
    transform: translateY(15px);
    opacity: 0;
}

.product-item .product_color_switch span {
    height: 15px;
    width: 15px;
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    position: relative;
    cursor: pointer;
    border-radius: 100%;
}

.product-item:hover .pr_switch_wrap {
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    opacity: 1;
    visibility: visible;
}

.product-item .product_color_switch span.active::before {
    content: "";
    border: 2px solid #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: -3px;
    border-radius: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}


/*8home title**/

.home-title h2 {
    color: #292b2c;
    text-transform: uppercase;
    font-size: 20px;
    font-family: "Roboto Bold";
}

.home-title {
    text-align: center;
    margin-bottom: 30px;
}

.slider-product .owl-stage-outer {
    padding: 10px 0 20px 0 !important;
}


/**review**/

.review-box {
    width: 100%;
    display: inline-block;
    margin-bottom: 20px !important;
}


/**category**/

section#category-page {
    width: 100%;
    display: inline-block;
    margin: 30px 0;
}

.category-title h3 {
    font-size: 25px;
    text-transform: uppercase;
    font-family: "Roboto Bold";
}

.category-title {
    width: 100%;
    margin: 0px 0 10px 0;
}


/**breadcrumb**/

.breadcrumb a {
    color: #000;
    font-family: 'Roboto Regular';
    font-size: 15px;
}

.breadcrumb {
    margin-bottom: 10px !important;
    padding-left: 0px;
    padding-right: 0px;
    background: transparent !important;
}

.breadcrumb span i {
    margin: 0px 5px;
}


/**category filter**/

.category-filter {
    display: inline-block;
    width: 100%;
    margin: 20px 0 30px 0;
    border: 1px solid #ddd;
    padding: 10px;
    font-family: "Roboto Light";
    font-size: 15px;
}

.category-filter select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #e80000;
    background-image: none;
}


/* Remove IE arrow */

.category-filter select::-ms-expand {
    display: none;
}


/* Custom Select */

.category-filter .select {
    position: relative;
    display: flex;
    width: 120px;
    height: 30px;
    background: #e80000;
    overflow: hidden;
    border-radius: 3px;
}

.category-filter select {
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
}


/* Arrow */

.category-filter .select::after {
    content: '\f107';
    font-family: "FontAwesome";
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 0.5em;
    background: #e80000;
    color: #fff;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}

.category-filter .select.curency {
    border: 1px solid #ddd;
    width: 80px;
    background: #fff !important;
    color: #000 !important;
}

.category-filter .select.curency select {
    background: #fff !important;
    color: #000 !important;
}

.category-filter .curency.select::after {
    background: #fff !important;
    color: #000 !important;
}

.order-title {
    float: left;
    line-height: 30px;
    margin-right: 10px;
}

.category-filter a.action-view.active {
    background: #f2f2f2;
}

.category-filter .action-view {
    padding: 10px;
    line-height: 30px;
    color: #000;
    font-size: 18px;
}


/*8widget**/

.widget {
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
    font-family: "Roboto Light";
}

.widget-title h3 {
    margin-bottom: 20px;
    font-size: 17px;
    text-transform: uppercase;
    font-family: 'Roboto Bold';
}

.product-wd-item {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

.product-wd-item:last-child {
    margin-bottom: 0px;
}

.product-wd-item .product-avatar {
    width: 100px;
    height: 80px;
    float: left;
}

.product-wd-item .product-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-wd-item .product-content {
    width: calc(100% - 100px);
    float: left;
    padding-left: 10px;
}

.product-wd-item .product-content h3 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-transform: capitalize;
    color: #292b2c;
    font-size: 14px;
    font-family: "Roboto Bold";
}

.product-wd-item .product_price {
    margin-bottom: 5px;
    font-size: 13px;
    font-family: "Roboto Regular";
}

.product-wd-item .price {
    color: #FF324D;
    font-weight: 600;
}

.product-wd-item .product_price del {
    font-size: 14px;
    margin-right: 5px;
    margin-left: 3px;
}

.product-wd-item .pr_switch_wrap {
    background-color: #fff;
    padding: 7px 15px 0 0;
    transition: all .3s ease-in-out;
}

.product-wd-item .product_color_switch span:first-child {
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

.product-wd-item .product_color_switch span {
    height: 15px;
    width: 15px;
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    position: relative;
    cursor: pointer;
    border-radius: 100%;
}

.product-wd-item .product_color_switch span.active::before {
    content: "";
    border: 2px solid #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: -3px;
    border-radius: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#mobile {
    display: none;
}

.header-mobile {
    display: none;
}

.mobileNavWrapper {
    transition: all .30s ease;
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.mobileNavWrapper.showNav,
#page.showNav {
    -webkit-transform: translateX(-250px);
    -ms-transform: translateX(-250px);
    transform: translateX(-250px);
}

#page {
    transition: all 0.3s ease 0s;
}

.mobileNavWrapper {
    width: 250px;
    height: 100%;
    min-height: 100%;
    position: fixed;
    right: -250px;
    top: 0;
    overflow-x: hidden;
    z-index: 16;
    background: #efefef;
    -moz-box-shadow: inset 10px 0 6px -9px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 10px 0 6px -9px rgba(0, 0, 0, 0.5);
    box-shadow: inset 10px 0 6px -9px rgba(0, 0, 0, 0.5);
}

.mobileNavWrapper ul {
    display: inline-block;
    width: 100%;
    padding: 10px !important;
}

.mobileNavWrapper ul li a {
    border-bottom: 1px solid #fff;
    width: 100%;
    float: left;
    display: block;
    color: #333;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 0;
}

.product-item.list .product-avatar {
    width: 200px;
    height: 180px;
    float: left;
}

.product-item.list .product-content {
    width: calc(100% - 200px);
    float: left;
}

.product-item.list .product-avatar img {
    height: 100%;
    object-fit: cover;
}

.product-item.list .pr_switch_wrap {
    opacity: 1;
    visibility: visible;
    position: unset !important;
    padding-left: 0px !important;
}


/**gallery product**/

#sync1 .item {
    margin: 5px;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}

#sync2 .item {
    background: #c9c9c9;
    margin: 5px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

#sync2 .item h1 {
    font-size: 18px;
}

.thumbnail-product .owl-theme .owl-nav [class*='owl-'] {
    transition: all 0.3s ease;
}

.thumbnail-product .owl-theme .owl-nav [class*='owl-'].disabled:hover {
    background-color: #d6d6d6;
}

#sync1.owl-theme {
    position: relative;
}

#sync1.owl-theme .owl-next,
#sync1.owl-theme .owl-prev {
    width: 22px;
    height: 40px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
}

#sync1.owl-theme .owl-prev {
    left: 10px;
}

#sync1.owl-theme .owl-next {
    right: 10px;
}


/*8product info**/

.product-info .price {
    vertical-align: middle;
    font-size: 26px;
}

.price {
    color: #FF324D;
    font-weight: 600;
}

.product-info .product_price del {
    font-size: 14px;
    margin-right: 5px;
    margin-left: 3px;
}

.product-info h2 {
    margin-bottom: 15px;
    font-size: 30px;
    color: #292b2c;
    font-family: 'Roboto Bold';
}

.product-info .product-validate label {
    font-size: 16px;
    color: #292b2c;
    font-family: 'Roboto Regular';
    margin-bottom: 10px;
}

.product-info .product-validate {
    width: 100%;
    display: inline-block;
    margin: 20px 0;
}

.product-info .product-list-validation {
    width: 100%;
    display: inline-block;
}

.product-info .product-list-validation ul li {
    float: left;
    padding: 5px;
    border: 1px solid #ddd;
    font-size: 13px;
    border-radius: 3px;
    font-family: 'Roboto Light';
    margin: 0px 10px 10px 0;
}

.product-info .product-list-validation ul li.active {
    border-color: #FF324D;
}

.product-info .product-add-cart {
    border: 1px solid #ddd;
    width: 100%;
    display: inline-block;
}

.product-info .product-add-cart h2 {
    font-size: 20px;
    color: #292b2c;
    font-family: 'Roboto Bold';
    margin-bottom: 0px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.product-info .product-attr {
    width: 100%;
    display: inline-block;
    padding: 10px;
}

.product-info .product-attr label {
    font-size: 15px;
    font-family: 'Roboto Light';
}

.product-info .choose-item {
    display: inline-block;
    width: 100%;
}

.product-info .choose-item ul li {
    width: 30px;
    height: 30px;
    border: 1px solid #dddd;
    border-radius: 3px;
    text-align: center;
    line-height: 30px;
    float: left;
    margin-right: 10px;
}

.product-info .choose-select select {
    font-size: 14px;
}

.product-info button#reviewClick, button#addtocart {
    width: 100%;
    font-family: "Roboto Light" !important;
    border-radius: 3px !important;
}

.product-info .product-share {
    width: 100%;
    display: inline-block;
    margin: 20px 0;
}

.product-info .product-share label {
    font-size: 15px;
    margin-bottom: 10px;
    font-family: 'Roboto Light';
}

.product-info .product-share .product-share-icon {
    width: 100%;
    display: inline-block;
}

.product-info .product-share .product-share-icon ul li a {
    color: #000;
    font-size: 17px;
}

.product-info .product-share .product-share-icon ul li {
    float: left;
    margin-right: 10px;
}

.product-info .product-description p {
    font-size: 15px;
    font-family: 'Roboto Light';
}

.product-info .product-description h4 {
    font-size: 20px;
    font-family: 'Roboto Bold';
}

.product-related {
    width: 100%;
    display: inline-block;
    margin-top: 30px;
}

/*page**/
.category-search {
    width: 100%;
    display: inline-block;
    position: relative;
    margin-bottom: 20px;
}

.category-search button.btnSearchCat {
    border: 0px !important;
    position: absolute;
    top: 5px;
    right: 5px;
    background: transparent !important;
    font-size: 18px;
}

/**modal review**/
h4#myLargeModalLabel {
    text-align: center;
    margin: auto;
    width: 100%;
    position: absolute;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Roboto Bold';
}

.reviewItem {
    width: 100%;
    display: inline-block;
    border: 1px solid #ddd;
    padding: 10px;
}

.reviewItem .review-star {
    margin-right: 10px;
    float: left;
}

.reviewItem .review-name {
    float: left;
    margin-left: 10px;
}

.reviewItem .review-star i {
    color: #fec400;
}

.form-login h2 {
    text-align: center;
    font-family: 'Roboto Bold';
    margin-bottom: 30px;
}

.form-login button#btn-login {
    width: 100%;
    background: #FF324D !important;
    border-color: #FF324D !important;
    border-radius: 3px !important;
    font-family: 'Roboto Light';
    margin: auto !important;
}

.form-login .login-text {
    display: block;
    line-height: 40px;
}

.page-content p {
    font-size: 16px;
    font-family: 'Roboto Light';
}

.page-content h2 {
    text-align: center;
    margin-bottom: 20px !important;
    font-family: 'Roboto Bold';
    font-size: 30px;
}

.page-order .banner-order img {
    width: 100%;
}

/**faq**/
.page-faq .faq-avatar img {
    width: 100%;
}

.page-title h2 {
    margin-bottom: 30px;
    font-family: 'Roboto Bold';
    font-size: 35px;
}

.page-question p {
    font-size: 15px;
    font-family: 'Roboto Light';
}

.page-question h2 {
    margin-bottom: 15px;
    font-family: 'Roboto Bold';
    font-size: 20px;
}

/**faq item**/
.faq-item {
    width: 100%;
    height: 200px;
    position: relative;
}

.faq-item .fag-avatar {
    width: 100%;
    height: 100%;
}

.faq-item .fag-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.faq-item .fag-text {
    width: 100%;
    position: absolute;
    top: 0px;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.faq-item .fag-text .faq-box {
    width: 100%;
    padding: 10px;
    text-align: center;
    display: block;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    color: #000;
    font-size: 15px;
    font-family: 'Roboto Regular';
}

/*8rview order**/
.order-view, .order-title {
    width: 100%;
    display: inline-block;
}

.order-title {
    margin-bottom: 20px;
}

.order-title h2 {
    text-align: center;
    font-family: 'ROBOTO BOLD';
    font-size: 25px;
}

.order-proccess {
    width: 100%;
    margin: auto;
    border-bottom: 1px solid #ddd;
    display: inline-block;
}

.order-v {
    width: calc(100% / 7);
    float: left;
}

.order-proccess .order-icon i {
    display: block;
    font-size: 40px;
    color: #000;
}

.order-proccess .order-icon {
    display: inline-block;
    text-align: center;
}

.order-proccess .order-icon label {
    margin-top: 10px;
    font-family: 'Roboto Light';
    font-size: 15px;
}

.order-proccess .order-icon.active i {
    color: #00CC00
}

.order-arrow {
    content: '';
    height: 3px;
    background: #000;
    display: flex;
    text-indent: -9999px;
}

.order-arrow:before {
    width: 0;
    height: 0;
    content: '';
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #000;
    position: absolute;
    top: -6px;
    right: -5px;
}

.order-arrow {
    text-indent: -9999px;
    position: relative;
    margin-top: 20px;
}

.order-arrow.order-v.active {
    background: #00CC00;
}

.order-arrow.order-v.active:before {
    border-left: 8px solid #00CC00 !important;
}

/*8cart page**/
.header-cart h2 {
    font-family: 'Roboto Bold';
    font-size: 20px;
}

.header-cart {
    width: 100%;
    display: inline-block;
    padding: 0px 0 20px 0;
}

.header-cart .price-cart {
    color: #FF324D;
    font-weight: 600;
    font-size: 15px;
}

.list-cart {
    width: 100%;
    display: inline-block;
}

.list-cart .cart-item {
    width: 100%;
    display: inline-block;
}

.list-cart .cart-item .cart-avatar {
    width: 200px;
    height: 150px;
    float: left;
}

.list-cart .cart-item .cart-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.list-cart .cart-item .cart-content {
    width: 250px;
    float: left;
    padding-left: 10px;
}

.list-cart .cart-item .cart-content h3 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-transform: capitalize;
    color: #292b2c;
    font-size: 18px;
    font-family: "Roboto Bold";
}

.list-cart .cart-item .cart-content .product_price {
    margin-bottom: 5px;
    font-size: 13px;
    font-family: "Roboto Regular";
}

.list-cart .cart-item .cart-content .price {
    color: #FF324D;
    font-weight: 600;
}

.list-cart .cart-item .cart-content .product_price del {
    font-size: 14px;
    margin-right: 5px;
    margin-left: 3px;
}

.list-cart .cart-item .cart-content .pr_switch_wrap {
    background-color: #fff;
    padding: 7px 15px 0 0;
    transition: all .3s ease-in-out;
}

.list-cart .cart-item .cart-content .product_color_switch span:first-child {
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

.list-cart .cart-item .cart-content .product_color_switch span {
    height: 15px;
    width: 15px;
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    position: relative;
    cursor: pointer;
    border-radius: 100%;
}

.list-cart .cart-item .cart-content .product_color_switch span.active::before {
    content: "";
    border: 2px solid #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: -3px;
    border-radius: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.list-cart .cart-item .cart-quantity {
    width: 100px;
    float: left;
}

.list-cart .cart-item .cart-action {
    width: calc(100% - 800px);
    float: left;
    text-align: center;
    font-size: 20px;
    color: #000;
}

.list-cart .cart-item .cart-price {
    width: 150px;
    float: left;
    text-align: center;
    color: #FF324D;
    font-weight: 600;
    font-size: 15px;
}

.cart-subtal h2 {
    font-family: 'Roboto Bold';
    font-size: 20px;
}

.cart-subtal {
    width: 100%;
    display: inline-block;
    border-top: 1px solid #ddd;
    padding: 20px 0;
    margin-top: 20px;
}

.cart-subtal .cart-total {
    color: #FF324D;
    font-weight: 600;
    font-size: 15px;
}

.list-cart.cart-1 .cart-item .cart-avatar {
    width: 150px;
    height: 100px;
    float: left;
}

.list-cart.cart-1 .cart-item .cart-price {
    width: calc(100% - 400px);
    float: left;
    text-align: center;
    color: #FF324D;
    font-weight: 600;
    font-size: 15px;
    line-height: 100px;
}

/**checkout**/
.form-header {
    width: 100%;
    display: inline-block;
}

.form-header h2 {
    font-family: 'Roboto Bold';
    font-size: 20px;
    margin: 0px !important;
}

.form-header p.p-text {
    font-family: 'Roboto Light';
    font-size: 15px;
}

.form-checkout h2 {
    font-family: 'Roboto Bold';
    font-size: 20px;
    margin-bottom: 20px;
}

.form-checkout {
    width: 100%;
    display: inline-block;
    margin: 30px 0 0 0;
}

.form-coupon {
    width: 100%;
    margin: 20px 0;
}

.cart-checkout-total table {
    width: 100%;
}

.price-cart-checkout {
    color: #FF324D;
    font-weight: 600;
}

.user-profile table tr {
    height: 40px;
    font-size: 16px;
    font-family: 'ROBOTO LIGHT';
}

.user-profile table {
    width: 100%;
}

.shipping-method p {
    font-family: 'Roboto Light';
    font-size: 15px;
}

.shipping-method h2 {
    font-family: 'Roboto Bold';
    font-size: 20px;
    margin-bottom: 20px;
}

.shipping-method {
    width: 100%;
    display: inline-block;
    margin: 30px 0 0 0;
}

/**profile**/
.profile-user {
    width: 100%;
    display: inline-block;
}

.profile-user .profile-avatar {
    width: 80px;
    float: left;
    height: 80px;
    border-radius: 50%;
}

.profile-user .profile-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profile-user .profile-content h5 {
    width: 100%;
    display: block;
}

.profile-user .profile-content {
    width: calc(100% - 80px);
    float: left;
    padding-left: 20px;
    flex: unset;
    padding-top: 10px;
}

.profile-list a {
    width: 100%;
    display: block;
}

.profile-list {
    width: 100%;
    display: inline-block;
    margin-top: 20px;
}

.profile-form h2 {
    font-family: 'Roboto Bold';
    font-size: 20px;
    margin-bottom: 20px;
}

/**tab product**/
.tab-product ul li.active a {
    color: #fff;
}

.tab-product ul li.active {
    background: #FF324D;
}

.tab-product ul li:hover a {
    color: #fff;
}

.tab-product ul li:hover {
    background: #FF324D;
    color: #fff;
}

.tab-product ul li a {
    text-align: center;
    display: block;
    color: #000;
    font-size: 15px;
}

.tab-product ul li {
    width: calc(100% / 6);
    float: left;
    padding: 8px 10px;
}

.tab-product {
    width: 100%;
    display: inline-block;
    border: 1px solid #ddd;
}

.tab-item {
    margin: 20px 0;
}

.tab-item .cart-price {
    line-height: 20px !important;
}

.tab-item .cart-item {
    position: relative;
}

.tab-item .cart-item .order-action {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

/**order**/
.order-body {
    width: 100%;
    display: inline-block;
    padding: 30px 0;
}

.order-body h2 {
    font-family: 'Roboto Bold';
    font-size: 20px;
    margin-bottom: 20px;
}

.order-information h4 {
    font-family: 'Roboto Bold';
    font-size: 18px;
    margin-bottom: 20px;
}

.order-information {
    border: 1px solid #ddd;
    padding: 20px;
}

.order-footer {
    width: 100%;
    display: inline-block;
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
}

.order-body-address, .order-body-information,.order-cart,.order-total-body {
    padding: 20px 0;
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid #ddd;
}
.order-total-body{
    border-bottom: 0px !important;
}
p {
    margin-bottom: 10px !important;
}

.order-body-information p {
    margin-bottom: 10px !important;
}

.order-total-body table {
    float: right;
    width: 30% !important;
}
