.bg-grey {
    background-color: #F3F3F3;
}
.btn-orange {
    background-color: #FF920C;
    border-color: #FF920C;
}
.btn-white {
    background-color: #ffffff;
    border-color: #B7B7B7;
}
/* fontweight */
.text-bold {
    font-weight: 900;
}
.text-semibold {
    font-weight: 600;
}
.text-italic {
    font-style: italic;
}
/* font size */
.fs10 {
    font-size: 0.625rem;
}
.fs11 {
    font-size: 0.6875rem;
}
.fs12 {
    font-size: 0.75rem;
}
.fs13 {
    font-size: 0.8125rem;
}
.fs14 {
    font-size: 0.875rem;
}
.fs15 {
    font-size: 0.9375rem;
}
.fs16 {
    font-size: 1rem;
}
.fs17 {
    font-size: 1.0625rem;
}
.fs18 {
    font-size: 1.125rem;
}
.fs19 {
    font-size: 1.1875rem;
}
.fs20 {
    font-size: 1.25rem;
}
.fs21 {
    font-size: 1.3125rem;
}
.fs22 {
    font-size: 1.375rem;
}
.fs23 {
    font-size: 1.4375rem;
}
.fs24 {
    font-size: 1.5rem;
}
.fs25 {
    font-size: 1.5625rem;
}
.fs26 {
    font-size: 1.625rem;
}
.fs27 {
    font-size: 1.6875rem;
}
.fs28 {
    font-size: 1.75rem;
}
.fs29 {
    font-size: 1.8125rem;
}
.fs30 {
    font-size: 1.875rem;
}
.fs50{
    font-size: 3rem;
}

.container-custom {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.text-grey {
    color: #8A8A8A;
}
.text-green {
    color: #2DCF48;
}
.text-light-blue {
    color: #2F80ED;
}

@media (min-width: 576px) {
    .container-custom {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container-custom {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container-custom {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container-custom {
        max-width: 1140px;
    }
}

@media (min-width: 1600px) {
    .container-custom {
        max-width: 1600px;
    }
}