.fa, .far, .fas {
  font-family: "Font Awesome 5 Free" !important;
}
@keyframes gradient {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -200% 0;
  }
}
.d-flex {
  display: -ms-flexbox!important;
  display: flex!important;
}
.align-items-center {
  -ms-flex-align: center!important;
  align-items: center!important;
}
.justify-content-between {
  -ms-flex-pack: justify!important;
  justify-content: space-between!important;
}
.justify-content-center{
  justify-content: center!important;
}
.animated-linear-gradient {
  background: repeating-linear-gradient(to right, #d68d02 0%, #ea0f0f 50%, #d68d02 100%);
  width: 100%;
  background-size: 200% auto;
  background-position: 0 100%;
  animation: gradient 2s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  padding: 0 10px;
  border-radius: 9999px;
}
.breadcrumb {
  >li{
    margin-right: 10px;
    &:before{
      content:none!important;
    }
    &:after{
      content:"/";
      margin:0 5px;
      color:#333;
      font-size:16px;
      font-weight:bold;
    }
    &:last-child:after{
      content:none;
    }
  }
}
html{
  *, body{
    font-family: "Roboto",sans-serif!important;
  }
  body{
    background-color: #f5f5f5;
  }
}

body {
  a:hover{
    text-decoration: none;
  }
  header {
    .fa-flip-horizontal{
      transform: rotate(10deg);
    }
    .cart{
      position: fixed;
      right: 0;
      top:30%;
      color:#333;
      z-index:9;
      font-size:17px;
      background:#fff;
      border-radius: 50px;
      border: 1px solid #ccc;
      width: 39px!important;
      height: 39px;
      overflow: hidden;
      transition: 0.5s;
      &:hover{
        width:155px!important;
      }
      i{
        background: #ff9300;
        border-radius: 50%;
        float:left;
        font-size:12px;
        width:37px;
        height:37px;
        line-height:37px;
      }
      &:before{
        content:none;
      }
      .content-minicart{
        text-align:left;
        padding:0 10px;
        font-size:12px;
        margin-left:35px;
      }
      .cart-total{
        color:#136ed2;
        font-weight:bold;
      }
    }
    .hleft {
      width: 40%;
      background: #000;
      padding: 17px 10px 17px 0;
    }

    .hright {
      width: 60%;
      align-self: flex-end;
    }
  }
  .tim {
    padding:0 10px;
    input{
      height:32px;
      padding:0 40px 0 15px;
      font-size:14px;
      &::placeholder {
        font-style:italic;
      }
    }
    button{
      background-color: #efefef;
      color: #ff9300;
      height:32px;
      border-radius: 0 20px 20px 0;
      i:before{
        font-size:22px;
      }
    }
  }
  #menu {
    display: flex;
    a {
      line-height: 25px;
    }
  }
  .nav-menu .nav-item {
    padding: 0 10px !important;
    &> a {
      display: inline-flex;
      justify-content: center;
      flex-direction: column;
      padding: 5px 10px;
      &> img {
        height: 30px;
        object-fit: contain;
        margin-bottom: 5px;
      }
    }
    &.menu-san_pham {
      display: block;

      #menu-show {
        display: block;
        background: transparent;
        border: none;
      }
    }

    .menu-hover{
      font-size:11px;
      text-transform: capitalize;
      height:auto;
      font-weight: bold;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      text-align:center;
      white-space: nowrap;
    }
  }

  .b {
    max-width: 1190px;
    padding:0;
  }

  .head {
    height: auto;
    flex-direction: column;

    nav {
      width: 100%;
    }
  }

  .menu-san_pham {
    .flexJus {
      border: none;
      padding: 0;
      a.hover1{
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
          width: 50px;
          height: 30px;
        }
        &:hover {
          border-left: none;
        }
      }
    }
  }

  .new-header-top {
    padding: 5px 0;
    display: flex;
    justify-content: flex-end;
    p{
      margin-bottom:10px;
    }
    .header-top-item {
      margin-left: 15px;

      > span {
        font-size: 12px;
        display: inline-block;
        line-height: 30px;
      }
    }
  }

  #view-covid:hover #showroom_online_new,
  #support_top:hover #h_menu_sub_on1 {
    display: block;
  }

  #showroom_online_new,
  #h_menu_sub_on1 {
    top: 33px;
    position: fixed;
    z-index: 9999;
    width: 1190px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
  }

  .hOnline-order, .he_thong_showroom-container {
    padding: 10px;
    background-color: #fbfbfb;
    color: #000;
    text-align: left;
    border: solid 1px #000;
    font-size: 12px;
    max-height: calc(100vh - 100px);
    overflow: scroll;
  }

  .he_thong_showroom-row {
    display: flex;
  }

  .showroom-container {
    width: 25%;
    font-size: 13px;
    padding-left: 20px;

    &:first-child {
      padding-left: 10px;
    }

    span {
      line-height: 1;
    }

    .showroom-table-title {
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;

      &:after {
        content: '';
        display: block;
        height: 2px;
        width: 20%;
        background: #ed1b24;
      }
    }
  }

  .chat-zalo {
    color: #0573ff;
  }

  .phone-color, .email-color {
    color: #ed1b24;
  }

  .hotline-title {
    width: 49.5%;
    background: #ff9300;
    color: #fff !important;
    padding: 2px;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
    padding:10px 0;

    &.hovered {
      background: #ed1b24;
    }
  }

  .hotline-col-3 {
    width: 33.3333333333%;
    float: left;
  }

  .hotline-title-2 {
    font-weight: 600;
    font-size: 15px;
  }

  .hotline-info li:before {
    font-family: 'Font Awesome 5 Free';
    content: '\f105';
    font-weight: 900;
    margin-right: 5px;
  }
  .breadcrumb {
    margin:15px 0;
    a{
      color:#333;
      font-weight: normal;
      font-size:14px;
    }
  }
}

.owl-theme .owl-controls .owl-buttons div{
  position: absolute;
  top: calc(50% - 16px);
  &.owl-prev{
    left:0;
  }
  &.owl-next{
    right:0;
  }
}
.banner-home{
  display: flex;
  margin-top: 5px;
  .owl-carousel .owl-item img{
    width:100%;
    height: calc(100% - 5px);
  }
  .slide-home {
    width: 820px;
    min-width: 820px;
    .owl-pagination {
      bottom: 10px;
    }
    .owl-theme{
      .owl-controls{
        .owl-page{
          span {
            background: #D6D6D6;
          }
          &.active span{
            background: #333;
          }
        }
      }
    }
    #sync1,.owl-wrapper-outer,
    .owl-carousel .owl-wrapper,
    .owl-carousel .owl-item,
    .item{
      height:100%;
    }
  }
  .banner-right{
    padding-left: 5px;
    width:100%;

    a {
      display: block;
    }
    img{
      width:100%;
    }
  }
}
.new-banner-bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width:100%;
  a {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 5px 5px 0 5px;
    &:last-child{
      padding-right:0;
    }
  }
}
.list-launcher{
  background:white;
  margin-top: 10px;
  .owl-carousel{
    padding:10px 40px;

  }
  img{
    transition: 0.3s;
    &:hover{
      transform: scale(0.8);
    }
  }
}
.my-2{
  padding: 0;
}
.logo-category{
  display: flex;
  height: auto;
  align-items: center;
  border-left:0;
  border-right: 0;
  border-top: 0;
  .list-launcher{
    width:50%;
    margin-top:0;
  }
  .list-sub-category{
    width:50%;
  }
  div#hpanel a.manuface{
    width:100%;
    border:none;
  }
   a{
    border:none;
  }
}

.filter-category{
  background: white;
  width: 100%;
  .hp-pro{
    padding: 0 10px;
  }
  label{
    font-weight:normal;
    color:#007bff;
    &:after{
      color:#007bff;
    }
  }
}
.oli{
  border:none;
  background:transparent;
}
.cate_bottom{
  display: flex;
}
.cate_video{
  width:30%;
  iframe{
    padding: 0 15px 15px 0;
    height: 100%;
    border: none;
  }
}
.cate_newss{
  width:70%
}
.product-sort {
  padding: 15px 0 10px;
  #sort_prd_price{
    border:1px solid;
    padding:2px 10px;
    font-weight:normal;
  }
  a {
    color: #333;
    margin: 0 3px;
  }

  select {
    margin: 0 10px;
  }
}
.list-product{
  display: flex;
  flex-wrap: wrap;
  &#Product .gri{
    width: calc(20% - 10px);
    margin: 10px 0 0 ;
    float: none;
    min-height: auto;
    height: auto;
    .gi{
      padding:0 0 15px 0;
      a{
        display:flex;
        align-items: center;
        justify-content: center;
      }
      span b{
        background: #ff9300;
        color: white;
        border-radius: 20px;
        display: inline-block;
        padding: 0 20px;
        margin:0;
      }
    }
    h2 a {
      color:#000;
    }
  }
  .buttons-action,
  .manuface_g,
  .discount-price{
    display:none;
  }
}
.category-product{
  .p-list .p-item:nth-child(5n){
    .p-hover {
      -webkit-transform: translateX(calc(-200% + 10px));
      transform: translateX(calc(-200% + 10px));
      &::before {
        left: 100%;
        right: auto;
        -webkit-transform: translateY(-50%) rotateZ(180deg);
        transform: translateY(-50%) rotateZ(180deg);
      }
    }
  }
}
.cate_new_content{
  li{
    display:flex;
    margin-bottom:15px;
  }
  img{
    width:100px;
  }
  h3{
    a{
      color:#333;
    }
  }
  .content-post{
    display:flex;
    flex-direction: column;
    padding-left: 20px;
    width:calc(100% - 100px);
    p{
      font-size:12px;
      color:#666;
    }
  }
}
.newleter {
  margin-top: 20px;
  background-color: #e1e1e1;
  padding: 27px 0;
  -webkit-box-shadow: inset 0 6px 22px -7px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 6px 22px -7px rgba(0, 0, 0, 0.4);
  clear: both;
  .newleter-text{
    h4 {
      font-size: 18px;
      font-weight: bold;
      color: #333333;
      text-transform: uppercase;
      margin-bottom:5px;
    }
    span {
      color: #333333;
    }
  }

  .newleter-form {
    position: relative;
    margin-left: 40px;
    input {
      width: 480px;
      border: 1px solid #e1e1e1;
      padding: 10px;
      border-radius: 5px;
      margin: 3px 0px;
      outline: 0;
    }
    button {
      position: absolute;
      right: 0;
      top: 0;
      width: 40px;
      text-align: center;
      line-height: 45px;
      cursor: pointer;
      border:none;
      background:transparent;
    }
    span:hover {
      color: #ff9300;
    }
  }
}
.cate_new_1_header{
  display:none;
}
body {
  li.menu-san_pham:hover{
    div#menu-show{
      top: 0 !important;
    }
  }
}

.tongdai {
  width: 25%;
  display: flex;
  line-height: 24px;
  height: 24px;
}

.tongdai:before {
  font: 12px/16px FontAwesome;
  height: 15px;
  width: 15px;
  display: inline-block;
  text-align: center;
  margin-top: 4px;
  margin-right: 5px;
  border-radius: 50%;
}

.contact_now_parent {
  position: fixed;
  bottom: 10px;
  right: 0;
  width: 50px;
  z-index: 999;
}

.fb_customer_chat_bubble_animated_no_badge, .fb_dialog {
  bottom: 0px !important;
  right: 50px !important;
}



.phone_now_detail {
  position: fixed;
  display: none;
  bottom: 5px;
  left: 75px;
  height: auto;
  width: max-content;
  z-index: 999;
  background: #fff;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact_now-title {
  display: flex;
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;
}

.contact_now-title > span {
  width: 100%;
  margin-right: 10px;
}

.phone_now, .zalo_now, .contact_now-title {
  cursor: pointer;
}

.zalo_now {
  position: relative;
  right: 15px;
}

.zalo_now > span {
  display: none;
}

.zalo_now > span {
  position: absolute;
  top: 5px;
  right: 100%;
  width: max-content;
  background: #fff;
  border: 1px solid #ccc;
  /*display: block;*/
  padding: 10px;
}



.menu-item {
  position: relative;
}

.menu-item:hover ul.sub-menu {
  display: flex;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  border: 1px solid #ccc;
  z-index: 9999;
  flex-wrap: wrap;
}

.menu-item.menu-showroom:hover ul.sub-menu {
  display: block;
}

ul.sub-menu {
  position: absolute;
  display: none;
  padding: 10px;
}

li.sub-menu-item {
  white-space: nowrap;
  padding: 0 10px;
}
img.lazy {
  opacity: 0;
}
.phone_now {
  position: fixed;
  left: 15px;
}
body.header-fixed{
  margin-top:40px;
  .new-header-container {
    position: fixed;
    top: 0;
    max-width: 100% !important;
    z-index: 99999;
    height: 40px;
    overflow: hidden;
    display: flex;
    align-items: center;
    left: 0;
    right: 0;
  }
}
.pagination{
  &:after{
    content:none;
  }
  li,li.active{
    margin:0;
    display:inline-flex;
    span,a{
      padding: .5rem .75rem;
    }
    a{
      color: #007bff;
      border: 1px solid #dee2e6;
      background-color: white;
    }
  }
}

@import "./product.scss";
