.mb-0, .my-0 {
  margin-bottom: 0!important;
}
.mb-2, .my-2 {
  margin-bottom: .5rem!important;
}
.p-item {
  padding-left: 5px;
  padding-right: 5px;
  border: 5px solid #f5f5f5;
  background-color: #fff;
}
.p-list {
  margin-left: -5px;
  margin-right: -5px;
  overflow: hidden;
  margin-bottom: 10px;
  .p-item-1 {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 2;
    -webkit-box-flex: 2;
    flex-grow: 2;
    width: 40%;
    min-width: 40%;
    .p-img {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      -webkit-box-flex: 1;
      flex-grow: 1;
      max-width: 100%;
    }
  }
  .p-item {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 20%;
    min-width: 20%;
    padding-bottom: 20px;
    position: relative;
    &.item_end{
      .p-hover {
        -webkit-transform: translateX(calc(-200% + 10px));
        transform: translateX(calc(-200% + 10px));
        &::before {
          left: 100%;
          right: auto;
          -webkit-transform: translateY(-50%) rotateZ(180deg);
          transform: translateY(-50%) rotateZ(180deg);
        }
      }
    }
    .p-img{
      a{
        position: relative;
        overflow: hidden;
        display: block;
        padding-bottom: 100%;
        width:100%;
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
          transform: translateX(-50%) translateY(-50%) scale(1);
          -webkit-transition: 0.5s ease-in-out;
          transition: 0.5s ease-in-out;
          -webkit-transform-origin: center;
          transform-origin: center;
        }
      }

      &:hover{
        img {
          -webkit-transform: translateX(-50%) translateY(-50%) scale(0.9);
          transform: translateX(-50%) translateY(-50%) scale(0.9);
          -webkit-transition: 0.5s ease-in-out;
          transition: 0.5s ease-in-out;
        }
      }
    }
    .p-emtry {
      text-align: center;
      .p-name {
        text-align: center;
        font-size: 15px;
        color: #040000;
        font-weight: 500;
        display: block;
        margin-bottom: 8px;
        height: 40px;
        line-height: 20px;
        margin-top: 5px;
        overflow: hidden;
        -webkit-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        &:hover {
          color: #afafaf;
          -webkit-transition: 0.5s ease-in-out;
          transition: 0.5s ease-in-out;
          text-decoration: none;
        }
      }
      .p-summary {
        margin: 8px 0 20px;
        font-size: 13px;
        color: #333333;
        display: block;
        height: 60px;
        line-height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
      }
      .p-price {
        display: inline-block;
        background-color: #ff9300;
        color: #fff;
        font-size: 24px;
        font-weight: bold;
        padding: 0px 20px;
        line-height: 33px;
        border-radius: 100px;
      }
    }
    .p-hover {
      position: absolute;
      left: 100%;
      top: 0;
      bottom: 0;
      z-index: -1;
      background: #fff;
      width: calc(100% + 10px);
      padding: 10px;
      -webkit-box-shadow: 0 0 10px 0 #ccc;
      box-shadow: 0 0 10px 0 #ccc;
      opacity: 0;
      -webkit-transition: 0.6s opacity ease-in-out, 0.9s z-index;
      transition: 0.6s opacity ease-in-out, 0.9s z-index;
      p{
        margin-bottom:10px;
      }
      .p-name {
        font-size: 18px;
        font-weight: 500;
        color: #333333;
        display: block;
        line-height:1.2;
      }
      .p-price {
        color: #d70909;
        font-size: 18px;
        font-weight: 500;
        margin: 10px 0;
        display: block;
      }
      &:before{
        content:'';
        display: block;
        width: 13px;
        height: 21px;
        background: #fff;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 100%;
        clip-path: polygon(100% 0, 30% 50%, 100% 100%);
        -webkit-box-shadow: 0 0 10px 0 #ccc;
        box-shadow: 0 0 10px 0 #ccc;
      }
    }
    &:hover{
      .p-hover {
        opacity: 1;
        z-index: 1;
        -webkit-transition: 0s z-index, 0.6s opacity ease-in-out;
        transition: 0s z-index, 0.6s opacity ease-in-out;
        &:hover {
          z-index: -1;
          opacity: 0;
          -webkit-transition: 0.6s opacity ease-in-out, 0.9s z-index;
          transition: 0.6s opacity ease-in-out, 0.9s z-index;
        }
      }
    }
  }

}

.product-home{
  .pro-head {
    margin-bottom: 10px;
    background: #fff;
    margin-top: 30px;
    .title {
      h3{
        clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
        background: #F89301;
        padding: 0 40px 0 24px;
        text-transform: uppercase;
        font-size: 22px;
        line-height: 40px;
        font-weight: 500;
        margin: 0;
        a {
          color: #fff;
          -webkit-transition: 0.5s ease-in-out;
          transition: 0.5s ease-in-out;
          &:hover {
            color: black;
            text-decoration: none;
            -webkit-transition: 0.5s ease-in-out;
            transition: 0.5s ease-in-out;
          }
        }
      }
    }
    .filter-price {
      margin-right: 10px;
      span {
        font-weight: bold;
        font-size: 14px;
        margin-right: 10px;
      }
        a {
          color: #0084cb;
          text-transform: uppercase;
          margin: 5px;
          &:hover {
            color: #ff9300;
          }
        }
    }
  }
  .p-list {
    .p-item {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      -webkit-box-flex: 1;
      flex-grow: 1;
      min-width: 20%;
      padding-bottom: 20px;
      position: relative;
      max-width: initial;
    }
    .p-item-1 {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 2;
      -webkit-box-flex: 2;
      flex-grow: 2;
      width: 410px;
      min-width: 410px;
      max-width: 410px;
    }
  }
  clear: both;
  .owl-wrapper {
    display: -ms-flexbox !important;
    display: -webkit-box !important;
    display: flex !important;
    .item {
      height: 100%;
      .p-item {
        height: 100%;
      }
    }
  }
}
.p-list-type-1{
  .p-item {
      padding: 10px 10px 20px 10px;
      .p-img {
        display: block;
        width: 100%;
        padding-bottom: 100%;
        position: relative;
        margin-bottom: 10px;
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }
      }
      .p-name {
        color: #333333;
        font-size: 14px;
        display: block;
        margin-bottom: 6px;
        max-height: 35px;
        overflow: hidden;
      }
      .p-price {
        display: block;
        font-size: 16px;
        color: #cc0000;
        margin-bottom: 6px;
        margin-top: 8px;
      }
      .p-promotion {
        color: #333333;
        max-height: 30px;
        overflow: hidden;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        margin: 0;
      }
    }
}
.product-slider{
  .p-list-type-1 {
    margin: 0;
  }
  .owl-stage .item {
    height: 100%;
  }
  .owl-theme{
    .owl-controls{
      .owl-buttons{
        div {
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          background-color: #fff;
          color: #000;
          padding: 40px 20px;
          font-size: 18px;
          -webkit-box-shadow: 5px 0 20px 0 #ccc;
          box-shadow: 5px 0 20px 0 #ccc;
          margin: 0 5px !important;
          opacity: 1;
          &.owl-prev {
            border-radius: 0 5px 5px 0px;
            -webkit-box-shadow: 5px 0 20px 0 #ccc;
            box-shadow: 5px 0 20px 0 #ccc;
            left: 0;
          }
          &.owl-next {
            right: 0;
            border-radius: 5px 0 0 5px;
            -webkit-box-shadow: -5px 0 20px 0 #ccc;
            box-shadow: -5px 0 20px 0 #ccc;
          }
          &:hover {
            background: transparent;
          }
        }
      }
    }
  }
}

.banner-bottom-home{
  .col {
    width: 33%;
    img{
      width: 100%;
    }
  }
}
