
body {
  div#menu-show {
    background: #000;

    .mcontact {
      display: none;
    }
  }

  .nav .b {
    width: calc(100% - 20px);
    margin: 0 auto;
    overflow: hidden;
    background-color: #ff9300;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 0;

    .hover1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: calc(100% / 3);
    }
    a img{
      width:50px;
      margin-bottom:5px;
    }
  }

  .tim {
    width: calc(100% - 47px);

    button {
      max-width: none;
      width: auto;
      padding: 0 10px;
    }
  }

  header {
    background: #000 !important;

    #touch-menu {
      position: static;
      margin: 0 0 0 10px;
      &:before{
        font-size:20px!important;
      }
    }

    .head .b {
      display: flex;
      padding: 0 10px;

      .hright {
        display: none;
      }

      .hleft {
        display: flex;

        > a {
          width: 34px;
          overflow: hidden;
          border-radius: 50%;
        }

        img {
          min-width: 180px;
        }
      }
    }

    .fa-phone:before {
      padding: 0;
    }
  }

  .new-header-top {
    .header-top-item > span {
      font-size: 11px;
    }
  }
}

.list-launcher {
  .owl-carousel .owl-item a img,
  .owl-carousel .owl-wrapper {
    height: auto;
  }
}

.banner-home {
  margin: 0 0 10px 0;

  .slide-home {
    width: 100%;
    min-width: auto;
  }

  .banner-right {
    display: none;
  }
}

.logo-container {
  width: calc(100% - 20px);
  display:flex;
  flex-direction: column-reverse;
}

.cate_new_1_header {
  display: block;

  h4 {
    font-size: 22px;
    padding: 10px;
    display: block;
    border-bottom: 2px solid #f5f5f5;
    color: #ff9300;
  }
}

.f2-hsx {
  background: transparent;
}

.filter-category {
  width: calc(100% - 20px);

  label {
    color: #333;

    &:after {
      color: #333;
    }
  }

  .hp-pro {
    width: 100%;
    flex-wrap: wrap;
  }
}

.product-sort {
  margin: 0 10px;
}

.logo-category {
  margin: 0 10px;

  div#hpanel {
    a.manuface {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      padding: 0;
      border: 1px solid #e1e1e1;
      margin-right: 5px;
      float: none;
      display: inline-flex;
    }
  }

  .list-launcher {
    width: 100%;
    background: transparent;
    white-space: nowrap;
    overflow: scroll;

    &#hpanel {
      text-align: left !important;
    }
  }
}

.cate_video,
.list-sub-category {
  display: none;
}

.cate_newss {
  width: 100%;

  .cat-item {
    margin: 0 10px;
    background: #fff;
  }

  ul {
    padding: 5px;
  }
}

.cate_banner {
  display: none;
}

.slide-home {
  .owl-theme {
    .owl-controls {
      .owl-page {
        span {
          margin: 3px;
          position: relative;
          height: 7px;
          width: 7px;

          &:before {
            font: 10px/1px FontAwesome;
            position: absolute;
          }
        }
      }
    }
  }
}

#footer {
  .b .fsr {
    padding: 0 10px;
  }
}


.phone_now_detail {
  max-width: 268px;
  font-size: 11px;
}

@media screen and (max-width: 320px) {
  .phone_now_detail {
    max-width: 230px;
  }
}

.b.flexJus.mobie_padding {
  padding: 0 15px;
}

header .head .b .hright a {
  top: 5px;
  right: 50px;
}

#touch-menu {
  top: 15px;
}

body.header-fixed {
  .new-header-container.fixed {
    background-color: #040000;
  }
}

.d-flex {
  display: -ms-flexbox!important;
  display: flex!important;
}
.flex-wrap{
  flex-wrap: wrap;
}
.align-items-center {
  -ms-flex-align: center!important;
  align-items: center!important;
}
.justify-content-between {
  -ms-flex-pack: justify!important;
  justify-content: space-between!important;
}
.justify-content-center{
  justify-content: center!important;
}

body{
  .head{
    width:100%;
  }
  .b{
    max-width:768px
  }
  .hotline-title{
    width:100%;
    margin-bottom:10px;
    font-size:13px;
  }
  #showroom_online_new,
  #h_menu_sub_on1{
    width: 100%;
    transform: none;
    left: 0;
    padding: 5px;
  }
  .he_thong_showroom-row,
  .h0nline-wrap{
    flex-direction:column;
  }
  .showroom-container
  ,.hotline-col-3{
    width:100%;
  }
  .hotline-info{
    margin-bottom:30px;
  }
}
.product-home {
  overflow: hidden;
  padding: 0 10px;
  .owl-carousel {
    .owl-stage-outer {
      padding-left: 5px;
    }
  }
  .p-img{
    background: white;
    margin-bottom: 10px;
    width:100%;
    a {
      display: inline;
    }
    img{
      width:100%;
    }
  }
  .pro-head {
    margin-bottom: 10px;
    margin-top: 11px;
    position: relative;
    display:flex;
    &::before {
      content: '';
      position: absolute;
      border: 1px solid #ff9300;
      left: 0;
      right: 0;
      top: 50%;
      z-index: -1;
    }
    .title {
      color: #fff;
      background-color: #ff9300;
      margin: auto;
      border-radius: 4px;
      h3 {
        margin:0;
        text-transform: uppercase;
        font-size: 22px;
        line-height: 40px;
        padding: 0 20px;
        a {
          color: #fff;
          -webkit-transition: 0.5s ease-in-out;
          transition: 0.5s ease-in-out;
          &:hover {
            color: black;
            -webkit-transition: 0.5s ease-in-out;
            transition: 0.5s ease-in-out;
          }
        }
      }
    }
  }
  .filter-price {
    margin-bottom: 10px;
    span {
      font-weight: bold;
      font-size: 14px;
      margin-right: 10px;
      min-width: 60px;
    }
    a {
      color: #0084cb;
      text-transform: uppercase;
      margin: 5px;
      &:hover {
        color: #ff9300;
      }
    }
  }
  .owl-stage {
    display: -ms-flexbox !important;
    display: -webkit-box !important;
    display: flex !important;
    .item {
      height: 100%;
      .p-item {
        height: 100%;
      }
    }
  }
}
.p-list {
  margin-left: -5px;
  margin-right: -5px;
  overflow: hidden;
  margin-bottom: 10px;
  .p-item-1 {
    .p-img {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      -webkit-box-flex: 1;
      flex-grow: 1;
      max-width: 100%;
    }
    .p-info {
      padding: 5px;
      .p-summary {
        margin-top: 20px;
        margin-bottom: 8px;
        font-size: 13px;
        color: #333333;
      }
      .p-promotion {
        font-size: 12px;
        color: #666666;
        strong {
          color: #cc0000;
        }
        ul {
          margin-top: 10px;
          margin-bottom: 10px;
          border-bottom: 2px solid #e1e1e1;
          padding-bottom: 5px;
          li {
            -ms-flex-preferred-size: 0;
            flex-basis: 0;
            -ms-flex-positive: 1;
            -webkit-box-flex: 1;
            flex-grow: 1;
            max-width: 100%;
            text-align: center;
            font-size: 11px;
            img {
              width: 50px;
              height: 50px;
            }
            span {
              margin-top: 4px;
              display: block;
            }
          }
        }
      }
      .p-warranty {
        font-size: 12px;
        color: #666666;
        font-style: italic;
        display: block;
        margin-bottom: 5px;
      }
      .p-tel {
        font-weight: bold;
        font-style: italic;
        font-size: 12px;
        color: #666;
        strong {
          color: #cc0000;
        }
      }
    }
    .p-emtry {
      padding: 0 15px;
      .p-name {
        text-align: left;
      }
      .p-price {
        float: left;
      }
      .p-lable {
        float: right;
        text-transform: uppercase;
        font-size: 14px;
        color: #fff;
        background-repeat: no-repeat;
        background-position: center left;
        background-size: cover;
        padding: 7px 23px;
      }
    }
  }
  .p-item {
    position: relative;
    .p-img {
      a {
        position: relative;
        overflow: hidden;
        display: block;
        padding-bottom: 100%;
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
          transform: translateX(-50%) translateY(-50%) scale(1);
          -webkit-transition: 0.5s ease-in-out;
          transition: 0.5s ease-in-out;
          -webkit-transform-origin: center;
          transform-origin: center;
        }
      }
      &:hover {
        img {
          -webkit-transform: translateX(-50%) translateY(-50%) scale(0.9);
          transform: translateX(-50%) translateY(-50%) scale(0.9);
          -webkit-transition: 0.5s ease-in-out;
          transition: 0.5s ease-in-out;
        }
      }
    }
    .p-emtry {
      text-align: center;
      .p-name {
        text-align: center;
        font-size: 14px;
        color: #333;
        font-weight: 500;
        display: block;
        margin-bottom: 8px;
        max-height: 36px;
        overflow: hidden;
        -webkit-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
        &:hover {
          color: #afafaf;
          -webkit-transition: 0.5s ease-in-out;
          transition: 0.5s ease-in-out;
        }
      }
      .p-price {
        display: inline-block;
        background-color: #ffffff;
        color: #f7941d;
        font-size: 16px;
        font-weight: bold;
      }
      .p-summary {
        margin: 8px 0 20px;
        font-size: 13px;
        color: #333333;
        display: block;
        max-height: 49px;
        overflow: hidden;
      }
    }
    .p-hover {
      position: absolute;
      left: 100%;
      top: 0;
      bottom: 0;
      z-index: -1;
      background: #fff;
      width: calc(100% + 10px);
      padding: 10px;
      -webkit-box-shadow: 0 0 10px 0 #ccc;
      box-shadow: 0 0 10px 0 #ccc;
      opacity: 0;
      -webkit-transition: 0.6s opacity ease-in-out, 0.9s z-index;
      transition: 0.6s opacity ease-in-out, 0.9s z-index;
      &::before {
        content: "";
        display: inline-block;
        width: 13px;
        height: 21px;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 100%;
      }
      .p-name {
        font-size: 18px;
        font-weight: 500;
        color: #333333;
        display: block;
      }
    }
    &:hover {
      .p-hover {
        opacity: 1;
        z-index: 1;
        -webkit-transition: 0s z-index, 0.6s opacity ease-in-out;
        transition: 0s z-index, 0.6s opacity ease-in-out;
        &:hover {
          z-index: -1;
          opacity: 0;
          -webkit-transition: 0.6s opacity ease-in-out, 0.9s z-index;
          transition: 0.6s opacity ease-in-out, 0.9s z-index;
        }
      }
    }
  }
  .p-item.item_end {
    .p-hover {
      -webkit-transform: translateX(calc(-200% + 10px));
      transform: translateX(calc(-200% + 10px));
      &::before {
        left: 100%;
        right: auto;
        -webkit-transform: translateY(-50%) rotateZ(180deg);
        transform: translateY(-50%) rotateZ(180deg);
      }
    }
  }
}
.product-list {
  .p-list {
    .p-item {
      border: 5px solid #f5f5f5;
      background-color: #fff;
      border-radius: 2px;
      box-shadow: inset 0 0 0 1px #e2e2e2;
    }
  }
}
.p-item {
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid #e2e2e2;
  background-color: #fff;
  border-radius: 2px;
}
.p-list-type-1 {
  .item{
    height:100%;
    .p-item {
      padding: 10px 10px 20px 10px;
      margin-right:8px;
      height: 100%;
      .p-img {
        display: block;
        width: 100%;
        position: relative;
        margin-bottom: 10px;
        text-align: center;
        padding-bottom: 100%;
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }
      }
      .p-name {
        color: #333333;
        font-size: 14px;
        display: block;
        margin-bottom: 6px;
        font-weight: 500;
        height: 36px;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        &:hover {
          color: #ff9300;
        }
      }
      .p-price {
        display: block;
        font-size: 16px;
        color: #f5911d;
        margin-bottom: 6px;
      }
      .p-summary {
        color: #333333;
        max-height: 52px;
        overflow: hidden;
        display: inline-block;
        font-size: 13px;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
      }
      .p-promotion {
        color: #333333;
        max-height: 30px;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        margin: 0;
      }
    }
  }
  .owl-carousel {
    overflow: hidden;
    min-width: calc(100% + 100px);
    .owl-nav {
      margin: 0;
      display: none !important;
      div {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        background-color: #fff;
        color: #000;
        padding: 40px 20px;
        font-size: 18px;
        margin: 0;
        &:hover {
          background-color: #fff0;
          color: #000;
        }
      }
      div[class*="next"] {
        right: 5px;
        border-radius: 5px 0 0 5px;
        -webkit-box-shadow: -5px 0 20px 0 #ccc;
        box-shadow: -5px 0 20px 0 #ccc;
      }
      div[class*="prev"] {
        left: 5px;
        border-radius: 0 5px 5px 0px;
        -webkit-box-shadow: 5px 0 20px 0 #ccc;
        box-shadow: 5px 0 20px 0 #ccc;
      }
    }
  }
}
.category-product{
  .p-list{
    margin:0;
    padding:0 5px;
  }
  .p-item{
    min-width: 50%;
    max-width: 50%;
    border: 5px solid #f5f5f5;
    box-shadow: inset 0 0 0 1px #e2e2e2;
  }
  .p-emtry{
    display:flex;
    flex-direction: column-reverse;
    a{
      order:1;
    }
  }
}