.product-view {
  .pn, .pn2{
    height:auto;
  }
  .ss{
    height:330px;
  }
  #popup_image {
    left: 20% !important;
    top: 20% !important;
  }
  .form-tuvan {
    select {
      width: 200px;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
      color: #555;
      font-size: 14px;
      padding: 8px 12px;
    }
  }
  .xhf {
    div {
      p {
        select {
          width: 430px;
          display: inline-block;
          height: 35px;
          border: 1px solid #ddd;
          border-radius: 4px;
          padding: 0 5px;
        }
      }
    }
  }
  #ShowroomItem {
    >.bsf {
      a {
        font: 11px/20px arial;
        color: #fff;
        background: #1665ab;
        padding: 2px 8px;
        margin-bottom: 10px;
        cursor: pointer;
      }
    }
  }
  .suportOnline {
    .flexCen {
      .hotline {
        a {
          margin-bottom: 0 !important;
        }
      }
    }
  }
  .relate_post_product {
    >ul {
      >li {
        list-style: outside;
        font-size: 16px;
        margin: 10px 0 10px 20px;
      }
    }
    background: #ffffff42;
    border-radius: 3px;
    border: 1px solid #ddd;
    margin: 4px;
    >h2 {
      text-transform: uppercase;
      text-align: center;
      border-bottom: 1px solid #ddd;
      padding: 10px;
      background: #cccccc30;
    }
  }
  .xem_them {
    text-align: center;
    font-weight: bold;
    cursor: pointer;
  }
  .thu_gon {
    text-align: center;
    font-weight: bold;
    cursor: pointer;
  }
  div#cdacdiemnoibat {
    p {
      line-height: 30px;
    }
  }
  .featured {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .border-bottom {
    border-bottom: 1px solid #dee2e6 !important;
  }
  @media screen and (max-width: 530px) {
    .xhf {
      div {
        p {
          select {
            width: 100%;
          }
        }
      }
    }
  }
  @media (max-width: 767px) {
    .item-child-showroom {
      display: none;
      padding-left: 20px;
    }
    .ss {
      height: 220px;
      .pi {
        height: 110px !important;
      }
    }
    #dacdiemnoibat {
      iframe {
        width: 100% !important;
      }
    }
    #Pcontent {
      iframe {
        width: 100% !important;
      }
    }
  }
  @media (max-width: 424px) {
    .tong_qua {
      font-size: 14px;
      margin: 0 0 0 30px !important;
    }
    .tong_gia_tri_qua {
      font-size: 14px;
      margin: 0 0 0 30px !important;
    }
    .gift_other {
      padding: 30px !important;
    }
    .lqt-tit {
      p {
        b {
          font-size: 14px;
        }
      }
      span {
        width: 55px;
        height: 55px;
        font: bold 15px/55px arial;
        text-align: center;
        margin-left: 10px;
      }
    }
  }
    .b {
      max-width: 1210px;
      width: 100%;
      margin: auto;
  }
  .product-main {
    max-width: 1210px;
    width: 100%;
    margin: auto;
  }
  .fl.dbcol1 {
    width: 50%;
    padding: 10px;
  }
  .f.dbtop {
    padding: 15px;
    background-color: white;
    margin-bottom: 0;
    .name_pr {
      font-size: 18px;
    }
  }
  #urlCart {
    margin-bottom: 10px;
    background: linear-gradient(to bottom, #ffba28, #ff9401) !important;
    border-radius: 2px;
  }
  .price-container {
    padding-top: 15px;
    margin-bottom: 15px;
    .final-price {
      font-weight: bold;
      font-size: 25px;
      color: #ef1200;
      line-height: 30px;
      min-height: 30px;
      &.loading {
        position: relative;
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          background-image: url(https://cdn.lowgif.com/full/ff8280aafe27319d-ajax-loading-gif-transparent-background-2-gif-images.gif);
          background-size: contain;
          background-repeat: no-repeat;
          background-color: white;
        }
      }
    }
    strong {
      color: #333333;
    }
    span.base-price {
      font-size: 12px;
      margin-left: 20px;
    }
  }
  .description {
    margin-bottom: 15px;
  }
  .isdt {
    background: linear-gradient(to left,#f52131,#a11b25);
    border-radius: 2px;
  }
  .call-sp {
    margin-bottom: 10px;
    a {
      font-weight: 600;
      color: #00bf12 !important;
    }
  }
  .product-info-top {
    background-color: white;
    margin-bottom: 20px;
  }
  #listimg {
    .pspanel {
      padding-top: 5px;
      padding-bottom: 5px;
    }
    .pswrap {
      position: static;
    }
    .psselect {
      border: none;
      box-shadow: 0 0 5px rgba(0,0,0,0.5);
    }
  }
  h1#name_pr{
    font-size: 18px;
    margin: 0;
    font-weight: 600;
  }
  .xhtn {
    &::after {
      clear: both;
      content: '';
      display: block;
      margin-bottom: 10px;
    }
  }
  .da {
    margin-bottom: 0;
  }
  #detail {
    display: flex;
  }

  .left-col {
    width: calc(100% - 350px);
  }

  .right-col {
    width: 350px;
    margin-left: 20px;
  }
  #dacdiemnoibat,
  #tongquan,
  #Pcontent{
    background-color: white;
    margin-bottom: 0;
    padding: 0;
  }
  #tongquan,
  #relate-product{
    margin-top: 20px;
  }
  #Pcontent {
    margin-top: 0;
    border: unset;
    padding: 0;
    .table table {
      margin: 0;
    }
  }
  #thongso {
    padding: 0 10px;
  }
  #relate-product {
    display: flex;
    flex-direction: column;
    background-color: white;
    .psitem {
      display: flex;
      width: 100%;
      margin-bottom: 10px;
      padding-bottom: 10px;
      &:last-child {
        border-bottom: unset !important;
        margin-bottom: 0;
      }
    }
  }
  .title-tab {
    margin-bottom: 15px;
    h3 {
      font: 18px/18px arial;
      padding: 10px 20px;
      display: inline-block;
      border-bottom: 2px solid #ff9300;
      margin-bottom: -1px;
    }
  }
  #cdacdiemnoibat,
  #ctongquan{
    padding: 0 20px;
  }
  .border-top {
    border-top: 1px solid #dee2e6 !important;
  }
  .psitem {
    .product-image {
      width: 45%;
      padding: 0 8px;
    }
    .product-detail {
      width: 55%;
      padding: 0 8px;
      .pn {
        margin: 0;
        text-align: left;
        display: block;
        text-overflow: ellipsis;
      }
      .pr {
        float: left;
      }
    }
  }
  #listimg {
    height: 300px;
    overflow-x: hidden;
    &::after {
      content: '';
      display: block;
      clear: both;
    }
    .product-thumb {
      padding: 10px;
      transition: ease 100ms;
    }
    .thumb-active {
      transform: translateY(10px);
      img {
        box-shadow: 0 0 4px rgba(0,0,0,0.5);
      }
    }
  }
  #ProImg {
    height: auto;
    overflow-x: hidden;
    z-index: 0;
    .psitem {
      width: 100%;
    }
  }
  .new_pro_detail_img {
    height: auto;
  }

  .dbtop-mb {
    display: none;
  }
  .breadcrumb {
    padding: 0 15px;
  }
  #product-options {
    .attr-item {
      margin-bottom: 15px;
    }
    span {
      line-height: 23px;
      &.active {
        border-color: #ff9300 !important;
        border-width: 2px !important;
        &::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          display: block;
          left: 0;
          top: 0;
        }
      }
      &:first-child {
        margin-right: 10px;
      }
      &:not(:first-child) {
        margin-right: 5px;
        border: solid 1px #aaa;
        padding: 1px 10px;
        cursor: pointer;
        position: relative;
        box-sizing: border-box;
        height: 23px;
        overflow: hidden;
        color: #333;
        &:hover {
          font-weight: 600;
        }
      }
    }
  }

  #comments {
    background-color: white;
  }

  select[name=variant] {
    margin-bottom: 15px;
    width: 50%;
    height: 30px;
  }

  &.mobile {
    .fl.dbcol1 {
      width: 100%;
    }
    .product-main {
      padding: 0;
    }
    .dbtop {
      display: none;
    }
    .dbtop-mb {
      display: block;
      padding: 15px 0;
      background-color: white;
      margin-bottom: 0;
      .name_pr {
        margin: 0;
        font-size: 26px;
        color: #f5911d;
        font-weight: bold;
      }
    }
    .breadcrumb {
      margin: 12px 0;
      padding: 0 10px;
      a {
        color: #666666;
      }
    }
    .f {
      & >.dbcol1 {
        & >.new_pro_detail_img {
          height: auto;
          & > #ProImg {
            height: auto;
          }
        }
      }
    }
    #listimg {
      height: auto;
    }
    .left-col,
    .right-col {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 20px;
    }
    #detail {
      flex-wrap: wrap;
    }
    #comments {
      display: none;
    }
  }
}
