#app {
    overflow: hidden;
}

.color-light-black {
    color: #343a40;
}

.bg-light-black {
    background-color: #343a40;
}

.bg-grey {
    background-color: #464646;
}

#right-sidebar {
    position: absolute;
    right: -320px;
    top: 0;
    width: 320px;
    background-color: #464646;
    height: 100%;
    transition: right .2s ease-out;
    display: flex;
    flex-direction: column;
}

#right-sidebar.expand {
    right: 0 !important;
}

.sidebar {
    z-index: 10;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.button-sidebar {
    right: 0px;
    top: 45%;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #464646;
    color: white;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

#button-toggle {
    position: absolute;
    top: 50%;
    margin-top: -40px;
    left: -40px;
}

#button-toggle button {
    width: 70px;
    height: 70px;
    background-color: #464646;
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
}

.openbtn i {
    margin-left: -25px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

.button-collapse {
    right: 0;
    top: 500px;
}

div.scrollmenu {
    background-color: #2c2c2c;
    overflow: auto;
    white-space: nowrap;
    padding-top: 1px;
    padding-right: 1px;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 8px;
    text-decoration: none;
}

.layer-bg {
    background-color: #535353;
}

.list-group-item {
    border-radius: 0px !important;
    border: none;
    padding: 0;
}

.layer-item {
    padding: 0;
    font-size: 0.875rem;
    height: 40px;
    border-bottom: 1px solid #3a3a3a;
    position: relative;
}
.layer-item .list-group-item {
    background-color: #535353;
}
.layer-item.active .list-group-item {
    background-color: #777;
}
.layer-item i {
    font-size: 0.875rem;
}

.layer-item:hover .list-group-item {
    background-color: #777777;
}

.layer-item:hover .layer-tool {
    display: block !important;
}
.layer-item-visible {
    border-right: 1px solid #3a3a3a;
    display: flex;
    flex: 0 0 40px;
}
.layer-item-visible button {
    height: 100%;
    flex: 1 1 100%;
    background: transparent;
    border: 0;
    outline: none;
    color: inherit;
}
.layer-item-body {
    display: flex;
    align-items: center;
    flex: 1 1 calc(100% - 150px);
    max-width: calc(100% - 150px);
}
.layer-item-body-type {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
}
.layer-item-body-name {
    display: flex;
    align-items: center;
    min-width: 0;
    max-width: 100%;
    padding: 0;
}
.layer-item-body-name span {
    cursor: text;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.layer-item-actions {
    position: absolute;
    top: 0;
    right: 10px;
    display: flex;
    align-items: center;
    transition: opacity .2s;
    opacity: 0;
    height: 100%;
}
.layer-item-actions button {
    background: transparent;
    border: 0;
    outline: none;
    color: #fff;
}
.layer-item-actions button i{
    color: #fff !important;
}
.layer-item:hover .layer-item-actions {
    opacity: 1;
}

.selected-layer {
    background-color: #777777 !important;
}

.selected-layer .layer-tool {
    display: block !important;
}

.fs30 {
    font-size: 1.875rem;
}
.border-white {
    border: 1px solid #ffffff;
}
.artwork-editor-main {
    position: relative;
}

/* Konva ZONE */
#workart-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.konvajs-content {
    margin: 0 auto;
    background-color: #fff;
    background: url('../media/workart/bg.png') repeat 0 0;
}
.custom-workart-action {
    margin-left: 2px;
}
#dropzone_file_attach .dz-preview, #dropzone_upload_template_thumbnail .dz-preview {
    display: none;
}
.layer-name-editable textarea {
    color: #fff !important;
}
.artwork-templates {
    margin-top: 1px;
}
.artwork-templates .template-item {
    margin-right: 1px;
    font-size: 0.875rem;
    color: #819d81;
    background-color: #3a3a3a;
}
.artwork-templates .template-item.active {
    background-color: #535353;
    color: #fff;
}
.artwork-templates .template-item:hover {
    color: #fff;
}
.template-option a i{
    font-size: 1rem;
}
.template-content-item {
    display: none;
}
.template-content-item.active {
    display: block;
}
.edit-template-zone i {
    font-size: 0.875rem;
    font-weight: 500;
}
