:root {
    --white-color : #fff;
    --primary-color: #34465d;
}
body { 
    font-size: 62,5%;
    font-family: 'Roboto','Montserrat','Quicksand', sans-serif;
}
.gutter {
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.gutter-z {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.gutter-r {
    padding-left: 0 !important;
    padding-right: 10px !important;
}
.gutter-l {
    padding-left: 10px !important;
    padding-right: 0 !important;
}
li {
    list-style: none;
}
ul {
    padding: 0;
    margin: 0;
}
a:hover {
    text-decoration: none;
}
label {
    margin-bottom: 0;
}
button,
a {
    transition: all linear 0.3s;
}
button:focus {
    outline:0;
}
section {
    padding-top: 100px;
}
#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/background-top.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}