/*header-top*/
.header-top {
    position: relative;
    height: 100vh;
    padding: 16px 0;
    overflow: hidden;
}
.header-top-wapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-top-logo {
    z-index: 10;
}
.headline {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 80%;
    text-align: center;
}
.headline__title {
    font-size: 2.2rem;
    color: var(--white-color);
    font-weight: 500;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
.headline__title span {
    color: #9435d0;
}
.typewrite span {
    color: var(--white-color);
    font-size: 4rem;
    font-weight: 500;
    font-family: Roboto;
}
.header-top-logo__img {
    height: 80px;
    width: 80px;
}
.header-top-menu {
    z-index: 99;
}
.header-top-menu__list {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
}
.header-top-menu__link {
    display: inline-block;
    padding: 0 16px;
    color: var(--white-color);
    transition: all linear 0.3s;
    font-size: 1rem;
}
.header-top-menu__link:hover {
    color: var(--white-color);
    opacity: 0.6;
}
.header-top-menu__icon-list {
    color: var(--white-color);
    display: none;
    font-size: 1.6rem;
}
.header-top-menu__con-close {
    display: none;
}
.header-top-menu__item {
    position: relative;
}
.header-top-menu__child-list {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: var(--white-color);
    width: 220px;
    border: #eee solid 1px;
    padding: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
    font-family: Roboto;
    display: none;
    z-index: 99;
}

.header-top-menu__child-list::before {
    content: "";
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 16px solid var(--white-color);
    position: absolute;
    top: -12px;
    right: 16%;
}
.header-top-menu__child-list::after {
    content: "";
    background-color: transparent;
    width: 100%;
    height: 25px;
    position: absolute;
    top: -20px;
    right: 0;
}
.header-top-menu__child-link {
    display: inline-block;
    color: #333;
    padding: 8px 12px;
    transition: all linear 0.5s;
    border-bottom: #ccc solid 1px;
    width: 100%;
}
.header-top-menu__child-link:hover {
    color: #333;
    background-color: #ccc;
    padding-left: 24px;
    color: var(--primary-color);
}
.header-top-menu__item:hover .header-top-menu__child-list {
    display: block;
}
/*header-top*/
/* home */
.about-us {
    display: flex;
    overflow-x: scroll;
}
.about-us::-webkit-scrollbar {
    display: none;
}
.about-us__item-wapper {
    position: relative;
    border-radius: 10px;
    font-family: Roboto;
    display: inline-block;
    z-index: 1;
    overflow: hidden;
    height: 260px;
}
.about-us__item-wapper:hover .about-us__item-background {
    transform: scale(1.1);
}
.about-us__item-overlay-1 {
    background-color: #814152;
    position: absolute;
    top: 0;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    z-index: 2;
}
.about-us__item-overlay-2 {
    background-color: #9561ad;
    position: absolute;
    top: 0;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    z-index: 2;
}
.about-us__item-overlay-3 {
    background-color: #0f306e;
    position: absolute;
    top: 0;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    z-index: 2;
}
.about-us__item-overlay-4 {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    z-index: 2;
}
.about-us__item-overlay-5 {
    background-color:  #814152;
    position: absolute;
    top: 0;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    z-index: 2;
}
.about-us__item-background {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: all linear 0.2s;
}
.about-us__item-icon {
    font-size: 1.5rem;
}
.about-us__item-link {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    color: var(--white-color);
    text-align: center;
    z-index: 10;
    font-size: 1rem;
}
.about-us__item-text {
    font-size: 0.9rem;
}
.about-us__item-title {
    font-weight: 500;
    font-size: 0.9rem;
    padding: 8px 0 12px 0;
}
.home-benefit__content {
    display: flex;
    align-items: center;
    font-family: Roboto;
    color: #48457d;
    flex-wrap: wrap;
    padding-bottom: 100px;
}
.home-benefit__title-sub {
    font-weight: 500;
    font-size: 1.5rem;
}
.home-benefit__title {
    font-weight: 500;
    font-size: 3rem;
    position: relative;
    display: inline-block;
    color: #48457d;
}
.home-benefit__title:hover {
    color: #48457d;
    opacity: 0.8;
}
.home-benefit__title::after {
    content: "";
    background-color: #8fffdf;
    width: 100%;
    height: 8px;
    position: absolute;
    bottom: 1px;
    left: 0;
}
.home-benefit__img {
    width: 100%;
}
.home-benefit__item {
    display: flex;
    padding: 16px;
}
.home-benefit__item-img {
    width: 100px;
    height: 100px;
}
.home-benefit__text {
    padding: 12px 0;
    font-size: 0.9rem;
}
.home-benefit__text-bold {
    font-weight: 500;
}
.home-benefit__item-title {
    font-weight: 500;
    font-size: 1.2rem;
    padding-bottom: 6px;
    color: #48457d;
}
.home-benefit__item-title:hover {
    color: #48457d;
    opacity: 0.8;
    padding-left: 12px;
}
.home-benefit__item-text {
    font-size: 0.9rem;
}
.home-event-left__button {
    font-weight: 500;
    background-color: #48457d;
    color: var(--white-color);
    border-radius: 5px;
    border: #48457d solid 1px;
    padding: 12px 30px;
    font-size: 1.2rem;
    display: inline-block;
}
.home-event-left__button:hover {
    background-color: var(--white-color);
    color: #48457d;
}
.home-event-left__text {
    padding: 20px 0;
    color: #48457d;
    font-weight: 500;
}
.home-event-wapper {
    display: flex;
    align-items: center;
    font-family: Roboto;
    flex-wrap: wrap;
}
.home-event-right {
    color: var(--white-color);
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.home-event-right__item {
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: block;
    transition: all linear 0.2s;
}
.home-event-right__item-title {
    font-size: 1.4rem;
    line-height: 1.8rem;
    max-height: 5.4;
    font-weight: 500;
    padding-bottom: 12px;
    color: var(--white-color);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    z-index: 10;
}
.home-event-right__item-title:hover {
    color: #eee;
}
.home-event-right__item-text {
    color: var(--white-color);
    line-height: 1.2rem;
    max-height: 4.8rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    z-index: 10;
}
.home-event-right__item:hover {
    transform: translateY(-2px);
}
.event-color-1 {
    background-color: #d68aa6;
}
.event-color-2 {
    background-color: #ff9f86;
}
.event-color-3 {
    background-color: #ff819f;
    margin-top: 50px;
}
.event-color-4 {
    background-color: #5989ed;
}
.home-count {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.home-count-wapper {
    background-color: #f7faff;
    padding: 30px 0;
}
.home-new__background {
    background-color: #f7faff;
    padding: 60px 0;
}
.home-count__item {
    text-align: center;
    color: #48457d;
}
.home-count__num {
    font-weight: 700;
    font-size: 2.4rem;
}
.home-count__text {
    font-weight: 500;
    font-size: 1rem;
}
.home-slider__item {
    padding: 30px;
    margin: 20px;
    border: #f9f9f9 solid 1px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
}
.select-slide-button_wapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.select-slide-button {
    border: none;
    background-color: transparent;
    font-weight: 500;
    padding: 12px 20px;
    font-size: 1.4rem;
    color: #48457d;
}
.select-slide-button.active {
    border-bottom: #48457d solid 3px;
}
.select-slide-button:hover {
    color: #48457d;
    opacity: 0.8;
}
.slick-slide img {
    margin: 0 auto;
    width: 120px;
    height: 120px;
    border: #f9f9f9 solid 3px;
    margin-bottom: 20px;
    border-radius: 50%;
}
.slick-slide {
    transform: scale(0.8);
    opacity: 0.3;
    transition: all linear 0.5s;
}
.slick-slide.slick-current {
    transform: scale(1);
    opacity: 1;
    transition: all linear 0.5s;
}
.slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:before {
    content: '■';
    font-size: 2rem;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    text-align: center;
    opacity: .25;
    color: blue;
}
.slick-dots .slick-active button:before {
    opacity: 1;
}
.home-slider__text {
    color: rgb(42, 49, 173);
    font-weight: 500;
    font-family: Roboto;
    line-height: 1.5rem;
    max-height: 4.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.home-slider__title {
    background-color: rgb(42, 49, 173);
    color: var(--white-color);
    border-radius: 15px;
    border: none;
    text-align: center;
    padding: 8px;
    margin-top: 20px;
}
.home-slide__sub {
    padding: 20px 160px;
    font-weight: 500;
    font-family: Roboto;
    color: rgb(42, 49, 173);
    font-size: 1.2rem;
}
.home-new-list {
    flex-wrap: wrap;
    display: flex;
    font-family: Roboto;
}
.home-new__img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
}
.home-new-wapper {
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
    border: #f9f9f9 solid 1px;
    transition: all linear 0.3s;
}
.home-new-wapper:hover {
    transform: translateY(-3px);
}
.home-new-content {
    padding: 16px 20px;
}
.home-new-title {
    font-family: Roboto;
    font-weight: 500;
    color:  #48457d;
    font-size: 1.2rem;
    padding-bottom: 12px;
    line-height: 1.5rem;
}
.home-new-title:hover {
    opacity: 0.7;
    color: #48457d;
}
.home-new-time {
    color: #666;
    padding: 20px 0;
}
.home-new-by__img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.home-new-by span {
    color: #888; 
    padding-left: 12px;
}
.home-new-button__more {
    display: inline-block;
    color: var(--white-color);
    background-color: rgb(42, 49, 173);
    border-radius: 30px;    
    border: rgb(42, 49, 173) solid 1px;
    padding: 8px 20px;
    margin: 20px 0;
}
.home-new-button__more:hover {
    color: rgb(42, 49, 173);
    background-color: var(--white-color);
}
.home-info-wapper {
    position: relative;
    z-index: 10;
    font-family: Roboto;
}
.home-info__title {
    font-size: 3rem;
    color: var(--white-color);
    font-weight: 500;
    line-height: 3rem;
}
.home-info__text {
    color: var(--white-color);
    font-weight: 500;
    padding-top: 20px;
}
.home-info-form-wapper {
    width: 400px;
    border-radius: 10px;
    background-color: rgb(42, 49, 173);
    padding: 20px 12px;
    position: absolute;
    top: -210px;
    right: 20px;
}
.home-info-form__title {
    color: var(--white-color);
    font-weight: 500;
    font-size: 1.6rem;
}
.home-info-form {
    display: flex;
    flex-direction: column;
}
.home-info-form__select {
    font-family: Roboto;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    outline: none;
    margin-top: 20px;
    color: #666;
}
.home-info-form__input {
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    margin-top: 20px;
    outline: none;
    width: 100%;
}
.home-info-form-wapper span {
    color: var(--white-color);
}
.home-info {
    padding: 80px 0;
    background: url(../img/form-background.jpg) no-repeat;
    background-size: 100% 100%;
    background-position-x: bottom;
    width: 100%;
    height: 450px;
    position: relative;
    background-color: transparent;
    display: flex;
    align-items: center;
}
.home-info__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(42, 49, 173);
    opacity: 0.8;
}
.home-info-form__button {
    border-radius: 5px;
    border: #ff8e32 solid 1px;
    background-color: #ff8e32;
    color: var(--white-color);
    font-weight: 500;
    padding: 12px 20px;
    margin: 20px 0;
}
.home-info-form__button:hover {
    background-color: var(--white-color);
    color:  #ff8e32;
}
.home-info-form__input-date {
    position: relative;
    background-color: var(--white-color);
    margin-top: 20px;
}
.home-info-form__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}
input[name="choose-date"] {
    margin-top: 0;
}
.footer-top {
    flex-wrap: wrap;
    display: flex;
    font-family: Roboto;
    padding: 100px 0 40px 0;
    border-bottom: #ccc solid 1px;
}
.footer-title {
    font-weight: 500;
    font-size: 1.6rem;
    padding-bottom: 20px;
}
.footer-top__link {
    display: inline-block;
    color: #333;
    font-size: 1.2rem;
    padding-bottom: 20px;
}
.footer-top__link:hover {
    color: #333;
    opacity: 0.8;
}
.footer-top__contact-text {
    color: #333;
}
.footer-top__contact {
    display: flex;
    align-items: flex-start;
    padding-bottom: 20px;
}
.footer-top__contact-icon {
    padding-right: 12px;
    margin-top: 5px;
    color: #333;
}

.footer-top__text {
    font-family: Roboto;
    padding: 20px 0;
    font-weight: 500;
}
.footer-newslatter {
    display: flex;
    align-items: center;
}
.footer-newslatter__input {
    padding: 12px;
    background-color: #eee;
    border: none;
    outline: none;
}
.footer-text {
    padding-right: 20px;
}
.footer-newslatter__button {
    padding: 12px;
    border: none;
    background-color: #5989ed;
    color: var(--white-color);
}
.footer-newslatter__button:hover {
    opacity: 0.8;
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.footer-bottom__list {
    display: flex;
    align-items: center;
}
.footer-bottom__link {
    display: inline-block;
    margin: 0 20px;
    width: 40px;
    height: 40px;
    border: #5989ed solid 1px;
    color: #5989ed;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-bottom__link.ytb {
    color: #ff0000;
    border: #ff0000 solid 1px;
}
.footer-bottom__link:hover {
    color: var(--white-color);
    background-color: #5989ed;
    transform: scale(1.1);
}
.footer-bottom__link.ytb:hover {
    color: var(--white-color);
    background-color: #ff0000;
    transform: scale(1.1);
}
.footer-logo__img {
    width: 80px;
    height: 80px;
}
.footer-bottom__link-icon {
    width: 100%;
    text-align: center;
}
/* home */