@media (min-width: 1113px) {
    .col-2-4 {
        flex: 0 0 20% !important;
        max-width: 20% !important;
    }
    .container {
        max-width: 1200px;
    }
}
@media only screen and (max-width: 1023px){
    .hide-on-tablet-mobile {
        display: none;
    }
    .header-top-menu__list {
        position: absolute;
        top: 0;
        right: -100%;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        background-color: rgba(12, 22, 30, 0.9);
        transition: all linear 0.3s;
        padding-top: 40px;
        height: 100vh;
        color: var(--white-color);
    }
    .header-top-menu__icon-list {
        display: block;
        font-size: 2rem;
    }
    .header-top-menu__list.active {
        right: 0;
    }
    .header-top-menu__con-close {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 1.6rem;
        display: block;
    }
    .home-event-left {
        padding-bottom: 40px;
    }
    .event-color-3 {
        margin-top: 0;
    }
    .home-slide__sub {
        padding: 20px 20px;
    }
    .home-new-wapper {
        margin-bottom: 30px;
    }
    .home-info-form-wapper {
        position: unset;
        margin-top: 40px;
    }
    .home-info {
        height: 100%;
    }
    .home-count__item {
        padding-bottom: 30px;
    }
    .header-top-menu__link {
        font-size: 1.6rem;
    }
    .home-slider__item {
        padding: 10px;
        margin: 10px 0;
    }
    .footer-title {
        padding-top: 30px;
    }
    .footer-bottom {
        flex-direction: column-reverse;
    }
    .footer-bottom__list {
        padding-bottom: 20px;
    }
}
@media only screen and (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
    .home-new-list {
        padding: 0 30px;
    }
    .typewrite span {
        font-size: 3rem;
    }
}
@media only screen and (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }
    .typewrite span {
        font-size: 1.6rem;
    }
    .headline__title {
        font-size: 1.2rem;
    }
    .home-info-form-wapper {
        width: 100%;
    }
    .home-benefit__title {
        font-size: 1.8rem;
    }
    .home-benefit__item {
        flex-direction: column;
        justify-content: center;
    }
    .home-benefit__item-img {
        width: 120px;
        height: 120px;
        margin-bottom: 20px;
    }
    .home-event-left__button-wapper {
        text-align: center;
    }
    .select-slide-button {
        font-size: 1rem;
    }
}
@media only screen and (max-width: 350px) {
    .header-mid-cart__num {
        right: -170%;
    }
    .select-slide-button {
        font-size: 0.8rem;
    }
}