@font-face {
    font-family: 'SanFrancisco';
    font-display: swap;
    src: url("../fonts/SanFranciscoDisplay-Regular.eot");
    src: local("☺︎"), url("../fonts/SanFranciscoDisplay-Regular.woff2") format("woff2"), url("../fonts/SanFranciscoDisplay-Regular.woff") format("woff"), url("../fonts/SanFranciscoDisplay-Regular.ttf") format("truetype"), url("../fonts/SanFranciscoDisplay-Regular.svg") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'ntl-icon';
    font-display: swap;
    src: url("../fonts/ntl-icon1bce.eot?v=6");
    src: url("../fonts/ntl-icon1bce.eot?v=6") format("embedded-opentype"), url("../fonts/ntl-icon1bce.ttf?v=6") format("truetype"), url("../fonts/ntl-icon1bce.woff?v=6") format("woff"), url("../fonts/ntl-icon1bce.svg?v=6") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Roboto-Bold';
    font-display: swap;
    src: url("../fonts/Roboto-Bold.ttf") format("truetype")
}

@font-face {
    font-family: 'Roboto-Regular';
    font-display: swap;
    src: url("../fonts/Roboto-Regular.ttf") format("truetype")
}

[class^="ntl-"], [class*=" ntl-"], .slick-arrow {
    font-family: 'ntl-icon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.ntl-Link .path1:before {
    content: "\ea84";
    color: #fed403
}

.ntl-Link .path2:before {
    content: "\ea85";
    margin-left: -1em;
    color: #000
}

.ntl-Link .path3:before {
    content: "\ea86";
    margin-left: -1em;
    color: #000
}

.ntl-Box-checked-fill-color .path1:before {
    content: "\ea7c"
}

.ntl-Box-checked-fill-color .path2:before {
    content: "\ea7d";
    margin-left: -1em;
    color: #000
}

.ntl-Box-checked-fill-color .path3:before {
    content: "\ea7e";
    margin-left: -1em;
    color: #000
}

.ntl-Box-checked-fill-color .path4:before {
    content: "\ea7f";
    margin-left: -1em;
    color: #000
}

.ntl-Box-checked-fill-color .path5:before {
    content: "\ea80";
    margin-left: -1em;
    color: #000
}

.ntl-Box-checked-fill-color .path6:before {
    content: "\ea81";
    margin-left: -1em;
    color: #000
}

.ntl-Box-checked:before {
    content: "\ea82"
}

.ntl-Plus:before {
    content: "\ea83"
}

.ntl-CS .path1:before {
    content: "\e9ff";
    color: #fff
}

.ntl-CS .path2:before {
    content: "\ea00";
    margin-left: -1em;
    color: #fff
}

.ntl-CS .path3:before {
    content: "\ea01";
    margin-left: -1em;
    color: #fff
}

.ntl-CS .path4:before {
    content: "\ea02";
    margin-left: -1em;
    color: #fff
}

.ntl-CS .path5:before {
    content: "\ea03";
    margin-left: -1em;
    color: #fff
}

.ntl-CS .path6:before {
    content: "\ea04";
    margin-left: -1em;
    color: #fff
}

.ntl-CS .path7:before {
    content: "\ea05";
    margin-left: -1em;
    color: #fff
}

.ntl-CS .path8:before {
    content: "\ea06";
    margin-left: -1em;
    color: #fff
}

.ntl-CS .path9:before {
    content: "\ea07";
    margin-left: -1em;
    color: #59595c
}

.ntl-CS .path10:before {
    content: "\ea08";
    margin-left: -1em;
    color: #fff
}

.ntl-CS .path11:before {
    content: "\ea09";
    margin-left: -1em;
    color: #fcd600
}

.ntl-CS .path12:before {
    content: "\ea0a";
    margin-left: -1em;
    color: #fcd600
}

.ntl-CS .path13:before {
    content: "\ea0b";
    margin-left: -1em;
    color: #fcd600
}

.ntl-CS .path14:before {
    content: "\ea0c";
    margin-left: -1em;
    color: #fcd600
}

.ntl-CS .path15:before {
    content: "\ea0d";
    margin-left: -1em;
    color: #fff
}

.ntl-CS .path16:before {
    content: "\ea0e";
    margin-left: -1em;
    color: #dadadc
}

.ntl-Buu-cuc .path1:before {
    content: "\ea0f";
    color: #fcd600
}

.ntl-Buu-cuc .path2:before {
    content: "\ea10";
    margin-left: -1em;
    color: #59595c
}

.ntl-Buu-cuc .path3:before {
    content: "\ea11";
    margin-left: -1em;
    color: #59595c
}

.ntl-Buu-cuc .path4:before {
    content: "\ea12";
    margin-left: -1em;
    color: #59595c
}

.ntl-Buu-cuc .path5:before {
    content: "\ea13";
    margin-left: -1em;
    color: #59595c
}

.ntl-Buu-cuc .path6:before {
    content: "\ea14";
    margin-left: -1em;
    color: #59595c
}

.ntl-Buu-cuc .path7:before {
    content: "\ea15";
    margin-left: -1em;
    color: #59595c
}

.ntl-Buu-cuc .path8:before {
    content: "\ea16";
    margin-left: -1em;
    color: #59595c
}

.ntl-Buu-cuc .path9:before {
    content: "\ea17";
    margin-left: -1em;
    color: #59595c
}

.ntl-Buu-cuc .path10:before {
    content: "\ea18";
    margin-left: -1em;
    color: #59595c
}

.ntl-Buu-cuc .path11:before {
    content: "\ea19";
    margin-left: -1em;
    color: #59595c
}

.ntl-Buu-cuc .path12:before {
    content: "\ea1a";
    margin-left: -1em;
    color: #59595c
}

.ntl-Buu-cuc .path13:before {
    content: "\ea1b";
    margin-left: -1em;
    color: #dadadc
}

.ntl-Buu-cuc .path14:before {
    content: "\ea1c";
    margin-left: -1em;
    color: #dadadc
}

.ntl-COD-24h .path1:before {
    content: "\ea1d";
    color: #fff
}

.ntl-COD-24h .path2:before {
    content: "\ea1e";
    margin-left: -1em;
    color: #fff
}

.ntl-COD-24h .path3:before {
    content: "\ea1f";
    margin-left: -1em;
    color: #fcd600
}

.ntl-COD-24h .path4:before {
    content: "\ea20";
    margin-left: -1em;
    color: #fff
}

.ntl-COD-24h .path5:before {
    content: "\ea21";
    margin-left: -1em;
    color: #fff
}

.ntl-CP-duong-bo .path1:before {
    content: "\ea22";
    color: #595a5c
}

.ntl-CP-duong-bo .path2:before {
    content: "\ea23";
    margin-left: -1em;
    color: #fff
}

.ntl-CP-duong-bo .path3:before {
    content: "\ea24";
    margin-left: -1em;
    color: #595a5c
}

.ntl-CP-duong-bo .path4:before {
    content: "\ea25";
    margin-left: -1em;
    color: #ffdd0f
}

.ntl-CP-duong-bo .path5:before {
    content: "\ea26";
    margin-left: -1em;
    color: #595a5c
}

.ntl-CP-duong-bo .path6:before {
    content: "\ea27";
    margin-left: -1em;
    color: #fff
}

.ntl-CP-duong-bo .path7:before {
    content: "\ea28";
    margin-left: -1em;
    color: #595a5c
}

.ntl-CP-duong-bo .path8:before {
    content: "\ea29";
    margin-left: -1em;
    color: #fff
}

.ntl-CP-duong-bo .path9:before {
    content: "\ea2a";
    margin-left: -1em;
    color: #595a5c
}

.ntl-CP-duong-bo .path10:before {
    content: "\ea2b";
    margin-left: -1em;
    color: #6d6e71
}

.ntl-CP-duong-bo .path11:before {
    content: "\ea2c";
    margin-left: -1em;
    color: #595a5c
}

.ntl-CP-duong-bo .path12:before {
    content: "\ea2d";
    margin-left: -1em;
    color: #f2f9fc
}

.ntl-CP-duong-bo .path13:before {
    content: "\ea2e";
    margin-left: -1em;
    color: #595a5c
}

.ntl-CP-duong-bo .path14:before {
    content: "\ea2f";
    margin-left: -1em;
    color: #fff
}

.ntl-CP-duong-bo .path15:before {
    content: "\ea30";
    margin-left: -1em;
    color: #595a5c
}

.ntl-CP-duong-bo .path16:before {
    content: "\ea31";
    margin-left: -1em;
    color: #ffdd0f
}

.ntl-CP-duong-bo .path17:before {
    content: "\ea32";
    margin-left: -1em;
    color: #595a5c
}

.ntl-CP-duong-bo .path18:before {
    content: "\ea33";
    margin-left: -1em;
    color: #bfc2c4
}

.ntl-CP-duong-bo .path19:before {
    content: "\ea34";
    margin-left: -1em;
    color: #595a5c
}

.ntl-CP-duong-bo .path20:before {
    content: "\ea35";
    margin-left: -1em;
    color: #ffdd0f
}

.ntl-CP-duong-bo .path21:before {
    content: "\ea36";
    margin-left: -1em;
    color: #595a5c
}

.ntl-CP-duong-bo .path22:before {
    content: "\ea37";
    margin-left: -1em;
    color: #fff
}

.ntl-CP-duong-bo .path23:before {
    content: "\ea38";
    margin-left: -1em;
    color: #595a5c
}

.ntl-CP-duong-bo .path24:before {
    content: "\ea39";
    margin-left: -1em;
    color: #fff
}

.ntl-CP-duong-bo .path25:before {
    content: "\ea3a";
    margin-left: -1em;
    color: #595a5c
}

.ntl-CP-duong-bo .path26:before {
    content: "\ea3b";
    margin-left: -1em;
    color: #595a5c
}

.ntl-CP-duong-bo .path27:before {
    content: "\ea3c";
    margin-left: -1em;
    color: #595a5c
}

.ntl-CP-duong-bo .path28:before {
    content: "\ea3d";
    margin-left: -1em;
    color: #595a5c
}

.ntl-CP-duong-bo .path29:before {
    content: "\ea3e";
    margin-left: -1em;
    color: #595a5c
}

.ntl-CP-Ket-Hop .path1:before {
    content: "\ea3f";
    color: #dadadc
}

.ntl-CP-Ket-Hop .path2:before {
    content: "\ea40";
    margin-left: -1em;
    color: #dadadc
}

.ntl-CP-Ket-Hop .path3:before {
    content: "\ea41";
    margin-left: -1em;
    color: #dadadc
}

.ntl-CP-Ket-Hop .path4:before {
    content: "\ea42";
    margin-left: -1em;
    color: #dadadc
}

.ntl-CP-Ket-Hop .path5:before {
    content: "\ea43";
    margin-left: -1em;
    color: #dadadc
}

.ntl-CP-Ket-Hop .path6:before {
    content: "\ea44";
    margin-left: -1em;
    color: #dadadc
}

.ntl-CP-Ket-Hop .path7:before {
    content: "\ea45";
    margin-left: -1em;
    color: #59595c
}

.ntl-CP-Ket-Hop .path8:before {
    content: "\ea46";
    margin-left: -1em;
    color: #59595c
}

.ntl-CP-Ket-Hop .path9:before {
    content: "\ea47";
    margin-left: -1em;
    color: #fcd600
}

.ntl-CP-Ket-Hop .path10:before {
    content: "\ea48";
    margin-left: -1em;
    color: #fcd600
}

.ntl-CP-Ket-Hop .path11:before {
    content: "\ea49";
    margin-left: -1em;
    color: #fcd600
}

.ntl-CP-Ket-Hop .path12:before {
    content: "\ea4a";
    margin-left: -1em;
    color: #fcd600
}

.ntl-CPN1 .path1:before {
    content: "\ea4b";
    color: #dadadc
}

.ntl-CPN1 .path2:before {
    content: "\ea4c";
    margin-left: -1em;
    color: #fcd600
}

.ntl-CPN1 .path3:before {
    content: "\ea4d";
    margin-left: -1em;
    color: #59595c
}

.ntl-CPN1 .path4:before {
    content: "\ea4e";
    margin-left: -1em;
    color: #59595c
}

.ntl-CPN1 .path5:before {
    content: "\ea4f";
    margin-left: -1em;
    color: #59595c
}

.ntl-CPN1 .path6:before {
    content: "\ea50";
    margin-left: -1em;
    color: #59595c
}

.ntl-CPN1 .path7:before {
    content: "\ea51";
    margin-left: -1em;
    color: #59595c
}

.ntl-CPN1 .path8:before {
    content: "\ea52";
    margin-left: -1em;
    color: #59595c
}

.ntl-CPN1 .path9:before {
    content: "\ea53";
    margin-left: -1em;
    color: #59595c
}

.ntl-CPN1 .path10:before {
    content: "\ea54";
    margin-left: -1em;
    color: #59595c
}

.ntl-Doi-tac .path1:before {
    content: "\ea55";
    color: #ffdd0f
}

.ntl-Doi-tac .path2:before {
    content: "\ea56";
    margin-left: -1em;
    color: #595a5c
}

.ntl-Doi-tac .path3:before {
    content: "\ea57";
    margin-left: -1em;
    color: #595a5c
}

.ntl-Doi-tac .path4:before {
    content: "\ea58";
    margin-left: -1em;
    color: #ffdd0f
}

.ntl-Head-phone:before {
    content: "\ea59"
}

.ntl-kho .path1:before {
    content: "\ea5a";
    color: #fcd600
}

.ntl-kho .path2:before {
    content: "\ea5b";
    margin-left: -1em;
    color: #59595c
}

.ntl-kho .path3:before {
    content: "\ea5c";
    margin-left: -1em;
    color: #59595c
}

.ntl-kho .path4:before {
    content: "\ea5d";
    margin-left: -1em;
    color: #59595c
}

.ntl-kho .path5:before {
    content: "\ea5e";
    margin-left: -1em;
    color: #59595c
}

.ntl-Location-White1 .path1:before {
    content: "\ea5f";
    color: #fcd804
}

.ntl-Location-White1 .path2:before {
    content: "\ea60";
    margin-left: -1em;
    color: #fff
}

.ntl-Location-White1 .path3:before {
    content: "\ea61";
    margin-left: -1em;
    color: #fff
}

.ntl-Location-White1 .path4:before {
    content: "\ea62";
    margin-left: -1em;
    color: #fff
}

.ntl-Money .path1:before {
    content: "\ea63";
    color: #dadadc
}

.ntl-Money .path2:before {
    content: "\ea64";
    margin-left: -1em;
    color: #fcd600
}

.ntl-Money .path3:before {
    content: "\ea65";
    margin-left: -1em;
    color: #fff
}

.ntl-Money .path4:before {
    content: "\ea66";
    margin-left: -1em;
    color: #fff
}

.ntl-Money .path5:before {
    content: "\ea67";
    margin-left: -1em;
    color: #fff
}

.ntl-Nguyen-xe .path1:before {
    content: "\ea68";
    color: #ffdd0f
}

.ntl-Nguyen-xe .path2:before {
    content: "\ea69";
    margin-left: -1em;
    color: #595a5c
}

.ntl-Nguyen-xe .path3:before {
    content: "\ea6a";
    margin-left: -1em;
    color: #595a5c
}

.ntl-NV .path1:before {
    content: "\ea6b";
    color: #ffdd0f
}

.ntl-NV .path2:before {
    content: "\ea6c";
    margin-left: -1em;
    color: #595a5c
}

.ntl-NV .path3:before {
    content: "\ea6d";
    margin-left: -1em;
    color: #fff
}

.ntl-NV .path4:before {
    content: "\ea6e";
    margin-left: -1em;
    color: #595a5c
}

.ntl-NV .path5:before {
    content: "\ea6f";
    margin-left: -1em;
    color: #d5d4d4
}

.ntl-NV .path6:before {
    content: "\ea70";
    margin-left: -1em;
    color: #595a5c
}

.ntl-NV .path7:before {
    content: "\ea71";
    margin-left: -1em;
    color: #d5d4d4
}

.ntl-NV .path8:before {
    content: "\ea72";
    margin-left: -1em;
    color: #595a5c
}

.ntl-NV .path9:before {
    content: "\ea73";
    margin-left: -1em;
    color: #ffdd0f
}

.ntl-NV .path10:before {
    content: "\ea74";
    margin-left: -1em;
    color: #595a5c
}

.ntl-NV .path11:before {
    content: "\ea75";
    margin-left: -1em;
    color: #d5d4d4
}

.ntl-NV .path12:before {
    content: "\ea76";
    margin-left: -1em;
    color: #595a5c
}

.ntl-Thu-ho-COD .path1:before {
    content: "\ea77";
    color: #dadadc
}

.ntl-Thu-ho-COD .path2:before {
    content: "\ea78";
    margin-left: -1em;
    color: #fcd600
}

.ntl-Thu-ho-COD .path3:before {
    content: "\ea79";
    margin-left: -1em;
    color: #595a5c
}

.ntl-Thu-ho-COD .path4:before {
    content: "\ea7a";
    margin-left: -1em;
    color: #595a5c
}

.ntl-Thu-ho-COD .path5:before {
    content: "\ea7b";
    margin-left: -1em;
    color: #595a5c
}

.ntl-Battery .path1:before {
    content: "\e900";
    color: #424a60
}

.ntl-Battery .path2:before {
    content: "\e901";
    margin-left: -1em;
    color: #d8a852
}

.ntl-Battery .path3:before {
    content: "\e902";
    margin-left: -1em;
    color: #efce4a
}

.ntl-Battery .path4:before {
    content: "\e903";
    margin-left: -1em;
    color: #ea6248
}

.ntl-Black-Arrow-1:before {
    content: "\e904"
}

.ntl-Black-Arrow-2:before {
    content: "\e905"
}

.ntl-Black-Arrow-3:before {
    content: "\e906"
}

.ntl-Black-Arrow-4:before {
    content: "\e907"
}

.ntl-Box-1 .path1:before {
    content: "\e908";
    color: #fff
}

.ntl-Box-1 .path11:before {
    content: "\e908";
    color: #FCD804
}

.ntl-Box-1 .path2:before {
    content: "\e909";
    margin-left: -1em;
    color: #000
}

.ntl-Box-1 .path3:before {
    content: "\e90a";
    margin-left: -1em;
    color: #000
}

.ntl-Box-1 .path4:before {
    content: "\e90b";
    margin-left: -1em;
    color: #000
}

.ntl-Box-1 .path5:before {
    content: "\e90c";
    margin-left: -1em;
    color: #000
}

.ntl-Box-2 .path1:before {
    content: "\e90d";
    color: #fcd804
}

.ntl-Box-2 .path2:before {
    content: "\e90e";
    margin-left: -1em;
    color: #000
}

.ntl-Box-2 .path3:before {
    content: "\e90f";
    margin-left: -1em;
    color: #000
}

.ntl-Box-2 .path4:before {
    content: "\e910";
    margin-left: -1em;
    color: #000
}

.ntl-Box-2 .path5:before {
    content: "\e911";
    margin-left: -1em;
    color: #000
}

.ntl-Box-List:before {
    content: "\e912"
}

.ntl-Box-search:before {
    content: "\e913"
}

.ntl-Box-search-1:before {
    content: "\e914"
}

.ntl-Box-time:before {
    content: "\e915"
}

.ntl-Bread .path1:before {
    content: "\e916";
    color: #fcc447
}

.ntl-Bread .path2:before {
    content: "\e917";
    margin-left: -1em;
    color: #f2b844
}

.ntl-Bread .path3:before {
    content: "\e918";
    margin-left: -1em;
    color: #f2b844
}

.ntl-Bread .path4:before {
    content: "\e919";
    margin-left: -1em;
    color: #dda137
}

.ntl-Bread .path5:before {
    content: "\e91a";
    margin-left: -1em;
    color: #dda137
}

.ntl-Bread .path6:before {
    content: "\e91b";
    margin-left: -1em;
    color: #dda137
}

.ntl-Bread .path7:before {
    content: "\e91c";
    margin-left: -1em;
    color: #fcc447
}

.ntl-Bread .path8:before {
    content: "\e91d";
    margin-left: -1em;
    color: #f2b844
}

.ntl-Bread .path9:before {
    content: "\e91e";
    margin-left: -1em;
    color: #f2b844
}

.ntl-Bread .path10:before {
    content: "\e91f";
    margin-left: -1em;
    color: #dda137
}

.ntl-Bread .path11:before {
    content: "\e920";
    margin-left: -1em;
    color: #dda137
}

.ntl-Bread .path12:before {
    content: "\e921";
    margin-left: -1em;
    color: #dda137
}

.ntl-Call-Center:before {
    content: "\e922"
}

.ntl-Cart:before {
    content: "\e923"
}

.ntl-Close:before {
    content: "\e924"
}

.ntl-Coat-and-lipstick .path1:before {
    content: "\e925";
    color: #00c3ff
}

.ntl-Coat-and-lipstick .path2:before {
    content: "\e926";
    margin-left: -1em;
    color: #00aaf0
}

.ntl-Coat-and-lipstick .path3:before {
    content: "\e927";
    margin-left: -1em;
    color: #d5dced
}

.ntl-Coat-and-lipstick .path4:before {
    content: "\e928";
    margin-left: -1em;
    color: #d5dced
}

.ntl-Coat-and-lipstick .path5:before {
    content: "\e929";
    margin-left: -1em;
    color: #c7cfe2
}

.ntl-Coat-and-lipstick .path6:before {
    content: "\e92a";
    margin-left: -1em;
    color: #0096dc
}

.ntl-Coat-and-lipstick .path7:before {
    content: "\e92b";
    margin-left: -1em;
    color: #00aaf0
}

.ntl-Coat-and-lipstick .path8:before {
    content: "\e92c";
    margin-left: -1em;
    color: #d5dced
}

.ntl-Coat-and-lipstick .path9:before {
    content: "\e92d";
    margin-left: -1em;
    color: #c7cfe2
}

.ntl-Coat-and-lipstick .path10:before {
    content: "\e92e";
    margin-left: -1em;
    color: #0096dc
}

.ntl-Coat-and-lipstick .path11:before {
    content: "\e92f";
    margin-left: -1em;
    color: #d5dced
}

.ntl-Coat-and-lipstick .path12:before {
    content: "\e930";
    margin-left: -1em;
    color: #d5dced
}

.ntl-Coat-and-lipstick .path13:before {
    content: "\e931";
    margin-left: -1em;
    color: #c7cfe2
}

.ntl-Coat-and-lipstick .path14:before {
    content: "\e932";
    margin-left: -1em;
    color: #d5dced
}

.ntl-Coat-and-lipstick .path15:before {
    content: "\e933";
    margin-left: -1em;
    color: #c7cfe2
}

.ntl-Coat-and-lipstick .path16:before {
    content: "\e934";
    margin-left: -1em;
    color: #ff6465
}

.ntl-Coat-and-lipstick .path17:before {
    content: "\e935";
    margin-left: -1em;
    color: #ff8c8d
}

.ntl-Coat-and-lipstick .path18:before {
    content: "\e936";
    margin-left: -1em;
    color: #ffd782
}

.ntl-Coat-and-lipstick .path19:before {
    content: "\e937";
    margin-left: -1em;
    color: #000;
    opacity: 0.1
}

.ntl-Coat-and-lipstick .path20:before {
    content: "\e938";
    margin-left: -1em;
    color: #5b5d6e
}

.ntl-Coat-and-lipstick .path21:before {
    content: "\e939";
    margin-left: -1em;
    color: #000;
    opacity: 0.1
}

.ntl-COD:before {
    content: "\e93a"
}

.ntl-CPN:before {
    content: "\e93b"
}

.ntl-Document-1 .path1:before {
    content: "\e93c";
    color: #000
}

.ntl-Document-1 .path2:before {
    content: "\e93d";
    margin-left: -1em;
    color: #fff
}

.ntl-Document-1 .path3:before {
    content: "\e93e";
    margin-left: -1em;
    color: #000
}

.ntl-Document-1 .path4:before {
    content: "\e93f";
    margin-left: -1em;
    color: #000
}

.ntl-Document-1 .path5:before {
    content: "\e940";
    margin-left: -1em;
    color: #000
}

.ntl-Document-1 .path6:before {
    content: "\e941";
    margin-left: -1em;
    color: #000
}

.ntl-Document-1 .path7:before {
    content: "\e942";
    margin-left: -1em;
    color: #000
}

.ntl-Document-1 .path8:before {
    content: "\e943";
    margin-left: -1em;
    color: #000
}

.ntl-Document-1 .path9:before {
    content: "\e944";
    margin-left: -1em;
    color: #000
}

.ntl-Document-1 .path10:before {
    content: "\e945";
    margin-left: -1em;
    color: #000
}

.ntl-Document-1 .path11:before {
    content: "\e946";
    margin-left: -1em;
    color: #000
}

.ntl-Document-1 .path12:before {
    content: "\e947";
    margin-left: -1em;
    color: #000
}

.ntl-Document-1 .path13:before {
    content: "\e948";
    margin-left: -1em;
    color: #000
}

.ntl-Document-1 .path14:before {
    content: "\e949";
    margin-left: -1em;
    color: #000
}

.ntl-Document-2 .path1:before {
    content: "\e94a";
    color: #000
}

.ntl-Document-2 .path2:before {
    content: "\e94b";
    margin-left: -1em;
    color: #fcd804
}

.ntl-Document-2 .path22:before {
    content: "\e94b";
    margin-left: -1em;
    color: #fff
}

.ntl-Document-2 .path3:before {
    content: "\e94c";
    margin-left: -1em;
    color: #000
}

.ntl-Document-2 .path4:before {
    content: "\e94d";
    margin-left: -1em;
    color: #000
}

.ntl-Document-2 .path5:before {
    content: "\e94e";
    margin-left: -1em;
    color: #000
}

.ntl-Document-2 .path6:before {
    content: "\e94f";
    margin-left: -1em;
    color: #000
}

.ntl-Document-2 .path7:before {
    content: "\e950";
    margin-left: -1em;
    color: #000
}

.ntl-Document-2 .path8:before {
    content: "\e951";
    margin-left: -1em;
    color: #000
}

.ntl-Document-2 .path9:before {
    content: "\e952";
    margin-left: -1em;
    color: #000
}

.ntl-Document-2 .path10:before {
    content: "\e953";
    margin-left: -1em;
    color: #000
}

.ntl-Document-2 .path11:before {
    content: "\e954";
    margin-left: -1em;
    color: #000
}

.ntl-Document-2 .path12:before {
    content: "\e955";
    margin-left: -1em;
    color: #000
}

.ntl-Document-2 .path13:before {
    content: "\e956";
    margin-left: -1em;
    color: #000
}

.ntl-Document-2 .path14:before {
    content: "\e957";
    margin-left: -1em;
    color: #000
}

.ntl-Dollar:before {
    content: "\e958"
}

.ntl-Eye:before {
    content: "\e959";
    color: #37474f
}

.ntl-Facebook-Black:before {
    content: "\e95a"
}

.ntl-Facebook-White:before {
    content: "\e95b";
    color: #fff
}

.ntl-Facebook1 .path1:before {
    content: "\e95c";
    color: #3b5998
}

.ntl-Facebook1 .path2:before {
    content: "\e95d";
    margin-left: -1em;
    color: #fff
}

.ntl-Fire .path1:before {
    content: "\e95e";
    color: #ff6536
}

.ntl-Fire .path2:before {
    content: "\e95f";
    margin-left: -1em;
    color: #ff421d
}

.ntl-Fire .path3:before {
    content: "\e960";
    margin-left: -1em;
    color: #fbbf00
}

.ntl-Fire .path4:before {
    content: "\e961";
    margin-left: -1em;
    color: #ffa900
}

.ntl-Google-white:before {
    content: "\e962";
    color: #fff
}

.ntl-Hamburger-Menu:before {
    content: "\e963";
    color: #FCD804
}

.ntl-Hotline:before {
    content: "\e964";
    color: #fcd804
}

.ntl-Letter .path1:before {
    content: "\e965";
    color: #b06328
}

.ntl-Letter .path2:before {
    content: "\e966";
    margin-left: -1em;
    color: #a35425
}

.ntl-Letter .path3:before {
    content: "\e967";
    margin-left: -1em;
    color: #ffcb5b
}

.ntl-Letter .path4:before {
    content: "\e968";
    margin-left: -1em;
    color: #f7b84e
}

.ntl-Letter .path5:before {
    content: "\e969";
    margin-left: -1em;
    color: #e9e9e9
}

.ntl-Letter .path6:before {
    content: "\e96a";
    margin-left: -1em;
    color: #dbdad9
}

.ntl-Letter .path7:before {
    content: "\e96b";
    margin-left: -1em;
    color: #595a66
}

.ntl-Letter .path8:before {
    content: "\e96c";
    margin-left: -1em;
    color: #6f707e
}

.ntl-Letter .path9:before {
    content: "\e96d";
    margin-left: -1em;
    color: #6f707e
}

.ntl-Letter .path10:before {
    content: "\e96e";
    margin-left: -1em;
    color: #6f707e
}

.ntl-Letter .path11:before {
    content: "\e96f";
    margin-left: -1em;
    color: #6f707e
}

.ntl-Letter .path12:before {
    content: "\e970";
    margin-left: -1em;
    color: #6f707e
}

.ntl-Letter .path13:before {
    content: "\e971";
    margin-left: -1em;
    color: #6f707e
}

.ntl-Letter .path14:before {
    content: "\e972";
    margin-left: -1em;
    color: #6f707e
}

.ntl-Letter .path15:before {
    content: "\e973";
    margin-left: -1em;
    color: #cad1d8
}

.ntl-Letter .path16:before {
    content: "\e974";
    margin-left: -1em;
    color: #dddddc
}

.ntl-Link1:before {
    content: "\e975"
}

.ntl-Location-1 .path1:before {
    content: "\e976";
    color: #fff
}

.ntl-Location-1 .path2:before {
    content: "\e977";
    margin-left: -1em;
    color: #fcd804
}

.ntl-Location-1 .path3:before {
    content: "\e978";
    margin-left: -1em;
    color: #000
}

.ntl-Location-1 .path4:before {
    content: "\e979";
    margin-left: -1em;
    color: #000
}

.ntl-Location-1 .path5:before {
    content: "\e97a";
    margin-left: -1em;
    color: #000
}

.ntl-Location-2 .path1:before {
    content: "\e97b";
    color: #fcd804
}

.ntl-Location-2 .path11:before {
    content: "\e97b";
    color: #fff
}

.ntl-Location-2 .path2:before {
    content: "\e97c";
    margin-left: -1em;
    color: #fff
}

.ntl-Location-2 .path22:before {
    content: "\e97c";
    margin-left: -1em;
    color: #FCD804
}

.ntl-Location-2 .path3:before {
    content: "\e97d";
    margin-left: -1em;
    color: #000
}

.ntl-Location-2 .path4:before {
    content: "\e97e";
    margin-left: -1em;
    color: #000
}

.ntl-Location-2 .path5:before {
    content: "\e97f";
    margin-left: -1em;
    color: #000
}

.ntl-Location-3:before {
    content: "\e980";
    color: #fcd804
}

.ntl-Location-White:before {
    content: "\e981";
    color: #fff
}

.ntl-Login-black:before {
    content: "\e982"
}

.ntl-Login:before {
    content: "\e983";
    color: #fff
}

.ntl-Meat .path1:before {
    content: "\e984";
    color: #704138
}

.ntl-Meat .path2:before {
    content: "\e985";
    margin-left: -1em;
    color: #e57670
}

.ntl-Meat .path3:before {
    content: "\e986";
    margin-left: -1em;
    color: #e05c56
}

.ntl-Meat .path4:before {
    content: "\e987";
    margin-left: -1em;
    color: #633029
}

.ntl-Meat .path5:before {
    content: "\e988";
    margin-left: -1em;
    color: #ffc1b8
}

.ntl-Meat .path6:before {
    content: "\e989";
    margin-left: -1em;
    color: #ffb3a8
}

.ntl-Meat .path7:before {
    content: "\e98a";
    margin-left: -1em;
    color: #d33737
}

.ntl-Meat .path8:before {
    content: "\e98b";
    margin-left: -1em;
    color: #c42626
}

.ntl-Meat .path9:before {
    content: "\e98c";
    margin-left: -1em;
    color: #704138
}

.ntl-Meat .path10:before {
    content: "\e98d";
    margin-left: -1em;
    color: #633029
}

.ntl-Meat .path11:before {
    content: "\e98e";
    margin-left: -1em;
    color: #d33737
}

.ntl-Meat .path12:before {
    content: "\e98f";
    margin-left: -1em;
    color: #c42626
}

.ntl-Medicine .path1:before {
    content: "\e990";
    color: #7fdbd5
}

.ntl-Medicine .path2:before {
    content: "\e991";
    margin-left: -1em;
    color: #38648c
}

.ntl-Medicine .path3:before {
    content: "\e992";
    margin-left: -1em;
    color: #38648c
}

.ntl-Medicine .path4:before {
    content: "\e993";
    margin-left: -1em;
    color: #7fdbd5
}

.ntl-Medicine .path5:before {
    content: "\e994";
    margin-left: -1em;
    color: #f28b74
}

.ntl-Medicine .path6:before {
    content: "\e995";
    margin-left: -1em;
    color: #7fdbd5
}

.ntl-Medicine .path7:before {
    content: "\e996";
    margin-left: -1em;
    color: #287d99
}

.ntl-Medicine .path8:before {
    content: "\e997";
    margin-left: -1em;
    color: #000;
    opacity: 0.1
}

.ntl-Medicine .path9:before {
    content: "\e998";
    margin-left: -1em;
    color: #76b7eb
}

.ntl-Medicine .path10:before {
    content: "\e999";
    margin-left: -1em;
    color: #d1eff2
}

.ntl-Medicine .path11:before {
    content: "\e99a";
    margin-left: -1em;
    color: #000;
    opacity: 0.1
}

.ntl-Medicine .path12:before {
    content: "\e99b";
    margin-left: -1em;
    color: #f28b74
}

.ntl-Medicine .path13:before {
    content: "\e99c";
    margin-left: -1em;
    color: #000;
    opacity: 0.1
}

.ntl-Medicine .path14:before {
    content: "\e99d";
    margin-left: -1em;
    color: #76b7eb
}

.ntl-MES:before {
    content: "\e99e"
}

.ntl-Next:before {
    content: "\e99f"
}

.ntl-Phone .path1:before {
    content: "\e9a0";
    color: #707384
}

.ntl-Phone .path2:before {
    content: "\e9a1";
    margin-left: -1em;
    color: #63afdb
}

.ntl-Phone .path3:before {
    content: "\e9a2";
    margin-left: -1em;
    color: #468cbe
}

.ntl-Phone .path4:before {
    content: "\e9a3";
    margin-left: -1em;
    color: #464655
}

.ntl-Phone .path5:before {
    content: "\e9a4";
    margin-left: -1em;
    color: #464655
}

.ntl-Phone .path6:before {
    content: "\e9a5";
    margin-left: -1em;
    color: #464655
}

.ntl-Phone .path7:before {
    content: "\e9a6";
    margin-left: -1em;
    color: #63afdb
}

.ntl-Phone .path8:before {
    content: "\e9a7";
    margin-left: -1em;
    color: #ff6469
}

.ntl-Phone .path9:before {
    content: "\e9a8";
    margin-left: -1em;
    color: #00dccd
}

.ntl-Phone .path10:before {
    content: "\e9a9";
    margin-left: -1em;
    color: #ffdc69
}

.ntl-Phone .path11:before {
    content: "\e9aa";
    margin-left: -1em;
    color: #fff
}

.ntl-Phone .path12:before {
    content: "\e9ab";
    margin-left: -1em;
    color: #468cbe
}

.ntl-Phone .path13:before {
    content: "\e9ac";
    margin-left: -1em;
    color: #464655
}

.ntl-Phone .path14:before {
    content: "\e9ad";
    margin-left: -1em;
    color: #ffa055
}

.ntl-Phone .path15:before {
    content: "\e9ae";
    margin-left: -1em;
    color: #a0d778
}

.ntl-Phone .path16:before {
    content: "\e9af";
    margin-left: -1em;
    color: #ff6469
}

.ntl-Phone .path17:before {
    content: "\e9b0";
    margin-left: -1em;
    color: #00dccd
}

.ntl-Phone .path18:before {
    content: "\e9b1";
    margin-left: -1em;
    color: #ffdc69
}

.ntl-Phone .path19:before {
    content: "\e9b2";
    margin-left: -1em;
    color: #ffdc69
}

.ntl-Phone .path20:before {
    content: "\e9b3";
    margin-left: -1em;
    color: #ffdc69
}

.ntl-Phone .path21:before {
    content: "\e9b4";
    margin-left: -1em;
    color: #ff6469
}

.ntl-Phone .path22:before {
    content: "\e9b5";
    margin-left: -1em;
    color: #468cbe
}

.ntl-Phone .path23:before {
    content: "\e9b6";
    margin-left: -1em;
    color: #ff6469
}

.ntl-Phone .path24:before {
    content: "\e9b7";
    margin-left: -1em;
    color: #fff
}

.ntl-Phone .path25:before {
    content: "\e9b8";
    margin-left: -1em;
    color: #464655
}

.ntl-Phone .path26:before {
    content: "\e9b9";
    margin-left: -1em;
    color: #fff
}

.ntl-Phone .path27:before {
    content: "\e9ba";
    margin-left: -1em;
    color: #fff
}

.ntl-Previoust:before {
    content: "\e9bb"
}

.ntl-Prohibit:before {
    content: "\e9bc"
}

.ntl-Search-Gray:before {
    content: "\e9bd";
    color: #a8a8a8
}

.ntl-Search-White:before {
    content: "\e9be";
    color: #fff
}

.ntl-Search:before {
    content: "\e9bf"
}

.ntl-Send:before {
    content: "\e9c0";
    color: #a8a8a8
}

.ntl-Setting:before {
    content: "\e9c1"
}

.ntl-Share:before {
    content: "\e9c2"
}

.ntl-Shield:before {
    content: "\e9c3"
}

.ntl-Shipping-Car:before {
    content: "\e9c4"
}

.ntl-Staff .path1:before {
    content: "\e9c5";
    color: #000
}

.ntl-Staff .path2:before {
    content: "\e9c6";
    margin-left: -1em;
    color: #000
}

.ntl-Staff .path3:before {
    content: "\e9c7";
    margin-left: -1em;
    color: #fcd804
}

.ntl-Staff .path4:before {
    content: "\e9c8";
    margin-left: -1em;
    color: #000
}

.ntl-Staff .path5:before {
    content: "\e9c9";
    margin-left: -1em;
    color: #000
}

.ntl-Staff .path6:before {
    content: "\e9ca";
    margin-left: -1em;
    color: #000
}

.ntl-Status-one .path1:before {
    content: "\e9cb";
    color: #fcd804
}

.ntl-Status-one .path2:before {
    content: "\e9cc";
    margin-left: -1em;
    color: #32332e
}

.ntl-Status-Null .path1:before {
    content: "\e9cd"
}

.ntl-Status-Null .path2:before {
    content: "\e9ce";
    margin-left: -1em
}

.ntl-Status-Null .path3:before {
    content: "\e9cf";
    margin-left: -1em
}

.ntl-Thin-Arrow-1:before {
    content: "\e9d0"
}

.ntl-Thin-Arrow-2:before {
    content: "\e9d1"
}

.ntl-Thin-Arrow-3:before {
    content: "\e9d2"
}

.ntl-Thin-Arrow-4:before {
    content: "\e9d3"
}

.ntl-Truck:before {
    content: "\e9d4"
}

.ntl-Twitter-Black:before {
    content: "\e9d5"
}

.ntl-Zalo .path1:before {
    content: "\e9d6";
    color: #55acee
}

.ntl-Zalo .path2:before {
    content: "\e9d7";
    margin-left: -1em;
    color: #f1f2f2
}

.ntl-Zalo .path3:before {
    content: "\e9fa";
    margin-left: -1em;
    color: #0280c7
}

.ntl-Zalo .path4:before {
    content: "\e9fb";
    margin-left: -1em;
    color: #fff
}

.ntl-Zalo .path5:before {
    content: "\e9fc";
    margin-left: -1em;
    color: #fff
}

.ntl-Zalo .path6:before {
    content: "\e9fd";
    margin-left: -1em;
    color: #fff
}

.ntl-Zalo .path7:before {
    content: "\e9fe";
    margin-left: -1em;
    color: #fff
}

.ntl-Water .path1:before {
    content: "\e9d8";
    color: #68ccea
}

.ntl-Water .path2:before {
    content: "\e9d9";
    margin-left: -1em;
    color: #5abce2
}

.ntl-Water .path3:before {
    content: "\e9da";
    margin-left: -1em;
    color: #5abce2
}

.ntl-Water .path4:before {
    content: "\e9db";
    margin-left: -1em;
    color: #68ccea
}

.ntl-Water .path5:before {
    content: "\e9dc";
    margin-left: -1em;
    color: #5abce2
}

.ntl-Water .path6:before {
    content: "\e9dd";
    margin-left: -1em;
    color: #68ccea
}

.ntl-White-Arrow-1:before {
    content: "\e9de";
    color: #fff
}

.ntl-White-Arrow-2:before {
    content: "\e9df";
    color: #fff
}

.ntl-White-Arrow-3:before {
    content: "\e9e0";
    color: #fff
}

.ntl-White-Arrow-4:before {
    content: "\e9e1";
    color: #fff
}

.ntl-Yellow-Arrow-1:before {
    content: "\e9e2";
    color: #fcd804
}

.ntl-Yellow-Arrow-2:before {
    content: "\e9e3";
    color: #fcd804
}

.ntl-Yellow-Arrow-3:before {
    content: "\e9e4";
    color: #fcd804
}

.ntl-Yellow-Arrow-4:before {
    content: "\e9e5";
    color: #fcd804
}

.ntl-Yellow-Location .path1:before {
    content: "\e9e6";
    color: #fcd804
}

.ntl-Yellow-Location .path2:before {
    content: "\e9e7";
    margin-left: -1em;
    color: #2f302f
}

.ntl-Yellow-Location .path3:before {
    content: "\e9e8";
    margin-left: -1em;
    color: #2f302f
}

.ntl-Yellow-Location .path4:before {
    content: "\e9e9";
    margin-left: -1em;
    color: #2f302f
}

.ntl-Yellow-Partner .path1:before {
    content: "\e9ea";
    color: #2f302f
}

.ntl-Yellow-Partner .path2:before {
    content: "\e9eb";
    margin-left: -1em;
    color: #2f302f
}

.ntl-Yellow-Partner .path3:before {
    content: "\e9ec";
    margin-left: -1em;
    color: #fcd804
}

.ntl-Yellow-Partner .path4:before {
    content: "\e9ed";
    margin-left: -1em;
    color: #fcd804
}

.ntl-Yellow-Partner .path5:before {
    content: "\e9ee";
    margin-left: -1em;
    color: #fcd804
}

.ntl-Yellow-Partner .path6:before {
    content: "\e9ef";
    margin-left: -1em;
    color: #2f302f
}

.ntl-Yellow-Partner .path7:before {
    content: "\e9f0";
    margin-left: -1em;
    color: #2f302f
}

.ntl-Yellow-Partner .path8:before {
    content: "\e9f1";
    margin-left: -1em;
    color: #2f302f
}

.ntl-Yellow-Partner .path9:before {
    content: "\e9f2";
    margin-left: -1em;
    color: #2f302f
}

.ntl-Yellow-Truck .path1:before {
    content: "\e9f3";
    color: #2f302f
}

.ntl-Yellow-Truck .path2:before {
    content: "\e9f4";
    margin-left: -1em;
    color: #fcd804
}

.ntl-Yellow-Truck .path3:before {
    content: "\e9f5";
    margin-left: -1em;
    color: #fcd804
}

.ntl-Yellow-Truck .path4:before {
    content: "\e9f6";
    margin-left: -1em;
    color: #fcd804
}

.ntl-Youtube .path1:before {
    content: "\e9f7";
    color: #f61c0d
}

.ntl-Youtube .path2:before {
    content: "\e9f8";
    margin-left: -1em;
    color: #fff
}

.ntl-Download:before {
    content: "\e9f9"
}

ul {
    list-style: none outside;
    margin: 0;
    padding: 0
}

body {
    font-size: 17px;
    color: #2F302F
}

.line_login {
    color: #453F3F !important
}

.current {
    background-color: #FCD804
}

.error {
    color: red !important;
    font-size: 12px;
    font-weight: normal
}

.line-clamp {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden
}

.translate {
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out
}

.translate:hover {
    opacity: 0.8
}

.SanFranciscoDisplay-Bold {
    font-weight: bold
}

.text-fff {
    color: #fff
}

.text-fff:hover, .text-FCD804 {
    color: #FCD804
}

.bg-FCD804, .bg-fff:hover, .item-service.active {
    background: #FCD804
}

.font-size-14 {
    font-size: 14px
}

.font-size-16 {
    font-size: 16px
}

.font-size-18 {
    font-size: 18px
}

.font-size-24 {
    font-size: 24px
}

.font-size-96 {
    font-size: 96px
}

.top-header {
    background-color: #fdd800
}

.top-header a {
    color: #000
}

.top-header .dropdown-menu {
    background-color: #303030
}

.top-header .btn:focus, .top-header .btn.focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

.top-header .dropdown-item {
    border-radius: 0 !important
}

.top-header .dropdown-item.active, .top-header .dropdown-item:active {
    background-color: #fcd804
}

.top-header .dropdown-item:hover, .top-header .dropdown-item:focus {
    color: #fff;
    background-color: #fcd804
}

.top-header .border-left {
    border-left-color: #000 !important
}

.w-20 {
    width: 20% !important
}

.w-80 {
    width: 80% !important
}

.wp-header {
    background-color: #222222
}

.hotline-top {
    color: #453F3F
}

.hotline-top li:first-child {

}

.hotline-top li:first-child .button_dangky {
    background: #fdd800
}

.hotline-top li a {
    color: #453F3F
}

.hotline-top li a:hover {
    opacity: 0.9
}

.wp-slide {
    top: 0;
    left: 0
}

.top-slide {
    height: 28px;
    background-color: #E5E5E5;
    position: relative;
    z-index: 1
}

.item-slide {
    background-color: var(--white);
    color: var(--dark);
    -webkit-box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.25)
}

.item-slide {
    width: 98%;
    margin-left: 1%
}

.item-slide:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 28px;
    right: -2px;
    top: -19px;
    background: rgba(0, 0, 0, 0.03);
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg)
}

.item-slide:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 28px;
    left: 0;
    top: -28px;
    background: #E5E5E5
}

.item-slide .line {
    width: 60px;
    height: 8px;
    background: #F7F7F7;
    border-radius: 10px;
    margin: auto
}

.box-slide:hover .top-slide, .box-slide.active .top-slide, .box-slide:hover .item-slide:after, .box-slide.active .item-slide:after, .box-slide:hover .item-slide .line, .box-slide.active .item-slide .line {
    background: #FDBF00
}

.box-slide:hover .item-slide:before, .box-slide.active .item-slide:before {
    background: rgba(0, 0, 0, 0.15)
}

.box-slide:hover .item-slide, .box-slide.active .item-slide {
    background: #FCD804
}

.search button:hover {
    opacity: 0.8
}

.main-navigation {
    display: block;
    width: 100%;
    -webkit-transition: 0.5s all ease-in-out 0.5s;
    transition: 0.5s all ease-in-out 0.5s
}

.main-navigation ul {
    margin: 0;
    padding-left: 0;
    list-style: none
}

.main-navigation .menu {
    display: none
}

.main-navigation li {
    position: relative;
    text-align: left
}

@media (min-width: 768px) and (max-width: 1024px) {
    .main-navigation li {
        margin-right: 10px
    }

    .lag li:first-child {
        margin-right: 0.5rem !important
    }

    .lag li {
        font-size: 15px
    }
}

@media screen and (min-width: 1025px) {
    .main-navigation li {
        margin-right: 40px
    }
}

.main-navigation a {
    display: block;
    text-decoration: none
}

.main-navigation:not(.vertical-menu) .menu:not(.tm-mega-menu) li:hover > ul, .main-navigation:not(.vertical-menu) .menu:not(.tm-mega-menu) li.menu-hover > ul {
    opacity: 1;
    z-index: 3;
    top: 100%;
    visibility: visible
}

.main-navigation:not(.vertical-menu) .menu:not(.tm-mega-menu) li li:hover > ul, .main-navigation:not(.vertical-menu) .menu:not(.tm-mega-menu) li li.menu-hover > ul {
    left: calc(100% + 1px)
}

.main-navigation:not(.vertical-menu) .menu:not(.tm-mega-menu) li li:hover > ul.inverse-side, .main-navigation:not(.vertical-menu) .menu:not(.tm-mega-menu) li li.menu-hover > ul.inverse-side {
    left: auto;
    right: calc(100% + 1px)
}

.main-navigation:not(.vertical-menu) .menu:not(.tm-mega-menu) li li > ul {
    top: 0px !important
}

.main-navigation:not(.vertical-menu) .menu:not(.tm-mega-menu) li li > ul.sub-menu-bottom {
    top: auto;
    bottom: 0
}

.main-navigation:not(.vertical-menu) .menu:not(.tm-mega-menu) li li > ul.in-transition {
    left: calc(100% + 1px)
}

.main-navigation:not(.vertical-menu) .menu:not(.tm-mega-menu) li li > ul.inverse-side.in-transition {
    left: auto;
    right: calc(100% + 1px)
}

.main-navigation:not(.vertical-menu) .menu:not(.tm-mega-menu) > li[hidden] {
    display: none
}

.main-navigation:not(.vertical-menu) .menu:not(.tm-mega-menu) > li:hover > ul, .main-navigation:not(.vertical-menu) .menu:not(.tm-mega-menu) > li.menu-hover > ul {
    left: 0px
}

.main-navigation:not(.vertical-menu) .menu:not(.tm-mega-menu) > li:hover > ul.inverse-side, .main-navigation:not(.vertical-menu) .menu:not(.tm-mega-menu) > li.menu-hover > ul.inverse-side {
    left: auto;
    right: -10px
}

.main-navigation:not(.vertical-menu) .menu:not(.tm-mega-menu) > li > ul {
    top: 100%
}

.main-navigation:not(.vertical-menu) .menu:not(.tm-mega-menu) > li > ul.in-transition {
    left: 0px
}

.main-navigation:not(.vertical-menu) .menu:not(.tm-mega-menu) > li > ul.in-transition.inverse-side {
    left: auto;
    right: -10px
}

.main-navigation:not(.vertical-menu) .menu:not(.tm-mega-menu) .sub-menu {
    display: block;
    opacity: 0;
    position: absolute;
    left: 0px;
    width: 279px;
    padding: 5px 0 0 0;
    background-color: #2F302F;
    -webkit-box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.1);
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    top: 150%;
    margin-top: 6px
}

.main-navigation:not(.vertical-menu) .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative
}

.main-navigation:not(.vertical-menu) .menu > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    border-bottom: solid 6px #222222
}

.main-navigation:not(.vertical-menu) .menu .sub-menu {
    margin: 0;
    -webkit-box-shadow: 0 2px 12px rgba(136, 136, 136, 0.26);
    box-shadow: 0 2px 12px rgba(136, 136, 136, 0.26)
}

.main-navigation:not(.vertical-menu) .menu > li[hidden] {
    display: none
}

.main-navigation a {
    padding: 20px 0px 20px 0;
    font-size: 17px
}

.main-navigation .menu > li.menu-item-has-children:not(.super-guacamole__menu-with-icon) > a {
    padding-right: 5px
}

.main-navigation .menu > li.menu-item-has-children:not(.super-guacamole__menu-with-icon) > a::after {
    content: "\e904";
    right: 0;
    color: var(--white);
    font-size: 8px;
    top: 32%;
    font-family: 'ntl-icon' !important;
    margin-left: 6px
}

.main-navigation .sub-menu {
    padding: 0px 0
}

.main-navigation .sub-menu > li {
    margin: 0;
    padding: 0
}

.main-navigation .sub-menu > li a {
    padding: 0 10px 10px 10px;
    margin-bottom: 5px;
    line-height: 22px;
    font-size: 16px;
    border-bottom: 1px solid #FCD804
}

.main-navigation .sub-menu > li:last-child a {
    border-bottom: none;
    margin-bottom: 0
}

#site-navigation.main-navigation.vertical-menu {
    background-color: #000000
}

#site-navigation.main-navigation.vertical-menu ul.menu li a {
    font-style: normal;
    font-size: 12px;
    line-height: 2
}

#site-navigation.main-navigation.vertical-menu .menu > li > a, #site-navigation.main-navigation.vertical-menu ul ul a, .main-navigation-buttons .navigation-button, .invert .main-navigation > .menu > li > a, .main-navigation ul ul a, .site-header .invert .contact-block__label {
    color: var(--white)
}

#site-navigation.main-navigation.vertical-menu .menu > li > a:hover, #site-navigation.main-navigation.vertical-menu ul ul a:hover, #site-navigation.main-navigation.vertical-menu ul li.current-menu-item > a, .main-navigation-buttons .navigation-button:hover, .invert .main-navigation > .menu > li > a:hover {
    color: var(--white)
}

.main-navigation .menu > li > a, .invert .main-navigation.vertical-menu .menu > li > a, .invert .main-navigation .menu.isStuck > li > a {
    color: var(--white)
}

.main-navigation .menu > li:hover, .main-navigation .menu > li.active > a, .main-navigation .menu > li > a:hover {
    color: var(--white)
}

.main-navigation .sub-menu > li:hover > a, .main-navigation .sub-menu > li.menu-hover > a, .main-navigation .sub-menu > li.current_page_item > a, .main-navigation .sub-menu > li.current_page_ancestor > a, .main-navigation .sub-menu > li.current-menu-item > a, .main-navigation .sub-menu > li.current-menu-ancestor > a, .main-navigation .sub-menu > li .sub-cat a:hover {
    color: var(--white)
}

.main-navigation .menu > li:hover {
    border-bottom: solid 6px #FCD804
}

.main-navigation:not(.vertical-menu) .menu:not(.tm-mega-menu) > li:hover {
    border-bottom: solid 6px #FCD804
}

.mobile-nav {
    padding: 0 13px
}

.mobile-nav li {
    margin-bottom: 0
}

.mobile-nav ul.super {
    list-style: none
}

.mobile-nav h3, .mobile-nav .h3 {
    padding-left: 15px;
    font-size: 14px;
    margin-bottom: 0;
    text-transform: unset
}

.mobile-nav__search {
    padding: 15px
}

.mobile-nav__search .search-bar {
    margin-bottom: 0
}

.mobile-nav__item {
    position: relative;
    display: block
}

.mobile-nav__item ul li:after {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    width: 100%
}

.mobile-nav__item ul a {
    padding: 10px 0px
}

.mobile-nav > .mobile-nav__item {
    background-color: #fff
}

.mobile-nav > .mobile-nav__item:last-child:after {
    display: none
}

.mobile-nav__item a {
    display: block
}

.mobile-nav__item a, .mobile-nav__toggle button {
    color: #333;
    padding: 10px;
    text-decoration: none
}

.mobile-nav__toggle button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 10px
}

.mobile-nav__item a:hover, .mobile-nav__item a:active, .mobile-nav__item a:focus, .mobile-nav__toggle button:hover, .mobile-nav__toggle button:active, .mobile-nav__toggle button:focus {
    color: #0d0d0d
}

.mobile-nav__item a:active, .mobile-nav__item a:focus, .mobile-nav__toggle button:active, .mobile-nav__toggle button:focus {
    background-color: #f2f2f2
}

.mobile-nav__has-sublist {
    display: table;
    width: 100%;
    border-bottom: 1px solid #FCD804
}

.mobile-nav__has-sublist .mobile-nav__link {
    display: table-cell;
    vertical-align: middle;
    width: 100%
}

.mobile-nav__border {
    border-bottom: 1px solid #FCD804
}

.mobile-nav__toggle {
    display: table-cell;
    vertical-align: middle;
    width: 1%
}

.mobile-nav--expanded .mobile-nav__toggle-open {
    display: none
}

.mobile-nav__toggle-close {
    display: none
}

.mobile-nav--expanded .mobile-nav__toggle-close {
    display: block
}

.mobile-nav__sublist {
    margin: 0;
    max-height: 0;
    visibility: hidden;
    overflow: hidden;
    -webkit-transition: all 300ms cubic-bezier(0.57, 0.06, 0.05, 0.95);
    transition: all 300ms cubic-bezier(0.57, 0.06, 0.05, 0.95);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.mobile-nav__sublist img {
    margin-bottom: 15px
}

.mobile-nav--expanded + .mobile-nav__sublist {
    visibility: visible;
    max-height: inherit;
    -webkit-transition: all 700ms cubic-bezier(0.57, 0.06, 0.05, 0.95);
    transition: all 700ms cubic-bezier(0.57, 0.06, 0.05, 0.95)
}

.mobile-nav__sublist .mobile-nav__item:after {
    top: 0;
    bottom: auto
}

.mobile-nav__sublist .mobile-nav__link {
    padding: 6px 10px
}

.ntl-menu {
    font-size: 18px;
    padding: 5px 5px;
    background-color: transparent
}

.mobile-nav {
    padding: 0 13px
}

.mobile-nav li {
    margin-bottom: 0
}

.mobile-nav ul.super {
    list-style: none
}

.mobile-nav h3, .mobile-nav .h3 {
    padding-left: 15px;
    font-size: 14px;
    margin-bottom: 0;
    text-transform: unset
}

.mobile-nav__search {
    padding: 15px
}

.mobile-nav__search .search-bar {
    margin-bottom: 0
}

.mobile-nav__item {
    position: relative;
    display: block
}

.mobile-nav__item ul li:after {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    width: 100%
}

.mobile-nav__item ul a {
    padding: 10px 0px
}

.mobile-nav > .mobile-nav__item {
    background-color: #fff
}

.mobile-nav > .mobile-nav__item:last-child:after {
    display: none
}

.mobile-nav__item a {
    display: block
}

.mobile-nav__item a, .mobile-nav__toggle button {
    color: #333;
    padding: 10px;
    text-decoration: none
}

.mobile-nav__toggle button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 10px
}

.mobile-nav__item a:hover, .mobile-nav__item a:active, .mobile-nav__item a:focus, .mobile-nav__toggle button:hover, .mobile-nav__toggle button:active, .mobile-nav__toggle button:focus {
    color: #0d0d0d
}

.mobile-nav__item a:active, .mobile-nav__item a:focus, .mobile-nav__toggle button:active, .mobile-nav__toggle button:focus {
    background-color: #f2f2f2
}

.mobile-nav__has-sublist {
    display: table;
    width: 100%;
    border-bottom: 1px solid #FCD804
}

.mobile-nav__has-sublist .mobile-nav__link {
    display: table-cell;
    vertical-align: middle;
    width: 100%
}

.mobile-nav__border {
    border-bottom: 1px solid #FCD804
}

.mobile-nav__toggle {
    display: table-cell;
    vertical-align: middle;
    width: 1%
}

.mobile-nav--expanded .mobile-nav__toggle-open {
    display: none
}

.mobile-nav__toggle-close {
    display: none
}

.mobile-nav--expanded .mobile-nav__toggle-close {
    display: block
}

.mobile-nav__sublist {
    margin: 0;
    max-height: 0;
    visibility: hidden;
    overflow: hidden;
    -webkit-transition: all 300ms cubic-bezier(0.57, 0.06, 0.05, 0.95);
    transition: all 300ms cubic-bezier(0.57, 0.06, 0.05, 0.95);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.mobile-nav__sublist img {
    margin-bottom: 15px
}

.mobile-nav--expanded + .mobile-nav__sublist {
    visibility: visible;
    max-height: inherit;
    -webkit-transition: all 700ms cubic-bezier(0.57, 0.06, 0.05, 0.95);
    transition: all 700ms cubic-bezier(0.57, 0.06, 0.05, 0.95)
}

.mobile-nav__sublist .mobile-nav__item:after {
    top: 0;
    bottom: auto
}

.mobile-nav__sublist .mobile-nav__link {
    padding: 6px 10px;
    font-family: 'SanFrancisco'
}

.ntl-menu {
    font-size: 18px;
    padding: 5px 5px;
    background-color: transparent
}

.visually-hidden, .ntl-fallback-text .fallback-text {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0
}

.js-drawer-open {
    overflow: hidden;
    height: 100%
}

.js-drawer-open #PageContainer:before {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    bottom: 0;
    content: "" !important;
    display: inline-block !important;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99999
}

.drawer {
    -webkit-transform: translateZ(0);
    will-change: transform;
    display: none;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    top: 0;
    bottom: 0;
    padding: 0 0 15px;
    max-width: 95%;
    z-index: 10;
    color: #2F302F;
    background-color: #fff;
    -webkit-transition: all 0.4s cubic-bezier(0.46, 0.01, 0.32, 1);
    transition: all 0.4s cubic-bezier(0.46, 0.01, 0.32, 1)
}

.drawer a {
    color: #2F302F;
    font-size: 16px;
    padding-left: 0;
    padding-right: 0;
    font-family: 'SanFrancisco'
}

.drawer a:hover, .drawer a:focus {
    opacity: 0.7
}

.drawer--left {
    width: 300px;
    left: -300px
}

.js-drawer-open-left .drawer--left {
    display: block;
    -webkit-transform: translateX(300px);
    transform: translateX(300px)
}

.lt-ie9 .js-drawer-open-left .drawer--left {
    left: 0
}

.drawer--right {
    width: 300px;
    right: -300px;
    border-left: 1px solid #f2f2f2
}

.js-drawer-open-right .drawer--right {
    display: block;
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px)
}

.lt-ie9 .js-drawer-open-right .drawer--right {
    right: 0
}

#PageContainer {
    overflow: hidden
}

.drawer--is-loading:before {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    bottom: 0;
    content: "" !important;
    display: inline-block !important;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99999
}

.is-moved-by-drawer {
    -webkit-transition: all 0.4s cubic-bezier(0.46, 0.01, 0.32, 1);
    transition: all 0.4s cubic-bezier(0.46, 0.01, 0.32, 1)
}

.js-drawer-open-left .is-moved-by-drawer {
    -webkit-transform: translateX(300px);
    transform: translateX(300px)
}

.js-drawer-open-right .is-moved-by-drawer {
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px)
}

.drawer__header {
    display: table;
    height: 45px;
    width: 100%;
    padding: 0 15px
}

.drawer__title, .drawer__close {
    display: table-cell;
    vertical-align: middle
}

.drawer__title {
    width: 100%
}

.drawer__title img {
    max-height: 45px
}

.drawer__close {
    width: 1%;
    text-align: center;
    font-size: 1.28571em
}

.drawer__close button {
    position: relative;
    right: -20px;
    height: 100%;
    padding: 0 20px;
    color: var(--dark)
}

.drawer__close button:active, .drawer__close button:focus {
    background-color: #f2f2f2
}

.ntl-fallback-text .icon {
    display: inline-block
}

.lag-mb a {
    display: inline-block;
    line-height: 20px;
    position: relative;
    padding: 0
}

.lag-mb a:first-child:after {
    content: '';
    border: 1px solid #feeb7d;
    position: absolute;
    right: -2px;
    top: 3.5px;
    height: 16px
}

@media screen and (min-width: 240px) {
    .logo {
        max-height: 24px
    }

    .font-size-60 {
        font-size: 36px
    }

    .font-size-80 {
        font-size: 50px
    }

    .search .form-control {
        height: calc(2.5rem + 2px)
    }

    .search button {
        height: 42px
    }

    .tukhoa {
        border: 1px solid #E5E5E5 !important
    }

    .text-slide {
        font-size: 18px
    }
}

@media screen and (min-width: 736px) {
    .logo {
        max-height: none
    }

    .search .form-control {
        height: calc(3rem + 2px)
    }

    .search button {
        height: 50px
    }
}

@media screen and (min-width: 768px) {
    .text-slide {
        font-size: 24px
    }

    .wp-slide {
        position: absolute;
        height: 100%;
        margin-top: 0;
        background: none;
        padding-top: 0
    }
}

@media screen and (min-width: 1024px) {
    .wp-slide {
        position: absolute;
        height: 100%;
        margin-top: 0
    }
}

@media (min-width: 1024px) and (max-width: 1026px) {
    .item-slide {
        padding-top: 1.5rem !important;
        padding-bottom: 1rem !important
    }

    .search .form-control {
        height: calc(2rem + 2px)
    }

    .search button {
        height: 34px
    }
}

@media (max-width: 414px) {
    .col-6 {
        -ms-flex: 0 0 100%;
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        max-width: 100%
    }
}

#tra_cuoc .dropdown-toggle::after {
    content: "";
    border-top: 0.4em solid #000;
    border-right: 0.2em solid transparent;
    border-bottom: 0;
    border-left: 0.2em solid transparent;
    position: absolute;
    right: 0.5rem;
    top: calc(100% - 15px)
}

.col-lg2 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

.col-lg2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%
}

@media (min-width: 240px) {
    .col-lg2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
}

@media (min-width: 720px) {
    .col-lg2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .col-lg2:last-child {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
}

@media (min-width: 1025px) {
    .col-lg2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%
    }

    .col-lg2:last-child {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%
    }
}

.summary_bottom {
    font-style: normal;
    font-weight: normal;
    font-size: 16px !important;
    line-height: 22px;
    text-align: justify
}

.wp-service .icon-Thin-Arrow-3 {
    font-size: 31px
}

.left-about, .wp-about:before {
    background-color: #2F302F
}

.item-about .title-h5 {
    font-size: 16px;
    line-height: 22px
}

.wp-about {
    background: url(../images/bg-about.png) no-repeat right center;
    background-size: cover
}

.right-about ul li {
    display: block;
    margin-bottom: 15px
}

.right-about ul li span.icon {
    font-size: 45px
}

.count-tk .counter-number {
    font-weight: normal
}

.text-kh h2:before, .text-kh h2:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    right: 0px
}

.text-kh h2:before {
    width: 100%;
    margin: auto;
    border-top: 1px solid #C7C7C7
}

.text-kh h2:after {
    width: 25%;
    height: 9px;
    background: #FCD804;
    margin: auto;
    top: -4.5px
}

.hotline a {
    color: #2F302F
}

.carousel-item-ykien {
    -webkit-transition: all 250ms linear;
    -moz-transition: all 250ms linear;
    -ms-transition: all 250ms linear;
    -o-transition: all 250ms linear;
    cursor: pointer;
    margin-top: 170px !important;
    letter-spacing: -0.02em
}

.carousel-item-ykien img {
    margin-top: -40%;
    border-radius: 50%;
    border: solid 16px #fff;
    -webkit-transition: all 250ms linear;
    -moz-transition: all 250ms linear;
    -ms-transition: all 250ms linear;
    -o-transition: all 250ms linear;
    max-width: 80% !important
}

.carousel-item-ykien:hover img {
    -webkit-box-shadow: 1px 1px 15px 1px #fcd804;
    box-shadow: 1px 1px 15px 1px #fcd804
}

.carousel-item-ykien p {
    margin-bottom: 5px
}

.wp-partner {
    background: #2F302F
}

.box-cp-l, .box-cp-r {
    padding-left: 15px;
    padding-right: 15px
}

.box-cp {
    color: #464655;
    font-size: 16px
}

.entry-cp {
    letter-spacing: -0.02em
}

.box-cp i {
    font-size: 10px
}

.form-service .border-cam {
    border-color: #FCD804
}

.form-service .form-control {
    height: 35px !important
}

.dactinh {
    margin-left: -0.5%;
    margin-right: -0.5%
}

.dactinh li {
    font-size: 12px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    padding-left: 1px;
    padding-right: 1px;
    cursor: pointer
}

.dactinh li:hover {
    border-color: #FCD804 !important
}

.dactinh li .icon {
    font-size: 1.6rem;
    height: 40px;
    line-height: 40px
}

.dactinh li .icon-Coat-and-lipstick {
    font-size: 2.8rem
}

.item-service:hover {
    color: #2e3553
}

.sendnowbox {
    padding-top: 40px
}

.sendnow {
    width: 189px;
    height: 38px;
    background: #FFFFFF;
    border-radius: 4px;
    border: 0px;
    margin: 0 auto;
    color: #000;
    line-height: 34px
}

.icon-Arrow-4 {
    font-size: 12px;
    padding-left: 20px
}

@media screen and (min-width: 240px) {
    .hotline a {
        color: #2F302F
    }

    .font-size-60 {
        font-size: 36px
    }

    .font-size-80 {
        font-size: 50px
    }

    .search .form-control {
        height: calc(2.5rem + 2px)
    }

    .search button {
        height: 42px
    }

    .tukhoa {
        border: 1px solid #E5E5E5 !important
    }

    .item-service {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        font-size: 16px
    }

    .item-service p {
        font-size: 76px;
        min-height: 50px
    }

    .item-service + .item-service {
        border-top: 1px solid #C7C7C7
    }

    .item-service:last-child {
        border-bottom: 1px solid #C7C7C7
    }

    .title-about, .coutdown {
        font-size: 18px
    }

    .right-about ul li {
        font-size: 14px
    }

    .coutdown .icon > span {
        font-size: 72px
    }

    .count-tk .counter-number {
        font-size: 48px;
        line-height: 56px
    }

    .entry-cp {
        font-size: 18px;
        line-height: 25px
    }

    .position-submit {
        position: absolute;
        left: 15px;
        bottom: 0;
        text-align: center
    }

    .dactinh li {
        -ms-flex: 0 0 32.333%;
        -webkit-box-flex: 0;
        flex: 0 0 32.333%;
        max-width: 32.333%
    }

    .wp-slide {
        padding-top: 37px
    }

    .text-dark-min {
        color: var(--white);
        font-size: 12px
    }

    .item-service:last-child {
        border-bottom: 1px solid #C7C7C7
    }
}

@media screen and (min-width: 480px) {
    .hotline a {
        color: #2F302F
    }

    .wp-service > .container {
        padding-left: 15px !important;
        padding-right: 15px !important
    }

    .item-service {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        font-size: 14px
    }

    .item-service + .item-service {
        border-top: 0
    }

    .item-service:last-child {
        border-bottom: 0
    }
}

@media screen and (min-width: 736px) {
    .item-service {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%
    }

    .dactinh li {
        -ms-flex: 0 0 19%;
        -webkit-box-flex: 0;
        flex: 0 0 19%;
        max-width: 19%
    }
}

@media screen and (min-width: 768px) {
    .font-size-60 {
        font-size: 60px
    }

    .font-size-80 {
        font-size: 80px
    }

    .item-service p {
        font-size: 44px
    }

    .text-service {
        font-size: 24px
    }

    .item-service + .item-service:before {
        position: absolute;
        height: 70%;
        left: 0;
        top: 15%;
        border-left: 1px solid #C7C7C7;
        content: ''
    }

    .item-service:hover {
        color: #2e3553
    }

    .item-service:hover:before {
        border-left-color: #FCD804
    }

    .item-service.active:before, .item-service:hover:before {
        position: absolute;
        height: 100%;
        left: auto;
        right: -1px;
        top: 0;
        border-right: 1px solid #FCD804;
        content: '';
        z-index: 1
    }

    .left-about .summary {
        font-size: 16px;
        letter-spacing: -0.02em;
        padding-right: 1.3rem
    }

    .pr-md-08 {
        padding-right: 4rem
    }

    .pr-md-08 {
        padding-right: 0.8rem
    }

    p.text-service {
        margin-bottom: 0.5rem
    }

    .title-about, .coutdown {
        font-size: 24px
    }

    .right-about ul li {
        font-size: 18px
    }

    .coutdown .icon > span {
        font-size: 66px
    }

    .count-tk .counter-number {
        font-size: 48px;
        line-height: 84px
    }

    .entry-cp {
        font-size: 30px;
        line-height: 50px
    }

    .position-submit {
        position: static
    }

    .summary_bottom {
        height: 273px;
        overflow: hidden
    }

    .wp-slide {
        position: absolute;
        height: 100%;
        margin-top: 0;
        background: none;
        padding-top: 0
    }
}

@media screen and (min-width: 1024px) {
    .hotline a {
        color: #FFF
    }

    .wp-about:before {
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        content: ''
    }

    .box-cp-l {
        -ms-flex: 0 0 40%;
        -webkit-box-flex: 0;
        flex: 0 0 40%;
        max-width: 40%
    }

    .box-cp-r {
        -ms-flex: 0 0 60%;
        -webkit-box-flex: 0;
        flex: 0 0 60%;
        max-width: 60%
    }

    .dactinh li {
        -ms-flex: 0 0 24%;
        -webkit-box-flex: 0;
        flex: 0 0 24%;
        max-width: 24%
    }
}

@media (min-width: 1024px) and (max-width: 1026px) {
    .hotline a {
        color: #FFF
    }

    .font-size-80 {
        font-size: 60px
    }

    .font-size-60 {
        font-size: 40px
    }
}

@media (max-width: 736px) {
    .hotline a {
        color: #2F302F
    }

    .box-cp-r > .border {
        border: 0 !important
    }
}

@media (max-width: 575px) {
    .box-slide {
        padding: 0 !important;
        line-height: 1.2
    }

    .box-slide:first-child {
        margin-left: 0.5rem !important;
        margin-right: -0.5rem !important;
        margin-top: 1rem !important
    }

    .box-slide:nth-child(2) {
        z-index: 2
    }

    .box-slide:nth-child(2) .item-slide {
        padding-bottom: 0.57rem !important
    }

    .box-slide:last-child {
        margin-left: -0.5rem !important;
        margin-top: 1rem !important
    }

    .item-slide:before {
        top: -22px
    }

    .box-slide:first-child p, .box-slide:last-child p {
        padding-left: 0.5rem;
        padding-right: 0.5rem
    }

    .box-slide:first-child p {
        line-height: 1.2
    }

    .box-slide .line {
        display: none !important
    }

    .right-about ul li {
        margin-top: 10px
    }

    .right-about ul li + li {
        margin-bottom: 25px
    }

    .text-kh h2 {
        font-size: 18px
    }
}

@media (max-width: 414px) {
    .col-6 {
        -ms-flex: 0 0 100%;
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        max-width: 100%
    }

    .box-slide:nth-child(2) .item-slide {
        padding-bottom: 0.25rem !important
    }

    .box-slide:last-child a {
        padding-top: 0.5rem !important
    }

    .box-slide:first-child a {
        padding-top: 0.5rem !important;
        padding-bottom: 1.2rem !important
    }

    .box-slide:last-child p {
        margin-top: 0 !important
    }

    .wp-service .container-service {
        padding: 0
    }

    .font-size-Thin-Arrow-3 {
        font-size: 31px
    }
}

.wp-partner {
    background: #F6F6F6
}

.partners {
    height: 106px
}

#partners-logo {
    padding: 0 50px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.slick-slide {
    margin: 0 20px
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0
}

.slick-list:focus {
    outline: none
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand
}

.slick-slider .slick-track, .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.slick-track:before, .slick-track:after {
    display: table;
    content: ''
}

.slick-track:after {
    clear: both
}

.slick-loading .slick-track {
    visibility: hidden
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px
}

[dir='rtl'] .slick-slide {
    float: right
}

.slick-slide img {
    display: block;
    max-width: 100%
}

.slick-slide.slick-loading img {
    display: none
}

.slick-slide.dragging img {
    pointer-events: none
}

.slick-initialized .slick-slide {
    display: block;
    -ms-flex-item-align: center;
    align-self: center
}

.slick-loading .slick-slide {
    visibility: hidden
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}

.slick-arrow.slick-hidden {
    display: none
}

.slick-prev, .slick-next {
    font-family: 'ntl-icon';
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    z-index: 1;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent
}

.slick-next {
    right: 15px
}

.slick-next:before {
    content: "\e907"
}

.slick-prev {
    left: 15px
}

.slick-prev:before {
    content: "\e905"
}

.slick-prev:before, .slick-next:before {
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #2F302F;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.wp-hotline-footer {

    background-size: cover
}

.wp-hotline-footer .content-ft a {
    background: #FCD804;
    -webkit-box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.1);
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.1)
}

.wp-hotline-footer a.hotline {
    color: var(--white)
}

.wp-hotline-footer a .icon {
    font-size: 40px
}

.wp-hotline-footer .content-ft a:hover {
    color: #2e3553;
    opacity: 0.8
}

footer {
    width: 100%;
    clear: both
}

footer .col-md-4 {
    margin-top: 15px
}

.contact-footer img {
    max-width: 100% !important
}

.ul-footer a {
    display: block;
    color: var(--dark);
    font-size: 14px;
    line-height: 40px;
    letter-spacing: -0.02em
}

.ul-footer a:hover {
    color: #fcd804
}

.sharefooter a {
    display: inline-block;
    vertical-align: middle;
    margin-right: 18px
}

.sharefooter a > span {
    font-size: 33px
}

.sharefooter a > span:hover {
    opacity: 0.5
}

.register-email input[type="email"] {
    border: 1px solid #FCD804;
    height: 44px;
    padding-right: 44px;
    font-size: 14px
}

.register-email button {
    width: 44px;
    height: 100%;
    line-height: 44px;
    text-align: center;
    right: 0;
    top: 0
}

.register-email button:hover .icon-Send:before {
    color: #FCD804
}

.panel-group .panel {
    display: inline-block;
    vertical-align: top
}

.menu-bot .panel-heading a:before {
    font-family: 'ntl-icon' !important;
    float: right;
    font-size: 14px;
    font-weight: bold;
    color: #fcd804;
    content: "\e9df"
}

.menu-bot .panel-heading a.collapsed:before {
    content: "\e904";
    color: #000
}

.font-IntelBold {
    font-weight: bold
}

@media (min-width: 1024px) and (max-width: 1030px) {
    .menu-bot .panel-group .panel {
        display: table-cell;
        padding: 0 25px
    }
}

@media screen and (min-width: 240px) {
    .menu-bot .panel-group .panel {
        width: 100%;
        border-bottom: solid 1px #000
    }

    .menu-bot .panel-group .panel:last-child {
        border-bottom: 0;
        padding-bottom: 15px
    }

    .wp-hotline-footer a.hotline {
        font-size: 20px
    }

    .text-nn {
        font-size: 14px
    }

    .contact-footer .img-fulid {
        max-width: 50% !important
    }
}

@media screen and (min-width: 320px) {
    .wp-hotline-footer a.hotline {
        font-size: 24px
    }

    .text-nn {
        font-size: 1.125rem
    }
}

@media screen and (min-width: 769px) {
    .wp-hotline-footer a.hotline {
        font-size: 48px
    }

    .text-nn {
        font-size: 18px
    }

    .contact-footer .img-fulid {
        max-width: 50% !important
    }
}

@media screen and (min-width: 1024px) {
    .menu-bot .panel-group .panel {
        border-bottom: 0
    }

    .panel-default > .panel-heading a:after {
        content: '';
        width: 89px;
        height: 5px;
        background: #FCD804;
        position: absolute;
        left: 0;
        bottom: 0
    }

    .menu-bot .panel-group {
        text-align: center;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .menu-bot .panel-group .panel {
        text-align: left;
        -ms-flex: 0 0 16%;
        -webkit-box-flex: 0;
        flex: 0 0 16%;
        max-width: 16%;
        padding-left: 15px;
        padding-right: 15px
    }

    .menu-bot .panel-group .panel:first-child {
        -ms-flex: 0 0 30%;
        -webkit-box-flex: 0;
        flex: 0 0 30%;
        max-width: 30%
    }

    .menu-bot .panel-group .panel:nth-child(2) {
        -ms-flex: 0 0 14%;
        -webkit-box-flex: 0;
        flex: 0 0 14%;
        max-width: 14%
    }

    .menu-bot .panel-group .panel:nth-child(3) {
        -ms-flex: 0 0 15%;
        -webkit-box-flex: 0;
        flex: 0 0 15%;
        max-width: 15%
    }

    .menu-bot .panel-group .panel:last-child {
        -ms-flex: 0 0 25%;
        -webkit-box-flex: 0;
        flex: 0 0 25%;
        max-width: 25%
    }

    #footer .collapse {
        display: block !important
    }

    .menu-bot .panel-heading a:before {
        display: none
    }
}

@media (min-width: 1024px) and (max-width: 1026px) {
    .font-size-80 {
        font-size: 60px
    }

    .font-size-60 {
        font-size: 40px
    }
}
