@charset "UTF-8";
span.mouse-color {
  color: #E66D00;
}

@media (max-width: 767px) {
  .hide-mt-sm {
    margin-top: 15px !important;
  }
}
.wp-testimonial .testimonials #testimonials-review .slide .slide__item {
  width: 100%;
  padding: 20px;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.wp-testimonial .testimonials #testimonials-review .slide .slide__item::after {
  content: "";
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
  background: white;
  transform: rotate(45deg) translate(-100%);
  top: 100%;
}

.wp-testimonial .testimonials #testimonials-review .slide .slide__item p {
  color: #000 !important;
  font-size: 14px;
  padding-left: 33px;
}

.wp-testimonial .testimonials #testimonials-review .slide .slide__item::before {
  color: #ea8326;
  content: "";
  font-family: fontawesome;
  font-size: 30px;
  left: 20px;
  position: absolute;
  top: 7px;
}

.wp-testimonial .testimonials #testimonials-review .slide .content {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.wp-testimonial .testimonials #testimonials-review .slide .content .content-title h2.content-color {
  text-align: right;
  padding-right: 20px;
  font-size: 17px;
  color: #E66D00 !important;
  text-transform: uppercase;
}
.wp-testimonial .testimonials #testimonials-review .slide .content .content-title p.content-desc {
  height: 40px;
  text-align: right;
  padding-right: 20px;
  color: gray !important;
  font-size: 15px;
  margin: 14px 0 0 0 !important;
}
.wp-testimonial .testimonials #testimonials-review .slide .content .content-avatar {
  width: 80px;
  height: 80px;
}
.wp-testimonial .testimonials #testimonials-review .slide .content .content-avatar img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.wp-testimonial {
  background: #F6F6F6;
  padding: 5% 0;
}
.wp-testimonial .slick-prev, .wp-testimonial .slick-next {
  display: none !important;
}
.wp-testimonial p.text-center {
  margin-bottom: 10%;
}
.wp-testimonial h2 {
  font-weight: 700;
}

.slick-initialized .slick-slide:focus {
  outline: none;
}

/* ========================== 2,News ============================*/
.news {
  padding: 5% 0 10% 0%;
}
@media (max-width: 767px) {
  .news {
    padding: 5% 0 25% 0%;
  }
}
.news__title {
  text-align: center;
}
.news__item {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  margin-top: 10%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .news__item {
    margin-top: 31%;
  }
}
@media (max-width: 767px) {
  .news__item {
    margin-top: 31%;
  }
}
.news__item-text {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: absolute;
  width: 80%;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: white;
}
.news__item img {
  width: 100%;
}
.news__item .text__title {
  font-weight: 700;
}


footer.footer * {
  box-sizing: border-box;
  /*margin: 0;*/
  padding: 0;
  /*font-family: sans-serif;*/
}

footer.footer {
  position: relative;
  background: #fafafa;
  padding: 20px 0 0;
}

footer.footer .row {
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
}

footer.footer .footer-wrap {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

footer.footer .footer-item {
  max-width: calc(100% / 5);
  flex: 0 0 calc(100% / 5);
  padding: 0 15px;
  margin-bottom: 30px;
}

footer.footer .footer-item.span-2 {
  max-width: 40%;
  flex: 0 0 40%;
}

footer.footer .footer-item h4 {
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 1.3;
  text-transform: uppercase;
}

footer.footer .footer-item a.button {
  max-width: 200px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: 5px;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  background: #ffb218;
}

footer.footer .footer-item form {
  display: flex;
  border-radius: 5px;
  border: 1px solid #a6a6a6;
  background: #fff;
}

footer.footer .footer-item input {
  outline: none;
  border: none;
  background: transparent;
  padding: 10px;
  font-size: 14px;
  flex: 1;
}

footer.footer .footer-item button {
  cursor: pointer;
  background: #a6a6a6;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 0 10px;
  transition: 0.3s ease;
}

footer.footer .footer-item button:hover {
  background: #ffb218;
}

footer.footer .footer-item a.button:hover {
  color: #fff;
}

footer.footer .footer-item .line {
  margin: 20px 0;
  background: #7d7d7d;
  width: 60px;
  height: 2px;

}

footer.footer .footer-item ul {
  list-style: none;
}

footer.footer .footer-item p,
footer.footer .footer-item a {
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 1.5;
  color: #000;
  text-decoration: none;
  display: block;
  transition: 0.3s ease;
}

footer.footer .page-info {
  margin-bottom: 5px;
}

footer.footer .page-info b,
footer.footer .page-info a,
footer.footer .page-info span {
  font-size: 13px;
  line-height: 1.5;
  text-decoration: none;
  display: inline;

}

footer.footer .page-info img {
  width: 15px;
  height: 15px;
  margin: 0 3px 0 0;
}

footer.footer .social-network {
  display: flex;
  align-items: center;
}

footer.footer .social-network a {
  width: 35px;
  height: 35px;
  color: white;
  margin-right: 10px;
  border-radius: 50%;
  transition: 0.3s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer.footer .social-network .fb{
  background: #3b5998;
}
footer.footer .social-network .yt{
  background: #f61c0d;
}
footer.footer .social-network .ita{
  background: #FCD804;
}
footer.footer .social-network .a:hover i{
  color:white;
}
footer.footer .social-network a img {
  width: 15px;
  height: 15px;
}

footer.footer .footer-bottom {
  background: #a6a6a6;
  padding: 5px 0;
}

footer.footer .footer-bottom .footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

footer.footer .footer-bottom .footer-wrap p {
  font-size: 14px;
  color: #fff;
}

footer.footer .footer-bottom .footer-wrap img {
  width: 100px;
}

@media (max-width: 991px) {
  footer.footer .footer-item {
    max-width: calc(100% / 4);
    flex: 0 0 calc(100% / 4);
  }

  footer.footer .footer-item.span-2.responsive {
    max-width: calc(100% / 4);
    flex: 0 0 calc(100% / 4);
  }

  footer.footer .footer-item.span-2 {
    max-width: 50%;
    flex: 0 0 50%;
  }
}

@media (max-width: 768px) {
  footer.footer .footer-item {
    max-width: calc(100% / 2);
    flex: 0 0 calc(100% / 2);
  }

  footer.footer .footer-item.span-2 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}
@media (max-width: 1024px) {
  footer.footer{
    padding:15px 15px;
  }
}
@media (max-width: 512px) {
  footer.footer .footer-item {
    max-width: 100% !important;
    flex: 0 0 100% !important;
  }
  footer.footer .footer-bottom .footer-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  footer.footer .footer-bottom .footer-wrap img {
    margin-top: 10px;
  }
}

.do-you-know .section-title {
  text-align: center;
  margin-top: 100px;
}
@media (max-width: 991px){
  .do-you-know .section-title {
    margin-top: 50px;
  }
}
.section-title {
  color: #333;
  font-size: 35px;
  font-weight: 200;
  margin: 7px 0 25px 0;
  padding: 0;
}
.do-you-know .section-title em {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  margin: 0 45px 10px;
  line-height: 24px;
}
.do-you-know .section-title span, .do-you-know .section-title strong, .do-you-know .section-title em{
  display: block;
}
.do-you-know .section-title strong {
  font-weight: 400;
}
.do-you-know .btn-100 {
  margin-bottom: 20px;
}
.do-you-know .btn-100 {
  line-height: 40px;
  font-size: 22px;
}
.network .btn-register{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-100 {
  padding-left: 0;
  padding-right: 0;
  width: 70%;
}
@media (max-width: 991px){
  .btn-100{
    width: 100% !important;
  }
}
.btn-primary {
  border-color: #f5c136 !important;
  background-color: #f5c136 !important;
}
.btn-primary:focus{
  border-color: #f5c136 !important;
}

.do-you-know ul li {
  background-repeat: no-repeat;
  line-height: 15px;
  padding: 0 0 0 100px;
  min-height: 90px;
  position: relative;
  width: 100%;
}
@media (max-width: 1023px){
  .do-you-know ul li {
    background-size: 50px auto;
    font-size: 13px;
    line-height: 100%;
    min-height: 10px;
    padding: 0 0 0 70px;
  }
}
@media (max-width: 991px){
  .do-you-know ul li {
    margin: 20px;
    background-size: 50px auto;
    font-size: 13px;
    line-height: 100%;
    min-height: 10px;
    padding: 0 0 0 70px;
  }
}
.do-you-know ul li strong {
  color: #f5c136;
  display: block;
  font-size: 20px;
  font-weight: 500;
  /* margin: 0 0 7px; */
  text-transform: uppercase;
}
@media (max-width: 991px){
  .do-you-know ul li strong {
    font-size: 15px;
  }
}
.do-you-know ul li img {
  position: absolute;
  left: 20px;
  top: 22%;
  height: 35px;
}
.do-you-know ul li i{
  color: #958686;
  display: block;
  font-size: 14px;
  font-style: italic;
}


.partner{
  padding: 50px 0;
}

.ytvideo{
  position: relative;
  background-position: center;
  margin-bottom: 30px;
}

.partner-banner img{
  width: 100%;
  display: block;
  height: auto;
}


.video-btn{
  cursor: pointer;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  transition: all .25s ease 0s;
}

.video-btn .btn{
  display: inline-block;
  height: 50px;
  padding:0!important;
  width: 50px;
  background: #A7A7A3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 3px solid #fff;
}

.video-btn .btn i{
  font-size: 13px;
  color: #fff;
  margin-left: 3px;
}

.slider-home-customers{
  background: #E8E8E5;
  padding: 10px 10px 0;
}

@media (max-width: 768px){
  .slider-home-customers{
    background: #fff;
  }
}

@media (max-width: 525px){
  .slider-home-customers{
    background: #E8E8E5;
  }
}

.partner-feedback{
  pointer-events: none;
  position: relative;
}

.partner-feedback .feedback-inner{
  background-color: #fff;
  border-radius: 10px;
  padding: 0px 15px 10px;
  text-align: center;
  position: relative;
  padding-top: 12px;
}

@media (max-width: 1200px){
  .partner-feedback .feedback-inner{
    padding-bottom: 7px;
    margin: 0;
  }
}

.partner-feedback .feedback-inner .inner-img img{
  width: 150px;
  display: block;
  height: 150px;
  border-radius: 50%;
  margin: auto;
}

.partner-feedback .feedback-inner .inner-icon{
  margin: 15px auto 5px;
  width: 80px;
}

.partner-feedback .feedback-inner .inner-icon img{
  max-width: 100%;
  display: block;
  height: 20px;
  margin: 0 auto;
}

.partner-feedback .feedback-inner .inner-description{
  line-height: 25px;
  font-size: 15px;
  font-weight: 400;
  color: #3d5067;
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
}

.partner-feedback .feedback-inner .inner-name{
  font-weight: 600;
  font-size: 18px;
  color: #3d5067;
  margin: 15px 0;
}

.partner-feedback .feedback-inner small{
  font-size: 13px;
  color: #3d5067;
  font-weight: 400;
  margin-bottom: 10px;
  display: block;
}

.owl-nav .owl-prev{
  left: 10px;
}

.owl-nav .owl-next{
  right: 10px;
}



.owl-nav .owl-prev,
.owl-nav .owl-next{
  bottom: 4px;
  position: absolute;
  color: #616161 !important;
  width: 30px;
  height: 30px;
  background: #fff !important;
  border-radius: 50% !important;
  display: inline-block;
  outline: none;
  text-align: center;
}
.owl-nav .owl-prev span, .owl-nav .owl-next span{
  display: none;
}

.pagination-bottom-carousel .owl-dots {
  text-align: center;
  padding: 13px 0;
}
.pagination-bottom-carousel .owl-dots .owl-dot{
  width: 8px;
  height: 8px;
  margin: 0 4px;
  background: #fff;
  display: inline-block;
  border-radius: 50%;
  border:1px solid #d7d7d7;
  outline: none;
  z-index: -1;
}

.pagination-bottom-carousel .owl-dots .owl-dot span{
  display: none;
}

.pagination-bottom-carousel .owl-dots .owl-dot:hover,
.pagination-bottom-carousel .owl-dots .owl-dot.active{
  background: #d7d7d7;
}
.pagination-bottom-carousel .owl-dots {
  text-align: center;
  padding: 13px 0;
  display: block!important;
}
.pagination-bottom-carousel .owl-nav{
  display: block!important;
}
.pagination-bottom-carousel .owl-nav .owl-prev span, .owl-nav .owl-next span{
  display: block!important;
}
/*# sourceMappingURL=style.css.map */
/* ================ 2, section banner ==============  */
.bg_cont {
  position: relative;
  text-align: center;
}
main, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
.logo{
  position: absolute;
  top: 50px;
  margin: 0 auto;
  /* left: 0;
  right: 0; */

  width: 174px;
  height: 124px;
  display: block;
  top: 0;
  left: 50%;
  z-index: 100;
  transform: translateX(-50%);
  box-shadow: 0 0 9px rgba(0,0,0,0.6);
}
.logo img {
  display: block;
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 991px){
  .logo{
    width: 84px;
    height: 60px;
  }
}
.img_bg_cont {
  display: block;
  width: 100%;
  height: auto;
}
.item__img img {
  display: block;
  width: 100%;
  height: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.img_object_fit {
  object-fit: cover;
}
.t_cont {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 50px;
  background: #ff6c40;
  padding: 0 30px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: inline-block;
  position: relative;
  top: -26px;
  margin: 0 auto;
}
.t_cont::before {
  content: "";
  border-bottom: 26px solid #507095;
  border-left: 7px solid transparent;
  cursor: pointer;
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: -7px;
  z-index: 1;
}
.t_cont::after {
  content: "";
  border-bottom: 26px solid #507095;
  border-right: 7px solid transparent;
  cursor: pointer;
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: -7px;
  z-index: 1;
}
.ul_breacrum {
  max-width: 1130px;
  margin: 0 auto;
}
.ul_breacrum > li {
  display: inline-block;
}
.ul_breacrum > li:hover a{
  color:#f5c136 ;
}
.ul_breacrum > li i{
  opacity: 0.3;
  margin: 0 5px;
  position: relative;
  top: 1px;
}
.ul_breacrum > li > a {
  color: #333;
  text-transform: capitalize;
  opacity: 0.6;
}
/* ================ 3, section blog ==============  */
.f_cont{
  padding: 30px 0 60px 0;
}
.min_wrap {
  width: 80% ;
  margin: auto;
}
@media only screen and (max-width: 1199px){
  .min_wrap{
    width: 94%;
  }
}
.list_news {
  text-align: center;
  padding-bottom: 30px;
}
.list_news > li {
  display: inline-block;
  width: 20%;
}
.border_lb{
  border-bottom-left-radius: 5px 5px;
  border-top-left-radius: 5px 5px;
}
.border_rb{
  border-top-right-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
}
.border_rb a,.border_lb a{
  border-radius: inherit;
}
@media only screen and (max-width: 767px){
  .news-item a{
    border-radius: 5px;
  }
}
@media only screen and (max-width: 767px){
  .list_news > li {
    display: block;
    width: 100%;
    padding: 0.2rem 0;
    margin: 0 1rem;
    width: auto !important;
  }
}
.list_news > li {
  width: 20%;
}
@media only screen and (max-width: 1199px){
  .list_news > li {
    width: 29% ;
    padding: 0.2rem 0;
  }
}
.list_news > li > a {
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  background: #003471;
  padding: 10px 0;
  /* min-width: 180px; */
  text-align: center;
}
.list_news > li.active > a, .list_news > li:hover > a {
  background: #ff6c40;
  text-decoration: none;
}
.clearfix {
  display: block;
}
.cont__list {
  overflow: hidden;
}
.cont__list > li {
  float: left;
  width: 23.5%;
  margin: 0 2% 2% 0;
  background: #fff;
  border-radius: 6px;
  transition: .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@media only screen and (max-width: 1023px){
  .cont__list > li {
    width: 49%;
    margin-right: 0;}
  .cont__list > .grid-item:nth-child(2n) {
    margin-left: 0.4rem;
  }
}
.cont__list > li:hover{
  box-shadow: 0 0 27px rgba(0,0,0,0.09);
}
.cont__list > li:nth-child(4n) {
  margin-right: 0;
}
.nd_news {
  border: 1px solid #eee;
  border-top: 0;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  padding: 14px 19px;
}
.nd_news h3 {
  font-weight: 400;
  color: #333;
  line-height: 1.5;
  word-spacing: 2px;
  overflow: hidden;
  font-size: 13px;
}
@media only screen and (max-width: 767px){
  .nd_news h3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
}
.nd_news ol {
  white-space: nowrap;
  overflow: hidden;
  padding-top: 10px;
}
.nd_news ol li {
  display: inline-block;
  color: #666;
}

svg:not(:root).svg-inline--fa {
  overflow: visible;
}
.svg-inline--fa.fa-w-14 {
  width: .875em;
}
.nd_news ol li svg {
  margin-right: 4px;
}
.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -.125em;
}
.page {
  font-size: 12px;
  padding: 30px 0 0 0;
  font-family: Arial;
  line-height: 18px;
  text-align: center;
}
.page .PageNum span {
  font-weight: bold;
  display: inline-block;
  color: #fff;
  padding: 3px 10px;
  background: #ff6c40;
  margin: 0px 3px 5px 0px;
  background: #ff6c40;
}

.page .PageNum a {
  display: inline-block;
  color: #666;
  padding: 3px 10px;
  background: #f9f9f9;
  border: 1px solid #fff;
  margin: 0px 3px 5px 0px;
}
.page .PageNum a:hover{
  background: #ff6c40;
  background: #ff6c40;
  color: #fff;
}