@import "variables.scss";
@import "bosch-font.scss";
@import "header.scss";
@import "product.scss";
.container {
  max-width: 1170px;
}
.slidehome {
  .item {
    position: relative;
  }

  .owl-item img {
    width: 100%;
  }
}
.breadcrumb>li{
  &+li:before{
    display:none;
  }
  a{
    color:#000;
    font-weight:normal;
  }
}
.fsl{
  display:none;
}
.teaser {
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  padding: 15px;
  max-width: 680px;

  &.top-left {
    left: 10%;
    top: 10%;
    width: calc(100% / 3 * 2)
  }

  .a-heading {
    margin: 20px 0;
  }

  p {
    font-size: .875em;
    line-height: 1.5;
    margin: 20px 0 30px;
  }

  .a-button-primary {
    background: #00639a;
    color: #fff;
    height: 48px;
    display: inline-block;
    padding: 13px 20px;
  }
}

aside #sync1 .owl-controls {
  top: 100%;
}
.teaser{
  .a-heading {
    line-height: 1.3;
    font-size: 2.125em;
    font-weight: normal;
  }
}
.slidehome .owl-controls {
  .owl-buttons {
    div {
      position: absolute;
      top: calc(50% - 16px);
      background: transparent;

      i:before {
        color: #00639a;
      }
    }

    .owl-prev {
      left: 10px;
    }

    .owl-next {
      right: 10px;
    }
  }

  .owl-pagination {
    padding: 10px 0;
    position: absolute;
    z-index: 1;
  }

  .owl-page {
    &.active span {
      transform: scale(2);
      background: #00639a;
      opacity: 1;
    }

    span {
      width: 8px;
      height: 8px;
      margin:0 10px;
    }
  }
}
.topic .ddinfo{
  padding:0!important;
}
.f .topic{
  img{
    height:auto;
  }
  .ddimg {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 20px;
    margin-bottom:40px;
  }
}
.category-container{
  background-position: center center;
  background-size: cover;
  position: relative;
}
.slide-category {
  max-width: 1170px;
  margin:0 auto;
  padding: 80px 70px;

  .slick-arrow{
    border-top: 2px solid #00639A;
  }
  .slick-prev{
    border-left: 2px solid #00639A;
    transform: rotate(-45deg);
  }
  .slick-next{
    border-right: 2px solid #00639A;
    transform: rotate(45deg);
  }
  .slick-slide {
    padding: 0 10px;

  }
  .topic{
    padding:20px;
    background:#fff;
    margin-bottom:20px;
  }
  .a-link{
    display: flex;
    align-items: center;
    padding-left: 15px;
    position: relative;
    &:before{
      content: '';
      width: 5px;
      height: 5px;
      border-top: 1px solid #00639A;
      border-right: 1px solid #00639A;
      display: inline-block;
      transform: rotate(45deg);
      left: 0;
      top:10px;
      position:absolute;
      transition: 0.4s all;
    }
    &:hover{
      color:#000;
      &:before{
        border-color: #000!important;
        left: 3px;
      }
    }
  }
  li{
    margin-bottom:15px;
    &:first-child{
      font-weight: bold;
      .a-link-primary{
        &:before{
          border-top: 2px solid #00639A;
          border-right: 2px solid #00639A;
        }
      }
    }
  }
}
.o-serviceteaserarea{
  background-position: 50% 50%;
  background-size: cover;
  display:flex;
  max-width:1170px;
  margin:auto;
  color: #f7f7f7;
  padding-bottom: 70px;
  a{
    color:#f7f7f7;
    position: relative;
    &:after{
      content: '';
      width: 5px;
      height: 5px;
      border-top: 1px solid #f7f7f7;
      border-right: 1px solid #f7f7f7;
      display: inline-block;
      transform: rotate(45deg);
      right: -10px;
      top:7px;
      position:absolute;
      transition: 0.4s all;
    }
    &:hover:after{
      right: -14px;
    }
  }
  .m-serviceteaser{
    margin-top: 70px;
    padding: 0 20px;
    width: 25%;
    border-right: 1px solid;
    &:last-child{
      border:none;
    }
  }
  .a-heading{
    font-size: 1.75em;
    line-height: 1.3;
    margin-bottom:20px;
    font-weight:normal;
  }
  p{
    line-height: 1.5;
    margin-bottom: 30px;
  }
}
.pagingInfo {
  text-align: center;
  letter-spacing: 3px;
  margin-top: 30px;
  position: absolute;
  bottom: 60px;
  width: 100%;
}
.footer-container,.footer-head{
  display: flex;
  max-width: 1170px;
  margin: 20px auto;
  padding:0 20px;
  .footer-column{
    width:25%;
  }
  .a-link{
    color:#000;
  }
}
.footer-head{
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 10px;
  margin: 20px auto;
  .m-footerpagefunctionsfollow{
    display: flex;
    justify-content: space-between;
    width:100%;
  }
  .shares,.list-unstyled{
    display: flex;
    width:50%;
    @media screen and (max-width: 899px) {
      align-items: center;
      margin: 5px 0;
    }
  }
  .a-link{
    width: 40px;
    border: 1px solid;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    &:hover{
      text-decoration: none;
    }
  }
  i,.fa:before{
    font-size:20px;
  }
}
.newest{
  display: flex;
  max-width: 1170px;
  padding: 100px 0 50px;
  .flexnew{
    background: transparent;
    padding:0 20px;
  }
  h4{
    margin: 20px 0;
    font-size: 1.5em;
    a{
      color:#000;
    }
  }
  p{
    margin-bottom: 30px;
  }
  .a-link-primary{
    position:relative;
    &:hover{
      color:#000;
    }
    &:after{
      content: '';
      width: 5px;
      height: 5px;
      border-top: 1px solid #00639a;
      border-right: 1px solid #00639a;
      display: inline-block;
      transform: rotate(45deg);
      right: -10px;
      top:7px;
      position:absolute;
      transition: 0.4s all;
    }
    &:hover:after{
      right: -14px;
      border-color:#000;
    }
  }
}
.m-footerlinkscopyright {
  margin-top: 80px;
  .list-unstyled{
    display:flex;
    li{
      margin-right:20px;
      color: #000;
      &:first-child{
        font-weight:bold;
      }
    }
    .text{
      font-size: 12px;
      color:#000;
    }
  }
}
.toptit{
  margin-bottom:10px;
  color:#000;
  font-weight: bold;

}
footer{
  background: #fff;
  .b{
    max-width:none;
    padding:0 10px;
  }
}
.contact_now,
#showform_lh,
.badge,.manuface_g,
.b .breadcrumb,
.down-price,
.real-price{
  display: none!important;
}
.hp-pro{
  flex-direction: column;
  display: flex;
  width: 100%;
}
.number-product{
  font-weight:bold;
}
.othpro{
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  margin:0;
  ul{
    top:100%;
  }
  label{
    position: relative;
    width: 100%;
    padding:10px 0;
    &::after{
      font-family: "Font Awesome 5 Pro";
      content: "\f107";
      position: absolute;
      right:0;
      top:20px;
    }
  }
  li{
    position: relative;
    width:20%;
    margin:0 10px;
    display: flex;
    align-items: center;
    &:first-child{
      margin-left: 0;
      label{
        padding-left:0;
      }
    }
    .fal{
      font-size:28px;
      color:#000;
      margin:0 10px;
    }
    &.filter-reset{
      color: #00639a;
      cursor: pointer;
    }
    .fa-redo{
      transform: rotateY(180deg);
      color: #00639a;
    }
    .active .fal{
      color: #00639a;
    }
  }

}
.filter-drop{
  border-bottom: 2px solid #e6e6e6;
}
.product-status{
  display: flex!important;
  align-items: center;
  padding: 0;
  &:before{
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right:5px;
  }

  &.in-stock{
    color: #00705c;
    &:before{
      background: #00705c;
    }
  }
  &.out-of-stock{
    color:#e11f26;
    &:before{
      background: #e11f26;
    }
  }
}
body{
  .f > #Product > .gri > .gi p{
    height:auto;
    text-align:left;
    line-height:normal;
  }
  .final-price{
    margin-bottom:20px;
    text-align:left;
  }
  #Product{
    padding: 50px 0 100px;
    display: flex;
    flex-wrap: wrap;
    .added-cart{
      position:absolute;
      background:#fff;
      padding:20px;
      z-index: 5;
      border:1px solid #000;
      height:auto!important;
      display:none;
      bottom:calc(50% + 15px);
      width: 150%;
      left: -25%;

    }
    .shopping-cart-btn{
      display: inline-block;
      padding: 15px;
      color: #fff;
      background-color: #00639a;
      width:100%;
    }
    .img-item{
      width:50%;
      height:auto!important;
    }
    .content-item{
      display:flex;
      flex-direction: column;
      width:50%;
      padding-left:10px;
      .sku{
        font-size:14px;
        margin-bottom:0!important;
        height:auto!important;
      }
      .final-price{
        font-size:14px;
        margin-bottom: 20px!important;
      }
      .quantity{
        text-align: left;
        color:#000;
        #number{
          display: inline;
          width: auto;
          height: auto;
          float: none;
          background: transparent;
          color: #333;
          margin-bottom: 0;
        }
      }
    }

    .fa-shopping-cart{
      transform: rotateY(180deg);
      padding-left: 5px;
    }
    .sku{
      font-weight: bold;
      color:#000;
      font-size: 22px;
      text-align:left;
    }
    a{
      color:#000;
      &:hover{
        text-decoration: none;
      }
    }
    .product-price{
      height:auto!important;
    }
    .action-container{
      position: relative;
      display: flex;
      flex-direction: column;
      height:auto!important;
      .grid-add-cart,a{
        width:100%;
      }
    }
    .final-price{
      font-size:32px;
      color:#00639a;
      font-weight: bold;
      height:auto!important;
    }
    .gri{
      overflow: initial;
      min-height: auto!important;
      border:1px solid transparent;
      padding:0 15px;
      >div:nth-last-child(1){
        border:none;
        height: auto;
        span:not(.final-price){
          width:100%;
          border:none;
          background: #009bd9;
          margin-bottom:15px;
          font-size:16px;
          color:#fff;
          height:48px;
          display:flex;
          align-items: center;
          justify-content: center;
          position: relative;
          &:after{
            content: "";
            opacity: 0.1;
            background-color: #fff;
            height: 100%;
            width: 100%;
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            transition: 0.8s;
            transform: translateY(100%);
          }
          &:hover:after{
            transform:translateY(0);
          }
          &.gri-view-pro{
            background:#00639a;
          }
        }

      }

      &:hover{
        border-color: #ccc;
      }
      .gi{
        .image-product{
          min-height: 240px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        span b{
          color:#00639a;
          font-size:32px;
        }
        div:nth-child(2){
          height:auto;
          margin: 10px 0 25px;
        }
      }
      h2{
        text-align: left;
        margin-bottom: 0;
      }
    }
    .product_content{
      display:none;
    }
    .product_intro{
      color:#000;
    }
    &.list{
      .gri{
        width:100%;
        margin:0;
        border: none;
        h2{
          margin:0 0 10px;
        }
      }
      .gi{
        display: flex;
        flex-direction: row;
        div:nth-child(2){
          margin-top:0;
        }
        .image-product{
          display: block;
        }
        .product_content{
          height:auto;
          display: block;
          p {
            display: block;
            span{
              height:auto;
              display: block;
              background:transparent;
              color:#000;
              line-height: normal;
              font-size:13px!important;
              &:after{
                content:none;
              }
            }
          }
        }
      }
      .product-content-height{
        padding:0 20px;
        width:50%;
      }
      .image-product{
        width:25%;
      }
      .product-price{
        width: 25%;
      }
    }
  }
  .gi{
    h2{
        font-size: 1.75em;
        color:#000;
    }
  }
}
.da{
  position: relative;
}
.added-cart{
  position: absolute;
  background: #fff;
  padding: 20px;
  z-index: 9999;
  border: 1px solid #000;
  height: auto !important;
  display: none;
  bottom: calc(100% + 15px);
  width: 150%;
  left: -25%;
  &:before,&:after{
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  &:after{
    border-top-color: #fff;
    border-width: 15px;
    margin-left: -15px;
  }
  &:before{
    border-color: transparent;
    border-top-color:#000;
    border-width: 16px;
    margin-left: -16px;
  }

  h2{
    margin-top:0;
    text-align: left;
  }
  .info-item{
    display:flex;
  }
  .final-price{
    color: #00639a;
    font-weight: bold;
  }
  .fa-times {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }
  .sku {
    font-size: 14px;
    margin-bottom: 0 !important;
    height: auto !important;
    text-align: left;
    font-weight:bold;
  }
  .shopping-cart-btn {
    display: inline-block;
    padding: 15px;
    color: #fff;
    background-color: #00639a;
    width:100%;
  }
  .quantity{
    justify-content: left;
  }
  .img-item {
    width: 50%;
    height: auto !important;
  }
  .content-item {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 10px;
    margin-bottom:20px;
  }
}
.banner-text iframe {
  max-width: 100%;
}
#SPTT3 #Product{
  display:block;
}
@media(max-width: 1024px){
  .layout-drop{
    display:none!important;
  }
  .hp-pro{
    padding:0 20px;
  }
  .othpro li{
    width:calc((100% / 3) - 20px);
  }
  body #Product.list {
    .gri{
      padding:0 5px;
    }
    .gi{
      flex-wrap: wrap;
      justify-content: flex-end;
      .product_content{
        display:none;
      }
      .image-product{
        width:30%;
        min-height:auto;
      }
    }
    .product-content-height{
      width:70%;
      min-height:200px;
    }
    .product-price{
      width:70%;
      padding: 0 20px;
    }

  }
  .footer-head{
    padding: 0 5px;
  }
  .slidehome{
    border-bottom: 1px solid #e6e6e6;
  }
  .pagingInfo{
    display:none;
  }
  .slide-category{
    padding:0;
    display: flex;
    flex-direction: column;
    .topic{
      margin-bottom: 0;
    }
  }
  .newest{
    flex-direction: column;
    .flexnew{
      margin-bottom: 20px;
    }
  }
  .content-inner{
    height:auto!important;
  }
  .teaser{
    position: static;
    &.top-left{
      width:100%;
    }
  }
  .owl-carousel .owl-controls .owl-buttons{
    display: none!important;
  }
  .o-serviceteaserarea{
    flex-direction: column;
    padding-bottom: 0;
    .m-serviceteaser{
      width: 100%;
      height:auto!important;
      margin-top: 40px;
      border-bottom: 1px solid;
      padding-bottom: 40px;
    }
  }
  #footer .b{
    padding:0;
  }
  .toptit{
    width: 100%;
    display: block;
    margin: 0 0 10px 0;
    padding:15px 0;
  }

  .fix-box{
    width: 100%;
    min-height:auto;
  }
  .footer-column{
    position: relative;
    width: calc(100% - 10px);
    margin: auto;
    border-bottom: 1px solid #e6e6e6;
    .list-unstyled{
      display: none;
    }
    &.active:after{
      content:none;
    }
    &:before,&:after{
      width: 20px;
      height: 2px;
      background: #00639a;
      content: "";
      display: block;
      position: absolute;
      right: 10px;
      top:24px;
    }
    &:after{
      transform: rotate(90deg);
    }
  }
  .footer-container{
    padding:0;
    display: flex;
    flex-direction: column;
    .footer-column{
      width: 100%;
      padding:0 5px;
    }
  }
  .m-footerlinkscopyright .list-unstyled{
    flex-direction: column;
    padding:0 5px;
  }

}

@media screen and (max-width: 899px) {
  .banner_footer_image,
  .banner_header_top_image{
    display: none;
  }
  body {
    &::after {
      content: '';
      display: block;
      height: 15px;
      background-size: cover;
      background-position: top center;
      width: 100%;
      background-image: url(/public/frontend/themes/bosch/image/shape_horizontal.svg);
    }
  }
  #footer {
    .footer-head {
      padding: 10px 5px;
      margin: 0;
    }
    .toptit {
      margin: 0;
      padding: 20px 0;
      & ~ div {
        display: none;
      }
    }
    .footer-column {
      &::before,
      &::after {
        top: 30px;
      }
    }
  }
  .f {
    .topic {
      img {
        max-height: 245px;
        width: auto;
        margin: auto;
      }
    }
  }
}