@font-face {
  font-family: 'boschsans';
  src: url(/public/assets/fonts/boschsans-regular-webfont.woff2) format("woff2");
}

@font-face {
  font-family: 'boschsans-bold';
  src: url(/public/assets/fonts/boschsans-bold-webfont.woff2) format("woff2");
}

@font-face {
  font-family: 'boschsans-light';
  src: url(/public/assets/fonts/boschsans-light-webfont.woff2) format("woff2");
}
