.header {
  font-family: 'boschsans', serif;
  background-color: white;
  .header-top {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
    & > {
      nav.meta,
      .logo,
      .identifier {
        width: 33.3333333%;
      }
    }
  }
  .header-bot {
    display: flex;
    nav {
      padding-top: 15px;
      width: 75%;
      a {
        height: 45px;
        display: inline-block;
        color: $textColor;
        margin-right: 20px;
        transition: ease 300ms;
        position: relative;
        font-size: 16px;
        &:hover,
        &:active,
        &:focus {
          text-decoration: none;
          color: $linkColor;
        }
        &:hover {
          &::after{
            width: 100%;
          }
        }
        &::after {
          content: '';
          display: block;
          background-color: $linkColor;
          height: 2px;
          position: absolute;
          bottom: 2px;
          width: 0;
          transition: $ease300;
        }
      }
    }
  }
  .meta {
    a {
      font-size: 12px;
      font-weight: 100;
      color: $textColor;
      margin-right: 10px;
      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
      }
    }
  }
  .logo {
    margin-right: 0;
  }
  .lang-btn {
    text-align: right;
  }
  .identifier {
    h3 {
      font-family: 'boschsans-light', serif !important;
    }
    a{
      color:#000;
      &:hover{
        text-decoration: none;
      }
    }
  }
  .tim {
    width: 100%!important;
    height: 100%;
  }
  .search-box {
    position: relative;
    display: block;
    border: none;
    width: 25%;
    left: 0;
    top: 0;
    margin-top: 5px;
    button {
      position: absolute;
      right: 0;
      top: 0;
      border: none;
      background-color: transparent;
      width: 40px;
      height: 40px;
      i {
        &::before {
          font-size: 16px;
        }
      }
    }
  }
  .search-result {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    filter: drop-shadow(0 0 1px rgba(0,0,0,0.75));
    &::before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      background-color: white;
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-50%,-50%) rotate(45deg);
    }
  }
  .search1 {
    width: 75%;
    transition: ease 400ms;
    text-overflow: ellipsis;
    float: right;
    padding-right: 40px;
    padding-left: 10px;
    height: 40px;
    border: none;
    font-size: 14px;
    border-bottom: 1px solid $borderRed;
    border-radius: 0;
    &:focus {
      width: 100%;
      border-color: black;
    }
    &::placeholder {
      color: #ccc;
    }
  }
  .conversion-bar {
    border-top: 2px solid $borderLightGrey;
    border-bottom: 1px solid $borderLightGrey;
    padding-top: 10px;
    padding-bottom: 10px;
    .breadcrumb {
      float: left;
      padding: 0;
      display: inline-block;
      width: auto;
      background: transparent;
      margin: 2px 0 0;
    }
  }
  .m-conversion {
    width: fit-content;
    margin-left: auto;
    margin-right: 0;
    a {
      color: $textColor;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      height: 24px;
      padding-right: 10px;
      border-left: 1px solid $borderLightGrey;
      &:first-child {
        border-left: none;
      }
      &:hover,
      &:focus{
        color: $linkColor;
        text-decoration: none;
      }
    }

    .fal {
      margin-right: 10px;
      margin-left: 15px;
      position: relative;
      transform: scale(-1,1);
      &::before {
        font-size: 20px;
        line-height: 24px;
      }
      span {
        position: absolute;
        left: 0;
        bottom: 0px;
        min-width: 12px;
        height: 12px;
        padding: 2px;
        background-color: $blueColor;
        font-size: 8px;
        display: block;
        color: white;
        text-align: center;
        border-radius: 100px;
        transform: rotate(180deg);
      }
    }
  }
  .nav-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 9999;
    height: 45px;
    transform: translateY(-100%);
    transition: $ease300;
    box-shadow: 0 0 1px;
    &.active {
      transform: translateY(15px);
    }
    .container {
      display: flex;
    }
    &.header-bot {
      nav {
        padding-top: 0;
        width: auto;
        display: flex;
        a {
          padding: 10px 0;
        }
      }
    }
    .m-conversion {
      position: static;
      a {
        padding: 0 10px;
        margin: 10px 0;
        font-size:20px;
      }
      .fal {
        margin-left: 5px;
        margin-right: 10px;
      }
    }
  }
  .mobile {
    display: none;
  }
  .mb-menu-btn {
    display: none;
    padding: 10px;
    &::before {
      font-size: 24px;
      line-height: 24px;
    }
  }
  .mobile-nav {
    display: none;
    z-index: 1;
    background-color: white;
    width: 100%;
    &.active {
      display: flex;
      flex-direction: column;
    }

    a {
      color: black;
      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
      }
      &:last-child {
        border-bottom: unset;
      }
    }
    .mb-main-nav {
      display: flex;
      flex-direction: column;
      width: 100%;
      transition: 0.5s all;
      .flexJus{
        transition: transform 0.5s;
      }
      &.level1{
        width: 100%;
        transform: translateX(-100%);
        >ul >li{
          display: none;
          &.level1{
            display: block;
          }
        }
      }
      &.level2{
        .flexJus{
          transform: translateX(-100%);
          margin-top:-55px;
        }
        .hover1 a{
          padding:15px 10px;
        }
      }
      .b,#menu-show{
        border:none;
        padding:0;
      }
      .a-link{
        padding: 20px 15px;
        display: block;
      }
      .has-child-level{
        &:after{
          content:"\f054";
          font-family: "Font Awesome 5 Pro";
          right:15px;
          position:absolute;
        }
      }
      .hover1{
        width:100%;
        text-align: left;
        border-bottom:1px solid #ccc;
        padding:0;
        display: flex;
        flex-direction: column;
        >a{
          width:100%;
          display:flex;
          align-items: center;
        }
      }
      li {
        font-size: 16px;
        border-bottom: 1px solid #ccc;
        width:100%;
        a{
          color:#000;
        }
      }
      .sub-menu{
        display: none!important;
        padding: 0;
        transform: translateX(100%);
        &.level1,&.level2{
          display: block!important;
        }
        .btn-close,
        .cat-img,
        img{
          display:none!important;
        }
        .menu-hover{
          font-size:16px;
          display: flex;
          align-items: center;
        }
      }
    }
    .drop-title{
      position: absolute;
      display: none;
      &.level1{
        display: block;
        width: 100%;
      }
      .drop-name{
        font-size:16px;
        padding:20px 10px 20px 25px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #ccc;
        &:before{
          content:"\f053";
          font-family: "Font Awesome 5 Pro";
          left:10px;
          position:absolute;
          font-size:13px;
        }
      }
    }
    .mb-meta-nav {
      display: flex;
      flex-direction: column;
      width: 100%;
      a {
        padding: 10px 15px;
        font-family: 'boschsans-light' !important;
        font-size: 12px;
        &.btn-change-lang {
          margin-top: 10px;
        }
      }
    }
  }
  .close-mb-menu {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    align-self: center;
    border: 1px solid #ccc;
    background-color: white;
    max-width: 320px;
    width: 100%;
  }
  .mb-search-box {
    display: none;
  }
  .list-sub-category{
    display:flex!important;
    flex-direction:column;
    padding-top:0!important;
    .hover1{
      width:100% !important;
    }
    a{
      width:100%;
      text-align: left;
      font-size:16px;
    }
  }
  .menu-items {
    .b.flexJus {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: left;
      .hover1 {
        width: 25%;
        display: flex;
        flex-direction: column;
        >a {
          width:100%;
          padding-bottom: 10px;
          &:hover{
            text-decoration: none;
            color: #000;
            span::before{
              color: #000;
            }
          }
        }
        img {
          width: 100%;
          height: auto;
          object-fit: contain;
        }
        span {
          font-size: 16px;
          font-family: 'boschsans-bold' !important;
          color: $blueColor;
          text-align: left;
          position: relative;
          margin-top:5px;
          font-weight: bold;
          &::before {
            content: '\F054';
            font-family: "Font Awesome 5 Pro";
            position: absolute;
            right: 10px;
            font-size:12px;
            top: 3px;
            color: $blueColor;
          }
          &:hover {
            text-decoration: none;
            color: black;
          }
        }
      }
    }
    .cat-img {
      width: 100%;
      height: 132px;
      overflow: hidden;
    }
  }
  .menu-items {
    border-top: 1px solid #ccc;
    position: relative;
    top: 1px;
  }
  #menu-show {
    display: block;
    background-color: transparent;
  }
  ul.sub-menu {
    position: relative;
    padding: 20px 0;
    margin-bottom: 0;
    &::after {
      content:'';
      display: block;
      clear:both;
    }
    button {
      font-family: boschsans-light;
      font-size: 16px;
      padding: 0 50px;
      height: 48px;
      line-height: 48px;
      border: 1px solid #ccc;
      color: black;
    }
  }
  li.sub-menu-item {
    border-bottom: none;
    padding: 10px;
    width: 25%;
    float: left;
    position: relative;
    line-height: 30px;

    &> a {
      font-size: 16px;
      font-family: 'boschsans-bold' !important;
      color: $blueColor;
      position: relative;
      display: block;
      margin-top:5px;
      &::before {
        content: '\F054';
        font-family: "Font Awesome 5 Pro";
        position: absolute;
        right: 10px;
        font-size:12px;
        top: 0;
        color: $blueColor;
      }
      &:hover {
        color: black;
        text-decoration: none;
      }
    }
  }
  .sub-menu3 {
    margin-top: 10px
  }

  &::before {
    content: '';
    display: block;
    height: 15px;
    background-size: cover;
    background-position: top center;
    width: 100%;
  }
  .nav-sticky::before {
    content: '';
    display: block;
    background-image: url(/public/frontend/themes/bosch/image/shape_horizontal.svg);
    height: 15px;
    background-size: cover;
    background-position: top center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
  }
}
@media screen and (max-width: 899px) {
  .header {
    &::before {
      background-image: url(/public/frontend/themes/bosch/image/shape_horizontal.svg);
    }
    .mb-menu-btn {
      display: inline-flex;
      align-items: center;
      span{
        padding-left:10px;
        text-transform: capitalize;
        font-size: 16px;
      }
      &::before {
        content: '\f0c9';
        font-family: "Font Awesome 5 Pro";
      }
      &.fa-close::before {
        content: '\F00D';
      }
    }
    .header-top {
      .meta,
      .lang-btn a {
        display: none;
      }
    }
    .header-bot {
      nav,
      .search-box {
        display: none;
      }
    }
    .container {
      width: 100%;
    }
    .conversion-bar {
      padding: 15px 0;
      height: fit-content;
      .breadcrumb {
        display: none;
      }
      .m-conversion:not(.mobile) {
        display: none;
      }
      .m-conversion.mobile {
        display: block;
      }
      .mb-menu-btn {
        padding: 0;
        float: left;
        margin-top: 1px;
      }
    }
    .nav-sticky {
      &.header-bot {
        padding: 10px 0;
        height: fit-content;
        nav {
          display: none;
        }
      }
      .m-conversion {
        .fal {
          margin-left: 10px;
          margin-right: 5px;
        }
      }
    }
    .m-conversion {
      a {
        padding-left: 10px;
      }
      .fal {
        margin-left: 10px;
        margin-right: 5px;
      }
    }
    .mb-search-box {
      position: relative;
      padding: 10px;
      &.active {
        display: block;
      }
      input {
        min-width: 100%;
        float: none !important;
      }
      button {
        position: absolute;
        right: 25px;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
        text-align: right;
        ::before {
          font-size: 24px;
          line-height: 24px;
        }
      }
    }
    .search-result {
      z-index: 1;
      position: static;
      margin-top: 20px;
      width: 100%;
      background: white;
    }
  }
}

@media screen and (max-width: 599px) {
  .header {
    .to-top-btn[data-action=to-top] {
      display: none;
    }
    .m-conversion {
      .fal {
        &::before {
          font-size: 18px;
        }
      }
      a {
        padding-left: 8px;
        padding-right: 8px;
      }
    }
  }
}
