.product-view {
  .image-slide {
    width: 75%;
    float: left;
    margin-top: 10px;
    position: relative;
    padding: 0 15px;
    .slick-arrow{
      color: $blueColor;
      position: absolute;
      z-index: 1;
      font-size: 50px;
      &.fa-chevron-left {
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
      }
      &.fa-chevron-right {
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
      }
    }
  }
  .main-slide {
    height: auto;
    margin-bottom: 10px;
    .slick-slide {
      height: 458px;
      > div {
        height: 100%;
        width: 100%;
        > div {
          height: 100%;
        }
      }
      img {
        object-fit: contain;
        margin: auto;
      }
    }
  }
  .thumb-slide {
    height: auto;
    margin-bottom: 50px;
    .slick-slide {
      height: 74px;
      margin: 5px 0;
      padding: 0 5px;
      position: relative;
      outline: none;
      &:hover {
        &::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 1;
          top: 0;
          left: 0;
          background-color: rgba(0, 0, 0, 0.25);
        }
      }
      &.slick-current {
        outline: 2px solid #ccc;
      }
      > div {
        height: 100%;
        width: 100%;
        > div {
          height: 100%;
        }
      }
      img {
        object-fit: contain;
        margin: auto;
      }
    }

    .slick-arrow{
      font-size: 25px;
    }
    .slick-list {
      width: calc(100% - 100px);
      margin: auto;
    }
  }
  .service {
    width: 25%;
    float: left;
  }
  .rating-summary {
    .star-bg {
      position: relative;
      color: #bfc0c2;
      display: inline-block;
    }
    .star-front {
      position: absolute;
      left: 0;
      top: 0;
      width: 50%;
      white-space: nowrap;
      overflow: hidden;
      color: #00639a;
    }
  }
  .hide {
    display: none !important;
  }
  .rating-summary {
    margin-bottom: 10px;
    font-size: 16px;
  }

  .total-review {
    margin-top: 5px;
    color: $blueColor;
  }

  .rate-number {
    color: $blueColor;
  }

  .dbprice {
    span {
      color: $blueColor;
      font-size: 32px;
      font-family: 'boschsans-bold' !important;
    }
  }
  .old-price {
    font-size: 16px;
    color: black;
    opacity: 0.5;
  }
  .addtocart_3CEN {
    border-radius: 0;
    padding: 15px;
    font-family: 'boschsans-light' !important;
  }
  .quantity {
    margin-top: 30px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    input {
      height: 48px;
      width: 40%;
      border: none;
      border-bottom: 1px solid #ccc;
      text-align: center;
      &:focus,
      &:active{
        background-color: #f5f5f5;
        border-bottom: 1px solid $blueColor;
      }
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
    i {
      width: 30%;
      height: 48px;
      line-height: 48px;
      font-size: 20px;
      border-bottom: 1px solid #ccc;
      cursor: pointer;
      &:hover {
        background-color: #f5f5f5;
      }
      &.disabled {
        color: #ddd;
      }
    }
  }
  .stock-available {
    margin-top: 30px;
    text-align: left;
    span {
      width: 15px;
      height: 15px;
      display: inline-block;
      border-radius: 50%;
      vertical-align: middle;
    }
    .on {
      background-color: #00705c;
    }
    .off {
      background-color: #700020;
    }

  }
  #name_pr {
    font-size: 40px;
  }
  .product-slug {
    font-family: 'boschsans-bold' !important;
    font-size: 32px;
    margin-bottom: 40px;
  }
  .product-service {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }
  .f.padb.dbi {
    border-top: none;
  }
  .tabdetail {
    width: 100%;
    box-shadow: none;
    span {
      border-right: none;
      display: inline-block;
      color: black;
      margin-right: 0;
      transition: $ease300;
      position: relative;
      font-size: 16px;
      padding: 0 20px;
      &.on::after {
        width: 100%;
      }
      &::after {
        content: '';
        display: block;
        background-color: $linkColor;
        height: 2px;
        position: absolute;
        left: 0;
        bottom: 2px;
        width: 0;
        transition: $ease300;
      }
      &:hover {
        &::after{
          width: 100%;
        }
      }
    }
  }
  #Pcontent {
    border-top: none;
    padding: 0;
    margin: 0;
  }
  .thongso-item {
    border-bottom: 1px solid #ccc;
    padding: 0 20px;
    h3 {
      margin: 0;
      padding: 30px 0;
      position: relative;
      font-family: 'boschsans-light' !important;
      &::after {
        content: '\f067';
        font-family: 'Font Awesome 5 Pro';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      &.on::after {
        content: '\f068';
      }
    }
    .content {
      margin-bottom: 10px;
    }
  }
  .viewed-product {
    .slick-slide {
      & > div {
        margin: 0 10px;
        padding: 0 10px;
        background: white;
        display: inline-block;
      }
    }
    .gri {
      &:hover {
        border-color: transparent !important;
      }
    }
    .final-price {
      white-space: nowrap;
    }
  }
  .slide-fullscreen {
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99999;

    &.active {
      top: 0;
      display: flex;
    }
  }

  .fullscreen-box {
    height: 80%;
    width: 60%;
    margin: auto;
    background-color: white;
    padding: 35px;
  }

  .full-slider {
    height: calc(100% - 40px);
    padding: 20px 0;
    overflow: hidden;

    .slick-list, .slick-track {
      height: 100%;
    }

    .slick-slide {
      height: 100%;

      > div {
        height: 100%;

        > div {
          height: 100%;
          overflow: hidden;
          display: inline-flex !important;

          > img {
            max-height: 100%;
            max-width: 100%;
            object-fit: contain;
            margin: auto;
            transform: matrix(1, 0, 0, 1, 0, 0);
            transform-origin: 50% 50%;
            transition: transform 200ms ease-in-out 0s;
            position: relative;
            cursor: move;
          }
        }
      }
    }
  }

  .close-wrapper span, .zoom span {
    font-family: 'Font Awesome 5 Pro' !important;
    font-size: 20px;
  }

  .close-wrapper, .zoom {
    height: 20px;
    text-align: right;
    cursor: pointer;
  }

  .close-wrapper span::before {
    content: "\f00d";
  }

  .zoom > span {
    &:first-child {
      margin-right: 30px;
    }

    &.disabled {
      pointer-events: none;
      color: #dadada;
    }
  }
  .image-slide .slick-arrow.slick-disabled {
    color: #dadada;
  }
}

@media screen and (max-width: 899px) {
  .product-view {
    .image-slide{
      padding-left: 0;
      padding-right: 0;
      width: 100%;
    }
    .service {
      width: 100%;
    }
    .addtocart_3CEN {
      width: 50%;
    }
    #dacdiemnoibat,
    #Pcontent,
    #thongso{
      padding-left: 15px;
      padding-right: 15px;
    }
    .fullscreen-box {
      height: 100%;
      width: 100%;
    }
  }
  .product-service,
  .product-content {
    .container-fluid {
      padding-left: 0;
      padding-right: 0;
    }
    .container {
      padding-left: 0;
      padding-right: 0;
      min-width: 100%;
    }
  }
  .image-line {
    margin-left: -15px;
    margin-right: -15px;
  }
  #Product.viewed-product {
    padding-top: 0;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 70px;
  }
  .viewed-product {
    .slick-prev {
      z-index: 1;
      top: 100%;
      left: 40%;
      transform: translateX(-100%);
      &:before {
        opacity: 1;
        content: "\f104";
        font-size: 50px;
        color: #999;
        font-family: "FontAwesome";
      }
    }
    .slick-next {
      z-index: 1;
      top: 100%;
      right: 40%;
      transform: translateX(100%);
      &:before {
        opacity: 1;
        content: "\f105";
        font-size: 50px;
        color: #999;
        font-family: "FontAwesome";
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .product-view {
    .pspanel {
      width: 92%;
    }
  }
}
